Repository pantheon-systems/documentation, pull requests merged in 2019-10, with the labels that each got.

#5165 Update solr.md
  source/content/solr.md
Labels: CSM, New Content

#5163 Terminus versioning
  .circleci/config.yml
  gatsby/gatsby-config.js
  gatsby/src/templates/terminuspage.js
  scripts/update-terminus-commands.sh
  source/content/terminus/updates.md
  source/data/commands.json
  source/data/releases.json
Labels: Copy Review, Fix Content

#5175 Update Traffic limits Language
  source/content/traffic-limits.md
  source/partials/traffic-dl.md
Labels: Copy Review, New Content, Pantheor

#5170 Clean up primary domain and HSTS instructions
  source/content/domains.md
  source/content/guides/launch/05-redirects.md
  source/content/redirects.md
  source/partials/primary-domain.md
Labels: Copy Review, Fix Content

#5174 Code Block Command Prompts
  gatsby/gatsby-browser.js
  gatsby/src/components/styleExample/style.css
  gatsby/src/layout/layout/style.css
  gatsby/src/styles/codeBlocks.css
  source/content/guides/terminus-drupal-site-management.md
  source/content/style-guide.md
Labels: Technical Review

#5161 update dns partial for A records > CNAME
  source/partials/configure-dns.md
Labels: Copy Review

#5129 Update custom-certificates.md
  source/content/custom-certificates.md
Labels: Copy Review, New Content, PS

#5150 Instruct contributors to install Node dependencies with npm ci
  README.md
Labels: Pantheor, Site, Technical Review

#5144 Limit simultaneous connections - FileZilla
  source/content/filezilla.md
  source/images/filezilla-limit-connections.png
Labels: CSM

#5186 update multipage guide title meta
  gatsby/src/templates/guide.js
Labels: Copy Review, Site

#5184 Update HTTP-To-HTTPS for Primary Domain and HSTS
  gatsby/src/components/alert/style.css
  source/content/http-to-https.md
Labels: Technical Review

#5169 Update Github Templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Site

#5178 Document infinitewp issues and resolutions
  source/content/modules-plugins-known-issues.md
Labels: CSE, Technical Review

#5195 Ci test then deploy
  .circleci/config.yml
  scripts/deploy-live.sh
  scripts/deploy-multidev.sh
  scripts/terminus-installer.php
Labels: Site, Technical Review

#5197 Choose Primary domain from Dashboard
  .circleci/config.yml
  source/content/domains.md
  source/content/guides/launch/05-redirects.md
  source/content/redirects.md
  source/images/dashboard/choose-primary-domain.png
  source/partials/primary-domain.md
Labels: New Content, Product

#5196 update webfonts css
  gatsby/src/layout/topics-grid/index.js
  gatsby/src/pages/index.js
  gatsby/src/templates/landing.js
  source/docs/assets/fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css
Labels: Site

#5202 October changelog
  source/changelogs/2019-10-01-October.md
Labels: New Content

#5209 Only run the deploy job on the master branch
  .circleci/config.yml
Labels: Site

#5221 Update Cloudflare directions
  source/content/dns-providers/cloudflare.md
  source/images/cloudflare-ssl-strict.png
Labels: CSE, Fix Content

#5224 removing unneeded curly braces
  source/content/guides/quickstart/01-introduction.md
Labels: Site

#5226 Link to Autoptimize Modules and Plugins with Known Issues
  source/content/caching-advanced-topics.md
Labels: CSE, New Content

#4979 Add VS Code page
  .circleci/config.yml
  gatsby/gatsby-config.js
  gatsby/package-lock.json
  gatsby/package.json
  gatsby/src/styles/codeBlocks.css
  gatsby/src/styles/main.css
  source/content/cache-control.md
  source/content/git.md
  source/content/style-guide.md
  source/content/visual-studio-code.md
  source/images/vscode-open-folder.png
Labels: CSE, New Doc

#5229 Filter Terminus command usage
  gatsby/src/components/commands/index.js
  scripts/update-terminus-commands.sh
  source/data/commands.json
  source/data/releases.json
Labels: Site

#5232 Document grid table usage and...
  source/content/style-guide.md
Labels: New Content, Site

#5238 add links to support datasheet
  source/content/support.md
Labels: Feedback, New Content

#5215 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Site

#5242 This fixes the merge conflict involving core pantheon.upstream.yml
  source/content/core-updates.md
Labels: CSE, New Content

#5208 Add WPML Key to modules-plugins-known-issues.md
  source/content/modules-plugins-known-issues.md
  source/images/wpml-configure.png
Labels: CSE, New Content

#5240 Sort Platform Considerations and Style Tables
  gatsby/src/styles/global.scss
  gatsby/src/styles/main.css
  scripts/merge_conflicts.sh
  source/content/new-plans-faq.md
  source/content/platform-considerations.md
  source/content/solr.md
  source/content/style-guide.md
  source/content/support.md
  source/style-guide.md
Labels: Site

#5244 Add additional troubleshooting in wpallimport
  source/content/modules-plugins-known-issues.md
Labels: CSE, New Content

#5253 custom upstreams perms in table
  source/content/change-management.md
Labels: CSE, New Content

#5259 clarify dev context
  source/content/undo-commits.md
Labels: External, Feedback, New Content

#5258 Updated link on Relaunch page
  source/content/relaunch.md
Labels: CSE, Fix Content

#5264 bio updates - Ari Gold and Steve Persch
  scripts/deploy-multidev.sh
  source/data/contributor.yaml
Labels: Fix Content, Site

#5114 Update drupal-8-composer-no-ci.md
  source/content/guides/drupal-8-composer-no-ci.md
Labels: External, Fix Content

#5267 Adds page titles to Contributor index and pages
  gatsby/src/pages/contributors.js
  gatsby/src/templates/contributor.js
  scripts/deploy-multidev.sh
Labels: Site

#5233 Navigation / text fixes
  source/content/wordpress-solr.md
  source/images/dashboard/settings-addons-solr.png
Labels: CSE, Fix Content

#5277 i have changed the copyright year
  LICENSE
Labels: External, Fix Content, Site

#5270 Document Performance 2XL Plan
  source/content/annual-billing.md
  source/content/traffic-limits.md
Labels: New Content, Pantheor, Product

#5274 November 2019 Changelog
  source/changelogs/2019-11-01-November.md
Labels: New Content, Pantheor

#5275 Added a troubleshooting section for cookies
  source/content/cookies.md
Labels: CSE, New Content

#5192 Update SRA doc
  source/content/secure-runtime-access.md
Labels: Fix Content, Pantheor
