Repository pantheon-systems/documentation, pull requests merged in 2019-11, with the labels that each got.

#5273 Revise "Provided host name" docs
  source/content/settings-php.md
Labels: CSE

#5281 Add additional troubleshooting when clearing cache do not work
  source/content/clear-caches.md
Labels: CSE, New Content

#5287 Update Sarah G's contributor info.
  source/data/contributor.yaml
Labels: Site

#5246 Getting host ip to replace hostname
  source/content/filezilla.md
Labels: CSE, New Content

#5268 Reference MU Plugins in wp-config doc
  source/content/wordpress-best-practices.md
  source/content/wp-config-php.md
  source/partials/wp-debugging.md
Labels: New Content

#5260 How to remove Primary Domain
  source/content/domains.md
  source/content/http-to-https.md
  source/content/redirects.md
  source/partials/primary-domain.md
  source/partials/remove-primary-domain.md
Labels: PS

#5289 Update Doc Template for Gatsby
  source/content/doc-template.md
  source/content/style-guide.md
Labels: Site

#5279 opensolr config doc
  source/content/code.md
  source/content/guides/drupal-8-composer-no-ci.md
  source/content/indexdepot.md
  source/content/opensolr.md
  source/content/solr.md
  source/data/contributor.yaml
  source/data/landings.yaml
  source/images/msg-config-success.png
  source/images/opensolr-config-files-editor.png
  source/images/opensolr-index-add.png
Labels: New Doc

#5293 Show an example how to get an ip from a Pantheon url
  source/content/hosts-file.md
  source/partials/_hosts-file.md
Labels: CSE, New Content

#5291 add H5P to known-issues doc
  source/content/modules-plugins-known-issues.md
  source/images/h5p-timeout.png
  source/partials/h5p-known-issues.md
Labels: New Content

#5272 add/update PS information
  source/content/platform-considerations.md
  source/content/professional-services.md
Labels: New Content, PS, Product

#5257 Added Relaunch FAQ
  source/content/relaunch.md
Labels: CSE, New Content

#5312 add web team agility assessment link
  source/content/custom-upstream.md
  source/content/git.md
  source/content/guides/edt/01-essentialdevelopertraining.md
  source/content/kill-mysql-queries.md
Labels: Marketing

#5304 Custom Certificate users can skip validation
  source/content/custom-certificates.md
  source/content/https.md
Labels: CSM, New Content, Product

#5314 update cache after valid tests
  .circleci/config.yml
Labels: Site

#5315 Cloudflare: update redirect step
  source/content/dns-providers/cloudflare.md
Labels: New Content

#5313 add newline aftre ul in CSS
  gatsby/src/styles/global.scss
Labels: Site

#5303 consolidate common WP theme issue
  source/content/modules-plugins-known-issues.md
Labels: New Content

#5125 clarify composer workflow
  source/content/guides/partial-composer.md
Labels: External, Fix Content

#5328 Fix padding
  gatsby/src/styles/global.scss
  source/content/style-guide.md
Labels: Site

#5329 reverse padding inheritance
  gatsby/src/styles/global.scss
Labels: Site

#5331 add info on outbound mail service
  source/content/outgoing-ips.md
Labels: Feedback, New Content

#5222 remove drush aliases button from screenshots + typo fix
  .circleci/config.yml
  source/content/drush.md
  source/images/dashboard/migrate-existing-site.png
  source/images/dashboard/pantheon-user-dashboard.png
Labels: Product

#5335 Update Marketing Graphics
  .circleci/config.yml
  gatsby/gatsby-config.js
  gatsby/package-lock.json
  gatsby/package.json
  gatsby/src/layout/favicon.ico
  source/favicon.ico
  source/images/Pantheon_Color_rev_clear.png
  source/images/pantheon-logo-symbol.svg
Labels: Marketing, Site

#5341 Add link to VS Code doc from SFTP client list
  source/content/sftp.md
Labels: CSE

#5343 correct files symlink and account name
  source/content/filezilla.md
Labels: Feedback, Fix Content

#5308 Best Practices for handling XML RPC on WP Sites
  source/content/wordpress-best-practices.md
Labels: CSE, CSM, New Content, PS

#5344 remove noreferrer
  gatsby/gatsby-config.js
  gatsby/src/components/externalLink.js
  gatsby/src/layout/header/index.js
Labels: Site

#5352 fix typo, add metadata
  source/content/relaunch.md
Labels: Fix Content

#5327 add MDX component spacing
  source/content/guides/launch/01-introduction.md
Labels: Site

#5320 Automate Lighthouse Testing
  .circleci/config.yml
  .circleci/scripts/changed-content.sh
  .circleci/scripts/deploy-live.sh
  .circleci/scripts/deploy-multidev.sh
  .circleci/scripts/functions.sh
  .circleci/scripts/manual-deploy.sh
  .circleci/scripts/merge_conflicts.sh
  .circleci/scripts/set-env.sh
  .circleci/scripts/terminus-installer.php
  .circleci/scripts/update-terminus-commands.sh
  .circleci/tests/lighthouse/run
  .circleci/tests/link-checker-external.sh
  .circleci/tests/link-checker.sh
  .gitignore
  gatsby/package-lock.json
  gatsby/package.json
  gatsby/src/layout/changelog-preview/index.js
  gatsby/tests/lighthouse/createPullRequestComment.js
  gatsby/tests/lighthouse/lighthouse-config.js
  gatsby/tests/lighthouse/lighthouse-constants.js
  gatsby/tests/lighthouse/lighthouse.run.js
  gatsby/tests/lighthouse/lighthouse.test.js
  scripts/deploy-multidev.sh
  scripts/exclude.txt
  scripts/fix-changelog-index.sh
  scripts/redirects.csv
  scripts/redirects.php
  scripts/run-sitespeed-test.sh
  scripts/sitespeed-urls.txt
Labels: Site

#5357 Add migrate-import feedback flag
  source/content/drush.md
Labels: CSE, New Content

#5360 clarify where to put files for terminus
  .markdownlint.json
  source/content/local-development.md
Labels: Feedback, Fix Content
