Repository pantheon-systems/documentation, pull requests merged in 2019-12, with the labels that each got.

#5362 Consolidate FS_METHOD fix
  .markdownlint.json
  source/content/modules-plugins-known-issues.md
Labels: CSE, New Content

#5370 Note tools that ignore robots.txt
  source/content/bots-and-indexing.md
Labels: New Content

#5376 Temporary Directory Deprecated Configuration Warning
  source/content/drupal-launch-check.md
Labels: Product

#5379 Supply missing cloned composer directory steps
  source/content/guides/composer-convert.md
Labels: External, Fix Content

#5385 December 2019 Changelog
  source/changelogs/2019-12-01-December.md
Labels: New Doc

#5394 add disable XML-RPC to checklist
  source/content/guides/launch/07-next-steps.md
Labels: CSM

#5383 AMP for WP - Mobile Redirection breaks cache
  source/content/modules-plugins-known-issues.md
  source/data/contributor.yaml
Labels: PS

#5355 Change wording
  source/content/errors-and-server-responses.md
Labels: CSE, Fix Content

#5397 npm update
  gatsby/package-lock.json
  gatsby/package.json
Labels: Site

#5399 add `accept-encoding` header to simulate browser
  source/content/test-global-cdn-caching.md
Labels: External, New Content

#5405 WPML - Correction
  source/content/modules-plugins-known-issues.md
Labels: CSE, Fix Content

#5392 document multi-method restoration for large sites
  source/content/restore-environment-backup.md
Labels: New Content

#5404 load analytics in browser on route update
  gatsby/gatsby-browser.js
Labels: Marketing, Site

#5407 note re outbound UDP
  source/content/platform-considerations.md
Labels: New Content

#5418 ATP Script Adjustment
  gatsby/src/layout/seo.js
Labels: Site

#5387 Sandbox: Example issue and link to backups docs
  source/content/platform-considerations.md
Labels: New Content

#5412 Update GoAccess documentation
  source/content/nginx-access-log.md
Labels: CSE, Feedback, Fix Content

#5410 Review Date
  gatsby/src/components/headerBody/index.js
  gatsby/src/components/headerBody/style.css
  gatsby/src/layout/seo.js
  gatsby/src/templates/doc.js
  source/content/nginx-access-log.md
  source/content/opensolr.md
  source/content/visual-studio-code.md
  source/content/wordpress-best-practices.md
Labels: Site

#5424 modify external link CTAs
  gatsby/src/components/externalLink.js
Labels: Site
