Repository pantheon-systems/documentation, pull requests merged in 2019-07, with the labels that each got.

#4674 Additional WP best practice
  source/content/wordpress-best-practices.md
Labels: CSE, Copy Review, New Content, gatsby-prerelease

#4742 update faq for EU region
  source/content/faq.md
Labels: Fix Content, Hold for Release

#4862 remove psl recommendation
  source/content/https.md
Labels: Fix Content, Pantheor

#4863 PEG --> Secure Integration
  source/content/code.md
  source/content/ldap-and-ldaps.md
  source/content/modules-plugins-known-issues.md
  source/content/outgoing-ips.md
  source/content/pantheon-enterprise-gateway.md
  source/content/professional-services.md
  source/content/secure-integration.md
  source/data/landings.yaml
  source/docs/assets/images/si-diagram.png
Labels: gatsby-prerelease

#4814 Clarify use-case for PEG with LDAP
  source/content/ldap-and-ldaps.md
Labels: Technical Review

#4866 Add cookies for Amazon Login and play
  source/content/cookies.md
  source/partials/cache-busting.md
Labels: CSE, New Content

#4872 Increasing Application Containers during Traffic Spikes
  source/content/horizontal-scalability.md
Labels: CSM, New Content

#4873 Added flushing of redis cache
  source/content/load-and-performance-testing.md
Labels: CHALLENGE, PS

#4853 Changelogs
  source/_changelogs/2019-06-01-June.md
  source/_changelogs/2019-07-01-July.md
  source/_partials/changelog_preview.twig
Labels: Copy Review, New Content, Site

#4886 Use container instead of container-fluid class
  gatsby/src/layout/header/index.js
Labels: CSM, Site

#4860 Search and Replace when updating WP domain
  source/content/guides/launch/05-redirects.md
  source/partials/redirects.md
Labels: Copy Review, New Content

#4825 add xml-rpc info to platform-considerations
  source/content/platform-considerations.md
Labels: Copy Review

#4838 Instructs user to contact support when they don't know site owner user/pass
  source/partials/recover-account-after-owner-leaves.md
Labels: Copy Review

#4857 note interaction bypass when scripting Terminus
  source/content/terminus/scripting.md
Labels: Copy Review, New Content, Technical Review

#4815 Updates Dashboard screenshots to reflect billing tab and development mode
  source/content/create-sites.md
  source/content/pantheon-workflow.md
  source/content/sftp.md
  source/content/site-plan.md
  source/images/dashboard/add-additional-domains.png
  source/images/dashboard/add-first-domain.png
  source/images/dashboard/backup-tool.png
  source/images/dashboard/change-plan.png
  source/images/dashboard/choose-card.png
  source/images/dashboard/clone-live-to-test.png
  source/images/dashboard/clone-test-to-live.png
  source/images/dashboard/commit-deployed-pantheon-dashboard.png
  source/images/dashboard/confirm-purchase.png
  source/images/dashboard/connect-custom-domain.png
  source/images/dashboard/connection-mode-git.png
  source/images/dashboard/connection-mode-sftp.png
  source/images/dashboard/convert-urls.png
  source/images/dashboard/deploy-live.png
  source/images/dashboard/deploy-log-live-env.png
  source/images/dashboard/deploy-to-test-env.png
  source/images/dashboard/details-page.png
  source/images/dashboard/dev-code-pendingchanges-commit.png
  source/images/dashboard/domain-added.png
  source/images/dashboard/domains-add-new.png
  source/images/dashboard/environment-access.png
  source/images/dashboard/import-mysql-file.png
  source/images/dashboard/import-mysql-url.png
  source/images/dashboard/interface-dev-code-sftp-commit.png
  source/images/dashboard/interface-workflow-tool.png
  source/images/dashboard/lock-environment.png
  source/images/dashboard/manual-site-backup.png
  source/images/dashboard/multidev-merge.png
  source/images/dashboard/mysql-info.png
  source/images/dashboard/new-env-configs.png
  source/images/dashboard/pantheon-dashboard-git-connection-info.png
  source/images/dashboard/pantheon-dashboard-settings-about-site-upstream.png
  source/images/dashboard/pantheon-dashboard-uncommitted-changes.png
  source/images/dashboard/pantheon-yml-changes-sftp.png
  source/images/dashboard/pantheon-yml-failure-sftp.png
  source/images/dashboard/select-plan.png
  source/images/dashboard/sftp-connection-info.png
  source/images/dashboard/sftp-enabled.png
  source/images/dashboard/site-admin-env-links.png
  source/images/dashboard/status-tab.png
  source/images/dashboard/terminus-cli-code-to-commit-dashboard.png
  source/images/dashboard/terminus-cli-open-dash.png
  source/images/dashboard/upgrade-plan.png
  source/images/dashboard/upstream-link.png
  source/images/dashboard/verify-reroute-email-dashboard-commits1.png
Labels: Technical Review

#4903 add honeypot http:bl to modules known issue
  source/content/modules-plugins-known-issues.md
Labels: Copy Review, gatsby-prerelease

#4908 Advise how to be a bit safer when using phpinfo()
  source/content/phpinfo.md
Labels: New Content, Pantheor

#4896 CAA records FAQ
  source/content/custom-certificates.md
  source/content/required-reading.md
Labels: CSE, New Content
