Repository pantheon-systems/documentation, pull requests merged in 2020-11, with the labels that each got.

#6096 Add changed date, commas, added suggestions
  source/content/inclusive-language.md
Labels: Fix Content

#6098 Nov 2020 Changelog
  source/changelogs/2020-11-01-November.md
Labels: Changelog

#6099 Update docs to reflect AD-3117: removes COE banner
  source/content/logs.md
  source/content/platform-considerations.md
  source/content/read-environment-config.md
Labels: Blocked, New Content, Product

#6091 SendGrid with WP Mail SMTP
  source/content/guides/sendgrid-wordpress-wp-mail-smtp.md
  source/content/guides/sendgrid.md
  source/images/guides/wp-mail-smtp/add-new-plugin.png
  source/images/guides/wp-mail-smtp/plugin-settings.png
  source/images/guides/wp-mail-smtp/search-plugins-install.png
Labels: New Doc, wp

#6097 Frontend Performance markdown linting
  source/content/guides/frontend-performance.md
Labels: Fix Content

#6083 Add PRESSFLOW_SETTINGS unset to D7 snippet
  source/content/tmp.md
Labels: Drupal, Fix Content, Pantheor

#5973 Glossary of Terms
  .circleci/config.yml
  source/content/code.md
  source/content/guides/wordpress-google-sso/01-introduction.md
  source/content/multidev.md
  source/content/myisam-to-innodb.md
  source/content/site-plans-faq.md
  source/data/landings.yaml
  src/layout/header/index.js
  src/pages/glossary.js
Labels: Site

#6110 slice slashes out of slugs
  src/pages/glossary.js
Labels: Site

#6106 WIP - Glossary Patches
  .circleci/config.yml
  source/content/solr.md
  source/content/terminus/examples.md
  src/pages/glossary.js
Labels: Site

#6111 fix WP url
  source/content/access-management.md
Labels: Fix Content, Pantheor

#6112 Fixes: relative Plugin URI and Description typo
  source/content/environment-specific-config.md
Labels: External, Fix Content

#6113 Adding Option D
  source/content/resetting-passwords.md
Labels: CSE, New Content, wp

#6116 Update 2xl list price
  source/content/site-plans-faq.md
Labels: Fix Content

#6060 Update core-updates.md
  source/content/core-updates.md
Labels: New Content, Pantheor, wp

#6119 Glossary title capitalization
  src/styles/main.css
Labels: Fix Content, Pantheor

#6124 Solr for D7 Page adjustments
  .circleci/config.yml
  source/content/solr-drupal-7.md
Labels: Site

#6118 apply latest upstream if no wp-config-pantheon.php
  source/content/wp-config-php.md
Labels: New Content, wp

#6122 add section to hosts-file that explains how to add the info after dig
  source/content/hosts-file.md
Labels: New Content

#6128 Remove note on SMTP module for D8
  source/content/email.md
Labels: Fix Content, Pantheor

#6140 Dash login session length
  source/content/faq.md
  source/content/guides/quickstart/02-user-dashboard.md
  source/content/user-dashboard.md
  source/partials/dashboard-login-session-length.md
Labels: New Content, Product
