Repository pantheon-systems/documentation, pull requests merged in 2020-06, with the labels that each got.

#5759 Fix Build Tool Steps
  source/content/guides/build-tools/02-create-project.md
Labels: Fix Content, Product

#5753 June 2020 Changelog
  source/changelogs/2020-06-01-June.md
Labels: Changelog

#5758 no more shared ssl certs
  source/content/https.md
  source/partials/enable-https.md
Labels: Fix Content, Product

#5740 Update SendGrid Guide
  source/content/guides/sendgrid.md
  source/partials/d7-composer-init.md
  src/components/accordion/index.js
  src/components/accordion/style.css
Labels: Fix Content

#5760 increase GetFeedback iframe height
  src/components/getFeedback.js
Labels: Site

#5765 Added the popular PhpStorm IDE to the list
  source/content/localdev.md
Labels: New Content, Pantheor

#5763 Suggestion to Add Anchor Link
  source/content/pantheon-workflow.md
  source/content/sftp.md
Labels: Fix Content, Pantheor

#5771 Accessibility updates
  source/content/application-containers.md
  source/content/managing-edu-plus.md
  source/content/organization-dashboard.md
  source/data/home.yaml
  source/docs/assets/css/main.css
  src/components/popover.js
  src/layout/call-to-action/index.js
  src/layout/call-to-action/styles.css
  src/layout/changelog-preview/styles.css
  src/layout/header/index.js
  src/layout/three-column-list/style.css
  src/layout/topic-item/style.css
  src/pages/index.js
  src/styles/global.scss
  src/styles/main.css
Labels: Site

#5755 Updated Launch Guide to remove outdated phrase
  source/content/guides/launch/03-domains.md
Labels: CSE, Fix Content

#5761 update local data files
  source/data/buildToolsReleases.json
  source/data/drushReleases.json
  source/data/localdev/changelog.yml
  source/data/terminusReleases.json
Labels: Site

#5772 Accessibility color updates
  src/components/headerBody/style.css
  src/components/twitter/style.css
  src/layout/footer/index.js
  src/layout/footer/style.css
Labels: Site

#5774 fix title links and pagication buttons
  src/templates/changelog.js
  src/templates/changelogs.js
Labels: Site

#5777 Update to reflect current state of Solr support
  source/content/disaster-recovery.md
Labels: CSM, Fix Content

#5639 GCP Previews
  .circleci/config.yml
  .circleci/scripts/functions.sh
  .circleci/scripts/import-external-data.sh
  .circleci/scripts/set-env.sh
  .circleci/tests/link-checker.sh
  package-lock.json
  package.json
  redirect-index.php
  source/images/Pantheon_Color_rev_clear.png
  source/images/automated-testing-wordpress-behat.gif
  source/images/browser-dev-tools/devtools-network-admin-ajax.png
  source/images/browser-dev-tools/devtools-network-headers-admin-ajax.png
  source/images/browser-dev-tools/devtools-network-preview-admin-ajax.png
  source/images/dashboard/domain-added.png
  source/images/vscode-open-folder.png
  src/templates/contributor.js
  src/templates/terminuspage.js
  tests/lighthouse/createPullRequestComment.js
  tests/lighthouse/lighthouse-constants.js
  yarn.lock
Labels: Site

#5781 remove duplication of pre-launch load test section
  source/content/onboarding.md
  source/content/professional-services.md
Labels: Fix Content

#5788 Document changes to default protected web paths.
  source/content/pantheon-yml.md
Labels: Fix Content, Pantheor

#5782 Use allowlist/blocklist instead of whitelist/blacklist
  source/content/application-containers.md
  source/content/caching-advanced-topics.md
  source/content/onboarding.md
  source/content/optimize-site-traffic.md
  source/content/platform-considerations.md
  source/content/plugins-known-issues.md
  source/content/support.md
Labels: Fix Content, PS

#5794 fix broken link to global CDN
  source/content/global-cdn.md
Labels: Fix Content

#5801 update COE banner text
  source/content/platform-considerations.md
  source/content/read-environment-config.md
Labels: Fix Content, Product

#5752 blocking UA and contact support to suggest
  source/content/optimize-site-traffic.md
  source/content/traffic-limits.md
Labels: Fix Content

#5721 Update to content under Application Log Files
  source/content/logs.md
Labels: CSE, Fix Content

#5762 Drupal 9 - add upgrade path
  source/content/drupal-9.md
Labels: New Content, Product

#5813 FAQ Updates
  source/content/faq.md
Labels: Fix Content, New Content, Product

#5809 Extend Multidev and COVID offer to Sept
  source/content/crisis-response-upstream.md
  source/content/multidev-faq.md
  source/content/multidev.md
  source/content/organization-faq.md
Labels: Fix Content

#5815 CircleCi Config & Site Build Updates
  .circleci/config.yml
  source/content/backups.md
  source/content/code.md
  source/content/core-updates.md
  source/content/settings-php.md
  source/content/style-guide.md
  source/content/terminus/examples.md
Labels: Site

#5814 remove drush references
  source/content/drush.md
Labels: Fix Content

#5816 switch to the orb's default branch
  .circleci/config.yml
Labels: Site

#5807 DOC-124 - Remove outdated video.
  source/content/guides/quickstart/04-site-dashboard.md
  source/content/optimize-site-traffic.md
Labels: Fix Content

#5818 Update Terminus Versioning in Docs
  .circleci/config.yml
  .circleci/scripts/import-external-data.sh
  .circleci/scripts/set-env.sh
  gatsby-config.js
  source/content/terminus/updates.md
  source/data/commands.json
  source/data/drushReleases.json
  source/data/localdev/changelog.yml
  source/data/terminusReleases.json
  src/components/terminusVersion.js
Labels: Site

#5817 Update Traffic/Metrics/Measurements docs
  source/content/metrics.md
  source/content/site-plans-faq.md
  source/content/traffic-limits.md
  source/images/platform-traffic-counted.png
  source/partials/traffic-analytics-table.md
  source/partials/traffic-dl.md
Labels: Fix Content, New Content, Product

#5820 Update protected web paths documentation
  source/content/pantheon-yml.md
Labels: External, New Content

#5792 CSS accessibility updates
  src/pages/404.js
  src/pages/contributors.js
  src/pages/search.js
  src/templates/changelog.js
  src/templates/landing.js
Labels: Site

#5824 New doc to help understand traffic overages
  source/content/optimize-site-traffic.md
  source/content/overages-site-plan.md
  source/content/traffic-limits.md
  source/partials/traffic-limits-overages.md
  source/partials/traffic-overages-faq.md
Labels: New Content

#5832 Traffic: some 300s do count
  source/content/traffic-limits.md
  source/partials/traffic-dl.md
Labels: CSE, Fix Content

#5830 Update pre-provisioning documentation
  source/content/https.md
Labels: Fix Content, Product

#5826 Replaced "forked env." with "Multidev env."
  source/content/multidev-faq.md
Labels: CSM, Fix Content, Product

#5825 Clarify rsync limitation
  source/content/rsync-and-sftp.md
Labels: New Content, Pantheor

#5827 Update custom-certificates.md
  source/content/custom-certificates.md
Labels: New Content, PS, Product

#5828 Document WP Plugin Uninstall Procedure
  source/content/cms-admin.md
  source/content/plugins.md
  source/partials/remove-addons/wp-redis.md
  source/partials/remove-addons/wp-solr.md
Labels: New Content

#5835 AGCDN: modify uptime description
  source/content/advanced-global-cdn.md
Labels: Fix Content

#5838 Update sendgrid.md
  source/content/guides/sendgrid.md
Labels: Fix Content

#5833 Remove outdated redirect check section
  source/content/http-to-https.md
  source/images/varvy-redirect-mapper.png
Labels: Fix Content, Product
