Repository pantheon-systems/documentation, pull requests merged in 2020-04, with the labels that each got.

#5612 Apr 2020 Changelog
  source/changelogs/2020-04-01-April.md
Labels: Changelog

#5610 Updated Authy URL
  source/content/guides/two-factor-authentication.md
Labels: CSE, Fix Content

#5609 Fix GetFeedback display
  gatsby/src/templates/doc.js
Labels: Site

#5615 new crisis response upstream doc
  source/content/crisis-response-upstream.md
  source/images/dashboard/upstream-crisis-response.png
Labels: New Doc, Pantheor

#5616 Correct formula from minutes to seconds
  source/content/load-and-performance-testing.md
Labels: Fix Content, Pantheor

#5618 Local Reporting
  gatsby/gatsby-config.js
  gatsby/package-lock.json
  gatsby/package.json
  gatsby/src/reports/reports.js
  source/content/dns-providers/123-reg.md
  source/content/dns-providers/akamai.md
  source/content/dns-providers/bluehost.md
  source/content/dns-providers/dnsimple.md
  source/content/dns-providers/easy-dns.md
  source/content/dns-providers/fasthosts.md
  source/content/dns-providers/hostgator.md
  source/content/dns-providers/hover.md
  source/content/dns-providers/microsoft.md
  source/content/dns-providers/name-com.md
  source/content/dns-providers/neustar.md
  source/content/dns-providers/register-com.md
  source/content/reducing-large-repos.md
Labels: Site

#5619 Fix Regression: ToC Scroll
  gatsby/src/components/toc/index.js
  gatsby/src/templates/changelog.js
  gatsby/src/templates/changelogs.js
Labels: Fix Content, Site

#5604 Refine Lighthouse Commenting
  .circleci/tests/lighthouse/run-local
  gatsby/package.json
  gatsby/tests/lighthouse/createPullRequestComment.js
  gatsby/tests/lighthouse/lighthouse.run.local.js
  source/content/nginx-access-log.md
  source/content/ssh-keys.md
  source/partials/host-keys.md
Labels: Site

#5621 Update crisis-response-upstream.md
  source/content/crisis-response-upstream.md
Labels: Fix Content, Pantheor, Product

#5624 Update gitignore ahead of #5620
  .gitignore
Labels: Site

#5579 Primary Domain exception for Platform Domain
  source/content/advanced-redirects.md
  source/partials/primary-domain.md
Labels: Fix Content

#5627 Iframe titles
  gatsby/gatsby-config.js
  gatsby/package-lock.json
  gatsby/package.json
  gatsby/src/components/youtube.js
  gatsby/src/templates/doc.js
  gatsby/src/templates/guide.js
  gatsby/src/templates/video.js
  source/content/custom-upstream.md
  source/content/drupal-8-configuration-management.md
  source/content/guides/edt/02-introduction-and-architecture.md
  source/content/guides/edt/03-developer-workflow.md
  source/content/guides/edt/04-multidev.md
  source/content/guides/edt/05-terminus-cli.md
  source/content/guides/edt/06-quicksilver-external-integrations.md
  source/content/guides/edt/07-performance.md
  source/content/guides/edt/08-going-live.md
  source/content/migrate.md
  source/content/ssh-keys.md
  source/content/videos/cache.md
  source/content/videos/drush.md
  source/content/videos/git.md
  source/content/videos/local.md
  source/content/videos/migrate-wordpress.md
  source/content/videos/pantheon-yml.md
  source/content/videos/sftp.md
  source/content/videos/terminus.md
  source/content/videos/wp-cli.md
Labels: Site

#5632 Adding another registration method for WPML in Pantheon
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor

#5636 tab title fix
  source/content/maintain-custom-upstream.md
Labels: Fix Content

#5613 Update Landing Page CTAs for Live Workshops
  source/content/quicksilver.md
  source/data/landings.yaml
  src/components/youtube.js
  src/layout/call-to-action/index.js
  src/layout/call-to-action/styles.css
  src/layout/subtopic-group/index.js
  src/layout/subtopic-group/style.css
  src/layout/topic-group/index.js
  src/layout/youtube-video/index.js
  src/styles/global.scss
  src/templates/landing.js
Labels: Pantheor, Site

#5638 adds callout to temp free multidev
  source/content/multidev-faq.md
  source/content/multidev.md
  source/content/organization-faq.md
Labels: Product

#5631 Accessibility Improvement
  src/layout/header/index.js
  src/layout/header/style.css
Labels: Site

#5635 Fix Feedback Links for Live Workshops
  source/partials/additionalResources/lw3.md
  source/partials/additionalResources/null.md
Labels: Fix Content, Site

#5645 Add DNS Providers Index Page
  .markdownlint.json
  source/content/dns-providers/enom.md
  source/content/dns.md
  source/content/domains.md
  source/content/guides/launch/04-configure-dns.md
  source/content/https.md
  src/components/dns-provider-docs.js
  src/pages/dns-providers.js
  src/templates/doc.js
  src/templates/guide.js
Labels: New Content

#5643 More strongly suggest a/aaa and remove cname references
  source/content/dns.md
  source/content/domains.md
  source/content/https.md
  source/images/dashboard/dns-values.png
  source/images/dashboard/domain-added.png
  source/partials/cname-workaround.md
  source/partials/configure-dns.md
Labels: Fix Content

#5649 add dns-providers index page as md
  source/content/dns-providers.md
  src/components/dns-provider-docs.js
  src/pages/dns-providers.js
Labels: Fix Content

#5644 Update letter case typo: Gitlab > GitLab
  source/content/create-custom-upstream.md
Labels: Fix Content, Pantheor

#5655 Update project package versions
  package-lock.json
  package.json
  src/components/resourceSelector.js
Labels: Site

#5658 Plugin page updates
  source/content/plugins.md
Labels: New Content, Pantheor, Site

#5651 Remove multidev limitation
  source/content/localdev.md
  source/images/localdev/localdev-container-running.png
  source/images/localdev/localdev-switch-to-edge.png
Labels: Fix Content, Product

#5659 remove outdated WP 4.7 launch doc and references
  source/changelogs/2016-12-01-December.md
  source/content/wordpress-4.7-upgrade.md
  source/data/landings.yaml
Labels: Fix Content, Site

#5500 404 page with search results
  source/data/home.yaml
  source/images/404.svg
  source/images/404_dark.svg
  src/layout/footer/index.js
  src/layout/header/index.js
  src/layout/layout/index.js
  src/pages/404.js
  src/styles/main.css
Labels: Site

#5665 evergreen new site plan FAQ page
  source/content/metrics.md
  source/content/new-plans-faq.md
  source/content/platform-resources.md
  source/content/site-billing.md
  source/content/site-plan.md
  source/content/site-plans-faq.md
  source/content/traffic-limits.md
  source/data/landings.yaml
Labels: Fix Content, Product

#5667 rename dns provider instruction index to be more technically correct...
  source/content/dns-providers.md
Labels: Fix Content

#5668 404 updates
  src/pages/404.js
Labels: Site

#5662 Update application-containers.md
  source/content/application-containers.md
Labels: Fix Content, Pantheor

#5656 Update on Certificate Served
  source/content/custom-certificates.md
Labels: Fix Content, Pantheor, Product

#5673 Fail After 3 Attempts
  .circleci/scripts/deploy-multidev.sh
  .circleci/scripts/functions.sh
Labels: Site

#5670 incremental dependency installs and builds
  .circleci/config.yml
  package.json
Labels: Site

#5648 update tags for guides
  source/content/terminus.md
Labels: Site

#5677 Document Frontmatter
  source/content/style-guide.md
Labels: New Content, Site

#5682 links in popovers to html
  source/content/files.md
  source/content/logs.md
Labels: Fix Content
