Repository pantheon-systems/documentation, pull requests merged in 2020-03, with the labels that each got.

#5551 allowlist-blocklist, remove click here
  source/content/advanced-global-cdn.md
Labels: Fix Content

#5556 March 2020 changelog page
  source/changelogs/2020-03-01-March.md
Labels: Product

#5557 Patch IP Restrictions for double-slashes.
  source/content/advanced-redirects.md
Labels: External, Fix Content

#5565 Update environment-specific-config-d8.md
  source/content/environment-specific-config-d8.md
Labels: External, Fix Content

#5561 Link the fs_method in the divi solution
  source/content/plugins-known-issues.md
Labels: CSE, Fix Content

#5552 Update caching details for static files
  source/content/test-global-cdn-caching.md
Labels: PS

#5525 Prettify Code
  gatsby/src/components/addSearch.js
  gatsby/src/components/buildTools.js
  gatsby/src/components/buildToolsChangelog.js
  gatsby/src/components/color.js
  gatsby/src/components/contributors.js
  gatsby/src/components/drushChangelog.js
  gatsby/src/components/externalLink.js
  gatsby/src/components/localdevChangelog.js
  gatsby/src/components/partial.js
  gatsby/src/components/popover.js
  gatsby/src/components/releases.js
  gatsby/src/components/searchResults.js
  gatsby/src/layout/seo.js
  gatsby/src/pages/contributors.js
  gatsby/src/pages/index.js
  gatsby/src/pages/search.js
  gatsby/src/templates/changelog.js
  gatsby/src/templates/changelogs.js
  gatsby/src/templates/contributor.js
  gatsby/src/templates/doc.js
  gatsby/src/templates/guide.js
  gatsby/src/templates/landing.js
  gatsby/src/templates/terminuspage.js
  gatsby/src/templates/video.js
Labels: Site

#5527 Free version of cookie-law-info breaks caching
  source/content/plugins-known-issues.md
Labels: New Content, PS

#5570 Add info about disabling Redis per-plugin
  source/content/redis.md
Labels: CSE, New Content

#5528 WordPress Google SAML Auth
  .circleci/config.yml
  source/changelogs/2017-12-01-December.md
  source/content/guides/wordpress-google-sso/01-introduction.md
  source/content/guides/wordpress-google-sso/02-install.md
  source/content/guides/wordpress-google-sso/03-saml-app.md
  source/content/guides/wordpress-google-sso/04-access-and-mappings.md
  source/content/guides/wordpress-google-sso/05-going-live.md
  source/content/guides/wordpress-google-sso/06-advanced-configuration.md
  source/content/plugins.md
  source/content/wordpress-google-sso.md
  source/data/landings.yaml
  source/images/guides/wordpress-google-sso/additional-attributes.png
  source/images/guides/wordpress-google-sso/email-attribute-mapped.png
  source/images/guides/wordpress-google-sso/enable-sso-for-samle-application.png
  source/images/guides/wordpress-google-sso/google-admin-saml-apps.png
  source/images/guides/wordpress-google-sso/google-idp-data.png
  source/images/guides/wordpress-google-sso/google-idp-information.png
  source/images/guides/wordpress-google-sso/google-saml-app-name.png
  source/images/guides/wordpress-google-sso/google-saml-basic-info.png
  source/images/guides/wordpress-google-sso/one-click-auth.png
  source/images/guides/wordpress-google-sso/plugin-certificate-path.png
  source/images/guides/wordpress-google-sso/plugin-default-values.png
  source/images/guides/wordpress-google-sso/plugin-idp-values.png
  source/images/guides/wordpress-google-sso/saml-on-all-users.png
  source/images/guides/wordpress-google-sso/saml-on-group.png
  source/images/guides/wordpress-google-sso/service-provider-details.png
  source/images/guides/wordpress-google-sso/update-profile.png
  source/images/guides/wordpress-google-sso/wp-saml-auth-settings.png
  source/images/wordpress-google-sso/attribute-mapping.png
Labels: Fix Content, New Doc

#5563 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: process-improvement

#5576 rm trailing slashes from landing page data file
  source/data/landings.yaml
Labels: Site

#5569 added warning to delete file once successful with the db conversion
  source/content/myisam-to-innodb.md
Labels: CSE, New Content

#5583 ACDN link fix
  source/content/advanced-global-cdn.md
Labels: CSE, Site

#5577 5 minute ssh timeout
  source/content/timeouts.md
Labels: Fix Content, Product

#5587 Fix window prompt styling
  gatsby/src/styles/codeBlocks.css
Labels: Site

#5342 Add D8 and WordPress info for wkhtmltopdf usage [wip]
  source/content/external-libraries.md
Labels: CSE, New Content

#5581 Removing Submodules is easy now!
  source/content/git-faq.md
Labels: New Content

#5582 Note Solr module version EOL
  source/content/solr-drupal-8.md
Labels: Fix Content

#5573 Document Quicksilver Secret Storage
  source/content/quicksilver.md
Labels: New Content

#5594 Issue #5531: update doc for latest beta version.
  source/content/guides/build-tools/01-introduction.md
Labels: External, Fix Content

#5505 Terminus formatting
  gatsby/src/templates/terminuspage.js
Labels: Site, review

#5560 Updated title to better reflect content
  source/content/drupal-caching-views.md
Labels: Pantheor

#5567 Warn against PHP geolocation
  source/content/client-ip.md
Labels: Fix Content

#5593 Additional optional config in wp rocket
  source/content/plugins-known-issues.md
Labels: CSE, New Content

#5597 toc-ignore H2s from changelog
  gatsby/src/components/localdevChangelog.js
Labels: Fix Content, Site

#5522 The 'search_api_solr_date_sort' module added.
  source/content/modules-known-issues.md
Labels: CSE, New Content

#5588 NPM Update
  gatsby/package-lock.json
  gatsby/package.json
Labels: Site

#5602 [BUGS-2949] Describe known problem with the update manager
  source/content/cms-admin.md
  source/content/modules-known-issues.md
Labels: Fix Content, Pantheor

#5592 improve keyboard-only navigation
  .circleci/config.yml
  gatsby/src/components/navbar/index.js
  gatsby/src/components/navbar/style.css
  gatsby/src/components/toc/index.js
  gatsby/src/components/toc/style.css
  gatsby/src/layout/footer/index.js
  gatsby/src/layout/footer/style.css
  gatsby/src/layout/header/index.js
  gatsby/src/layout/header/style.css
  gatsby/src/styles/global.scss
  gatsby/src/styles/main.css
  gatsby/src/templates/doc.js
  gatsby/src/templates/guide.js
Labels: Site

#5600 Update migrate-wordpress-site-networks references
  source/content/migrate-wordpress-site-networks.md
Labels: Fix Content

#5575 Consolidate and Correct Documentation on File Paths and Symlinks
  .markdownlint.json
  source/changelogs/2016-03-01-March.md
  source/content/agency-tips.md
  source/content/drupal-broken-links.md
  source/content/files.md
  source/content/migrate.md
  source/content/nested-docroot.md
  source/content/non-standard-file-paths.md
  source/content/pantheon-yml.md
  source/content/platform-considerations.md
  source/content/plugins-known-issues.md
  source/content/symlinks-assumed-write-access.md
  source/data/landings.yaml
Labels: Fix Content, Site
