Repository pantheon-systems/documentation, pull requests merged in 2020-09, with the labels that each got.

#5966 multidev for all through end of year
  source/content/crisis-response-upstream.md
  source/content/multidev-faq.md
  source/content/multidev.md
  source/content/organization-faq.md
Labels: Fix Content, Product

#5969 202008 docs-wide typo fixes
  source/content/cookies.md
  source/content/create-custom-upstream.md
  source/content/deploybot.md
  source/content/faq.md
  source/content/filezilla.md
  source/content/guides/build-tools/08-custom-theme.md
  source/content/guides/drupal-8-advanced-page-cache.md
  source/content/guides/drupal-8-commerce.md
  source/content/guides/sendgrid.md
  source/content/guides/two-factor-authentication.md
  source/content/guides/wordpress-google-sso/05-going-live.md
  source/content/load-and-performance-testing.md
  source/content/machine-tokens.md
  source/content/migrate.md
  source/content/organization-dashboard.md
  source/content/pantheon-workflow.md
  source/content/plugins-known-issues.md
  source/content/redis.md
  source/content/restore-environment-backup.md
  source/content/rsync-and-sftp.md
  source/content/settings-php.md
  source/content/sites.md
  source/content/solr-drupal-8.md
  source/content/sso-organizations.md
  source/content/sso.md
  source/content/symlinks-assumed-write-access.md
  source/content/test-global-cdn-caching.md
  source/content/undo-commits.md
  source/content/webops-dashboard.md
  source/content/wordpress-s3.md
  source/content/wordpress-solr.md
  source/content/wp-cfm.md
  source/partials/additionalResources/lw5.md
  source/partials/recover-account-after-owner-leaves.md
Labels: Fix Content

#5967 Glossary
  .circleci/config.yml
  .markdownlint.json
  package-lock.json
  source/content/code.md
  source/content/guides/frontend-performance.md
  source/content/guides/wordpress-google-sso/01-introduction.md
  source/content/style-guide.md
  source/content/terminus/examples.md
  source/style-guide.md
  src/components/toc/index.js
  src/pages/glossary.js
  src/templates/doc.js
Labels: New Doc, Site

#5971 Add link to ImageMagick module
  source/content/external-libraries.md
Labels: Pantheor

#5974 Add New Relaunch Step: Clear Caches
  source/content/relaunch.md
Labels: New Content, Pantheor

#5977 Update GetFeedback to overlay
  src/components/getFeedback.js
  src/templates/doc.js
Labels: Site

#5976 update onetrust script access
  gatsby-ssr.js
Labels: Site

#5981 no date set for mariadb upgrade
  source/content/drupal-9.md
Labels: Fix Content

#5979 small terminal windows cut off upstream ID
  source/content/guides/terminus-drupal-site-management.md
Labels: Fix Content, Pantheor

#5986 ionCube PHP compatibility
  .circleci/config.yml
  source/content/wp-config-php.md
Labels: Fix Content

#5957 Document compatibility issue with webP
  source/content/plugins-known-issues.md
Labels: New Content, wp

#5954 Expanded CNAME info
  source/content/dns.md
Labels: New Content

#5958 Update basic auth entry
  source/content/modules-known-issues.md
Labels: Fix Content

#5872 Configure Header Links
  gatsby-config.js
  package-lock.json
  package.json
  src/templates/doc.js
  src/templates/guide.js
  src/templates/terminuspage.js
Labels: Site

#6000 Terminus Intstallation - clarify PHARs
  source/content/terminus/install.md
Labels: External, Fix Content

#5962 Update goaccess.conf not found error status
  source/content/nginx-access-log.md
Labels: Fix Content

#6006 markdown linting
  source/content/alternative-php-cache.md
  source/content/database-connection-errors.md
  source/content/debug-connections.md
  source/content/deprecated-constructor-notices.md
  source/content/drupal-s3.md
  source/content/drupal-updates.md
  source/content/email.md
  source/content/guides/collaborative-development.md
  source/content/guides/lockr.md
  source/content/guides/pivotal-tracker.md
  source/content/guides/rerouting-outbound-email.md
  source/content/mysql-access.md
  source/content/opensolr.md
  source/content/organizations.md
  source/content/pantheon_stripped.md
  source/content/phpinfo.md
  source/content/port-2222.md
  source/content/restore-environment-backup.md
  source/content/secure-integration.md
  source/content/settings-php.md
  source/content/solr-drupal-8.md
  source/content/solr.md
  source/content/ssh-tunnels.md
  source/content/start-state.md
  source/content/wordpress-sessions.md
Labels: Fix Content, Site

#6010 Local Report on Merged PRs
  package-lock.json
  package.json
  src/reports/statusReports.js
Labels: Site

#5975 npm update
  .circleci/config.yml
  package-lock.json
Labels: Site

#6015 update Terminus title and description
  src/templates/terminusCommand.js
Labels: Site

#5999 pad guide-content-well
  src/styles/main.css
Labels: Pantheor, Site

#6001 Fix Terminus Update instructions
  source/content/terminus/install.md
  source/content/terminus/updates.md
  source/partials/terminus/self-update.md
Labels: External, Fix Content

#6016 External data updates
  source/content/terminus/updates.md
  source/data/buildToolsReleases.json
  source/data/commands.json
  source/data/drushReleases.json
  source/data/localdev/changelog.yml
  source/data/terminusReleases.json
Labels: Fix Content, Product, Site

#5994 sept 2020 changelog page
  source/changelogs/2020-09-01-September.md
Labels: Changelog

#6020 fallback to tag_name when name is empty
  src/components/buildToolsChangelog.js
Labels: Site

#6019 Email Waiting Periods
  source/content/guides/launch/06-launch-check.md
  source/content/guides/sendgrid.md
Labels: New Content

#6017 [OTTO-449] Update documentation to recommend using pantheon-systems/terminus-d9-preview
  source/content/drupal-9.md
Labels: Fix Content, Pantheor

#5991 Add method to find the source of a PHP session
  source/content/wordpress-sessions.md
Labels: Fix Content, Pantheor
