Repository pantheon-systems/documentation, pull requests merged in 2020-12, with the labels that each got.

#6130 Update change-management.md
  source/content/change-management.md
Labels: New Content, Pantheor, Product

#6086 Added list of file suffixes that have cookies stripped
  source/content/caching-advanced-topics.md
  source/content/cookies.md
  source/content/platform-considerations.md
Labels: External, New Content

#6132 how to change email address for billing
  source/content/account-billing.md
  source/content/site-billing.md
  source/images/dashboard/billing-contact.png
  source/partials/replace-credit-card.md
Labels: Fix Content, billing

#5663 Drupal with Integrated Composer
  source/content/drupal-9.md
  source/content/guides/composer-convert.md
  source/content/integrated-composer.md
  source/data/landings.yaml
  source/partials/composer-support-scope.md
  source/partials/composer-updating.md
  source/partials/drupal-9-upstream-install.md
Labels: Drupal, New Doc, Product

#6058 New Doc: Debug Caching Issues
  source/content/debug-cache.md
  source/data/landings.yaml
Labels: New Doc, PS, Pantheor

#6144 Drupal Commerce on D8 fix anchor link and md
  source/content/guides/drupal-8-commerce.md
Labels: Fix Content

#6149 update SI contract language
  source/content/secure-integration.md
Labels: Fix Content

#6047 update wp-rocket to reflect their docs
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor, hacktoberfest-accepted

#6077 Adding a method for clearing database cache tables.
  source/content/redis.md
Labels: Drupal, New Content, Pantheor

#6151 prereqs and clearer installation steps
  source/content/drupal-9.md
  source/partials/drupal-9-upstream-install.md
Labels: Drupal, Fix Content

#6147 Fix Terminus Script Downloader
  source/content/terminus/plugins/create.md
  source/scripts/HelloCommand.php.txt
  source/scripts/composer.json.txt
Labels: Fix Content

#6160 Replace Abandonded Plugin
  source/content/optimize-site-traffic.md
Labels: Fix Content

#6142 Update plugins-known-issues.md
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor

#6150 Note required permissions for site-local Drush
  source/content/drush-versions.md
Labels: New Content, Pantheor

#6127 Update Localdev doc for Localdev 1
  source/changelogs/2020-02-01-February.md
  source/changelogs/2020-03-01-March.md
  source/changelogs/2020-04-01-April.md
  source/changelogs/2020-05-01-May.md
  source/changelogs/2020-06-01-June.md
  source/changelogs/2020-07-01-July.md
  source/content/guides/lando-wordpress.md
  source/content/guides/localdev/01-introduction.md
  source/content/guides/localdev/02-install-configure.md
  source/content/guides/localdev/03-using-localdev.md
  source/content/guides/localdev/04-troubleshoot-support.md
  source/content/guides/localdev/05-changelog.md
  source/content/local-development.md
  source/content/localdev.md
  source/content/nested-docroot.md
  source/data/landings.yaml
  source/images/localdev/localdev-container-running.png
  source/images/localdev/localdev-dashboard.png
  source/images/localdev/localdev-develop-tab-container-running.png
  source/images/localdev/localdev-install-connect-account.png
  source/images/localdev/localdev-overview.png
  source/images/localdev/localdev-site-running-screen.png
  source/partials/deprecate-kalabox.md
  src/templates/doc.js
  src/templates/guide.js
Labels: New Content, Product

#6161 Answer question on additional DB user
  source/content/mysql-access.md
Labels: New Content

#6154 move services.yml step to faq
  source/content/drupal-9.md
  source/content/guides/quickstart/04-site-dashboard.md
  source/partials/drupal-9-upstream-install.md
Labels: Fix Content

#6165 Invalid token names
  source/content/machine-tokens.md
Labels: New Content, Product

#6162 Clarifications on terminus backup:restore
  source/partials/terminus/backup-restore.md
Labels: New Content, Product

#6123 Added New Issue for Autoptimize Plugin
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor, wp

#6167 Reflect offer expiration date
  source/content/crisis-response-upstream.md
Labels: Fix Content, Pantheor

#6166 Update Redis memory limits doc
  source/content/redis.md
Labels: Fix Content, Pantheor

#6168 rename database descriptions
  source/content/hyperdb.md
Labels: Fix Content, Pantheor

#6156 update external data
  source/data/buildToolsReleases.json
  source/data/drushReleases.json
  source/data/localdev/changelog.yml
  source/data/terminusReleases.json
Labels: Site

#6171 Update solr-drupal-8.md
  source/content/solr-drupal-8.md
Labels: Fix Content, Pantheor

#6174 Logo update
  source/images/logo-pantheon-logotype.png
  src/layout/header/index.js
Labels: Site

#6179 Update onboarding.md
  source/content/onboarding.md
Labels: Fix Content, PS, Pantheor

#6181 Don't specify an exact PHP version in migration pre-reqs
  source/content/migrate.md
Labels: Fix Content, Pantheor

#6053 Document Index Size Issue Coming From utf8mb3 to utf8mb4
  source/content/migrate.md
  source/content/plugins-known-issues.md
Labels: New Content, PS, Pantheor

#6159 Adding sample security headers code for WP
  source/content/wordpress-best-practices.md
Labels: New Content, Pantheor, wp

#6186 Cross-link docs on timeouts
  source/content/errors-and-server-responses.md
  source/content/timeouts.md
Labels: Feedback, Fix Content

#6187 December 2020 Changelog
  source/changelogs/2020-12-01-December.md
Labels: Changelog

#6163 Upstreams other option
  source/content/create-custom-upstream.md
  source/content/custom-upstream.md
Labels: New Content, Pantheor

#5640 Multidev for Gold Support and higher - Reverts 5638
  source/content/crisis-response-upstream.md
  source/content/multidev-faq.md
  source/content/multidev.md
  source/content/organization-faq.md
  source/partials/covid-offer.md
Labels: Blocked, Remove Content
