Repository pantheon-systems/documentation, pull requests merged in 2020-07, with the labels that each got.

#5847 2020 July changelog
  source/changelogs/2020-07-01-July.md
Labels: Changelog

#5850 CSS fixes
  src/components/toc/style.css
Labels: Site

#5852 fix ToC without breaking topic items
  src/components/toc/style.css
  src/layout/topic-item/style.css
Labels: Site

#5841 Wordpress include wrapped with Redis check first
  source/content/redis.md
Labels: Fix Content, Pantheor

#5854 prettier --write src/components/*.js
  src/components/check.js
  src/components/dns-provider-docs.js
  src/components/localdevChangelog.js
  src/components/resourceSelector.js
  src/components/withLocation.js
  src/components/youtube.js
Labels: Site

#5844 Document DropzoneJS widget issue
  source/content/modules-known-issues.md
Labels: New Content

#5857 Update Skip to Content ID
  src/layout/header/index.js
  src/pages/404.js
  src/pages/contributors.js
  src/pages/index.js
  src/pages/search.js
  src/templates/changelog.js
  src/templates/doc.js
  src/templates/guide.js
  src/templates/landing.js
Labels: Site

#5866 Use try3 function to increase link check resiliency
  .circleci/tests/link-checker.sh
Labels: Site

#5731 note caveat with SSO and NR licenses
  source/content/new-relic.md
Labels: New Content, Product

#5808 adjust symlinked backup to writable dir
  source/content/symlinks-assumed-write-access.md
Labels: CSM, Fix Content, Pantheor

#5739 Link to PHP UA blocking from Bots and Indexing
  source/content/bots-and-indexing.md
  source/content/optimize-site-traffic.md
Labels: Fix Content

#5876 Drush 5 Error on Older Sites
  source/content/drush-versions.md
Labels: New Content

#5877 Preceding slashes in log path
  source/content/tmp.md
  source/content/wp-config-php.md
Labels: Fix Content

#5878 Adding a note about Drupal 9 to drupal-updates page
  source/content/drupal-updates.md
Labels: Fix Content, Pantheor

#5843 Update and expand Drupal Cron documentation
  source/content/drupal-cron.md
  source/images/cron-config.png
  source/images/disable-cron-requests.png
  source/images/drupal-cron-logging.png
  source/images/drupal-reports.png
  source/images/recent-log-reports.png
  source/images/run-cron-config.png
  source/images/run-cron.png
Labels: Fix Content

#5879 Terminus install plugin with Composer update
  source/content/terminus/plugins.md
Labels: Fix Content

#5887 update dns after deleting a live site
  source/content/delete-site.md
Labels: New Content, Pantheor

#5888 toc scroll issue fix
  src/components/headerBody/index.js
  src/templates/doc.js
Labels: Site

#5889 Removing IC Prefix Requirement for D9 + IC
  source/content/drupal-9.md
Labels: Pantheor

#5880 GitHub "Clone or Download" is now "Code" button
  .circleci/config.yml
  source/content/guides/build-tools/05-extend.md
  source/content/guides/phpstorm-composer.md
  source/content/terminus/plugins.md
  source/images/github/github-code-clone-ssh.png
  source/images/pr-workflow/clone.png
  source/images/terminus-plugin-install-git.png
Labels: Fix Content

#5559 [OTTO-253] Proposal: describe "retired" versions of PHP
  source/content/php-versions.md
Labels: Blocked, Needs More Info, Pantheor

#5894 Add info on MySQL binlogs for troubleshooting quota issues
  source/content/logs.md
  source/content/mysql-access.md
Labels: CSE, New Content, Pantheor

#5905 direct users from kalabox to localdev; clarify lando/localdev support
  source/content/local-development.md
  source/content/videos/local.md
  source/partials/deprecate-kalabox.md
Labels: Fix Content, Pantheor
