Repository pantheon-systems/documentation, pull requests merged in 2020-08, with the labels that each got.

#5907 Document new domain ownership verification process
  .circleci/config.yml
  source/content/domains.md
  source/content/guides/launch/03-domains.md
  source/images/dashboard/add-first-domain.png
  source/images/dashboard/connect-custom-domain.png
  source/images/dashboard/verify-domain-ownership.png
Labels: New Content, Product

#5914 Aug 2020 Changelog
  source/changelogs/2020-08-01-August.md
Labels: Changelog

#5912 SFTP Connection info is now Connect with SFTP
  .circleci/config.yml
  source/content/debug-mysql-new-relic.md
  source/content/guides/multisite/03-config.md
  source/content/guides/quickstart/09-onserver-dev-part2.md
  source/content/guides/wordpress-git/03-themes.md
  source/content/migrate-manual.md
Labels: Fix Content, Product

#5908 Add localdev support for nested docroot
  source/content/localdev.md
  source/content/nested-docroot.md
Labels: Feedback, New Content

#5840 Wordfence instruction
  source/content/plugins-known-issues.md
  src/styles/codeBlocks.css
Labels: Fix Content, wp

#5874 Event Espresso sends session cookie
  source/content/plugins-known-issues.md
Labels: Pantheor, wp

#5913 LoadImpact has rebranded as K6
  source/content/load-and-performance-testing.md
Labels: Fix Content, Pantheor

#5916 Document terminus_hide_git_mode_warning
  source/content/terminus/configuration.md
Labels: New Content, Product

#5919 wp-config-pantheon and wp_environment_type
  source/content/backups.md
  source/content/code.md
  source/content/cookies.md
  source/content/core-updates.md
  source/content/environment-specific-config.md
  source/content/faq.md
  source/content/files.md
  source/content/local-development.md
  source/content/migrate-manual.md
  source/content/migrate.md
  source/content/nested-docroot.md
  source/content/pantheon-yml.md
  source/content/pantheon_stripped.md
  source/content/plugins.md
  source/content/private-paths.md
  source/content/server_name-and-server_port.md
  source/content/sftp.md
  source/content/site-billing.md
  source/content/tmp.md
  source/content/wordpress-cron.md
  source/content/wordpress-development-versions.md
  source/content/wordpress-known-issues.md
  source/content/wordpress-phpstorm.md
  source/content/wp-config-php.md
  source/partials/wp-debugging.html
  source/partials/wp-debugging.md
  source/partials/wp_get_environment_type.md
Labels: New Content, Pantheor, wp

#5918 Explicitly call bash
  source/content/mysql-access.md
  source/scripts/pantheon-backup-to-s3.sh.txt
Labels: Fix Content

#5923 Remove Dead Link
  source/content/wordpress-cron.md
Labels: Fix Content

#5926 Update core-updates for CORE-1871
  source/content/core-updates.md
  source/images/dashboard/update-options.png
  source/images/dashboard/updates-available.png
Labels: Fix Content, Product

#5929 remove wp_get_environment_type info and partial and revert to wp_debug
  source/content/environment-specific-config.md
  source/content/mu-plugin.md
  source/content/wp-config-php.md
Labels: Fix Content, Product

#5924 Update outgoing-ips.md
  source/content/outgoing-ips.md
Labels: Fix Content, Pantheor, Product

#5931 document terminus self:update
  source/content/terminus/install.md
Labels: New Content, Product

#5925 Custom WordPress Login Message
  source/content/mu-plugin.md
Labels: New Content

#5934 Update Unyson Paths
  source/content/plugins-known-issues.md
Labels: Fix Content, wp

#5930 quicksilver scripts run commands in order, waiting for end or timeout
  source/content/quicksilver.md
Labels: External, New Content

#5797 Updating possible resolutions for wp all import/export plugin
  source/content/plugins-known-issues.md
  source/images/plugins-known-issues/wp-import-chunk-size.png
  source/images/plugins-known-issues/wp-import-iterative.png
Labels: CSE, New Content, Pantheor, wp

#5886 Fix check for frozen sites in our example Terminus script
  source/content/terminus/scripting.md
Labels: CSE, Fix Content

#5935 Private Path for Files for Multisite
  source/content/private-paths.md
Labels: New Content, wp

#5938 adjust terminus hide git mode preference
  source/content/terminus/configuration.md
Labels: Fix Content, Product

#5933 Adjust H3 weight
  source/docs/assets/css/main.css
  source/partials/notes/partial-composer-adoption-warning.md
  src/components/headerBody/style.css
  src/styles/global.scss
Labels: Site

#5932 Document HTTP Range Request
  source/content/platform-considerations.md
Labels: New Content, Product

#5937 Add Performance Extra Large to Plan Resources table
  source/content/site-plans-faq.md
Labels: New Content, Pantheor

#5944 Social Links Restructure
  .circleci/config.yml
  gatsby-config.js
  package-lock.json
  package.json
  src/components/discourse/index.js
  src/components/discourse/style.css
  src/components/github/index.js
  src/components/github/style.css
  src/components/headerBody/index.js
  src/components/slack.js
  src/components/slack/index.js
  src/components/slack/style.css
  src/templates/doc.js
Labels: Site

#5945 Update Managed Updates
  .markdownlint.json
  source/content/managed-updates.md
  src/styles/main.css
Labels: Fix Content, New Content, Pantheor

#5950 Updating the Wraith URL
  source/content/guides/visual-diff-with-wraith.md
Labels: External, Fix Content

#5955 explain ln arguments
  .circleci/config.yml
  source/content/symlinks-assumed-write-access.md
Labels: New Content

#5959 D9 support coming Dec 2
  source/content/drupal-9.md
Labels: Pantheor
