Repository pantheon-systems/documentation, pull requests merged in 2020-01, with the labels that each got.

#5423 Add WooCommerce Templating Issue to Known Issues
  source/content/modules-plugins-known-issues.md
Labels: CSE, New Content

#5425 Remove ExternalLinks
  source/changelogs/2019-03-01-March.md
  source/content/add-client-site.md
  source/content/agency-tips.md
  source/content/create-sites.md
  source/content/custom-upstream.md
  source/content/faq.md
  source/content/guides/edt/01-essentialdevelopertraining.md
  source/content/multidev-faq.md
  source/content/new-plans-faq.md
  source/content/organization-faq.md
  source/content/platform-considerations.md
  source/content/sso-organizations.md
  source/content/traffic-limits.md
  source/content/unwind-drupal-multisite.md
Labels: Site

#5359 New Relic login section update
  source/content/new-relic.md
Labels: Fix Content, Needs More Info

#5389 S3 File System module issues
  source/content/modules-plugins-known-issues.md
Labels: New Content

#5427 redirects for upstreams
  source/content/maintain-custom-upstream.md
Labels: CSE, New Content

#5432 need to use className when inside JSX
  gatsby/src/layout/footer/index.js
  gatsby/src/templates/landing.js
Labels: Site

#5433 Add link to Reducing Large Repos from Platform Considerations
  source/content/platform-considerations.md
Labels: CSE

#5428 Remove cname details
  source/partials/standard-dns-config.md
Labels: Fix Content

#5416 Add Polylang in WP issues
  source/content/modules-plugins-known-issues.md
Labels: CSE, New Content

#5406 add addsearch custom tags for categories
  gatsby/src/layout/seo.js
Labels: Site

#5441 Changelog 2020 January
  source/changelogs/2020-01-01-January.md
Labels: Changelog

#5442 add changelog to localdev
  source/content/localdev.md
Labels: New Content

#5349 Adding redirection as not counted in the metrics
  source/content/traffic-limits.md
Labels: CSE, New Content

#5439 Update shibboleth-sso.md
  source/content/shibboleth-sso.md
Labels: CSE

#5448 Remove lcache from Pantheon Modules
  source/content/modules.md
Labels: Fix Content

#5452 migrate misspelling
  source/content/drush.md
Labels: CSE, Fix Content

#5391 PLAT-1318 updating documenation for log collection
  source/content/logs.md
  source/content/nginx-access-log.md
  source/content/php-slow-log.md
  source/scripts/access_getlogs.sh.txt
Labels: Fix Content, Pantheor, Product

#5414 Adding Divi as a symlink example
  gatsby/src/styles/codeBlocks.css
  source/content/assuming-write-access.md
Labels: CSE, New Content

#5447 Relaunch - Clarify old site as live until..
  source/content/relaunch.md
  source/partials/standard-dns-config.md
  source/partials/standard-dns-config2.md
Labels: Fix Content, New Content

#5451 update Terminus EOL table
  gatsby/gatsby-config.js
  source/content/terminus/updates.md
Labels: New Content, Product

#5453 localdev updates
  source/content/localdev.md
  source/images/localdev/localdev-switch-to-edge.png
Labels: New Content, Pantheor

#5454 add note on Pantheon Solr
  source/content/solr-drupal-8.md
Labels: Fix Content, Product

#5464 remove indexdepot - out of business Dec 2019
  source/content/code.md
  source/content/indexdepot.md
  source/content/solr.md
  source/data/landings.yaml
Labels: Fix Content

#5457 sync directory change in Drupal 8.8.0
  source/content/drupal-8-configuration-management.md
Labels: External, Fix Content

#5445 Separate Modules and Plugins with Known Issues
  .markdownlint.json
  gatsby/src/components/headerBody/style.css
  gatsby/src/components/reviewDate/index.js
  gatsby/src/components/reviewDate/style.css
  gatsby/src/templates/doc.js
  source/content/assuming-write-access.md
  source/content/caching-advanced-topics.md
  source/content/modules-known-issues.md
  source/content/modules-plugins-known-issues.md
  source/content/mu-plugin.md
  source/content/platform-considerations.md
  source/content/plugins-known-issues.md
  source/content/wordpress-broken-links.md
  source/content/wordpress-known-issues.md
  source/partials/h5p-known-issues.md
  source/partials/search-replace-domains.md
  source/partials/tmp-directory.md
Labels: New Content, Site

#5440 warn hsts plugin/module users
  source/partials/hsts.md
Labels: New Content

#5470 Update 06-clone-live-to-dev.md
  source/content/guides/quickstart/06-clone-live-to-dev.md
Labels: External, Fix Content

#5471 Remove outdated module entries
  source/content/modules-known-issues.md
Labels: Remove Content

#5465 add title attribs for accessibility
  gatsby/src/components/navbar/style.css
  gatsby/src/layout/footer/index.js
  gatsby/src/layout/header/index.js
Labels: Site

#5489 Fix HSTS table
  source/partials/hsts.md
Labels: Fix Content

#5491 this link was only partially markdowned
  source/content/faq.md
Labels: External, Fix Content

#5481 Feb 2020 changelog page
  gatsby/src/components/localdevChangelog.js
  gatsby/src/components/releases.js
  source/changelogs/2020-02-01-February.md
  source/data/commands.json
  source/data/releases.json
Labels: Changelog
