Repository pantheon-systems/documentation, pull requests merged in 2020-05, with the labels that each got.

#5684 update Preview Dev env after deploy to prod
  .circleci/scripts/deploy-live.sh
Labels: Site

#5681 Restore example D7 snippet for managing cache configs in settings.php
  source/content/settings-php.md
Labels: New Content, Pantheor

#5688 Update rsync command used to fetch logs
  source/content/logs.md
Labels: External, Fix Content

#5629 Restrict access for bots based on UA string
  source/content/optimize-site-traffic.md
Labels: New Content, Pantheor, Product

#5690 5688 logfiles rsync
  source/content/logs.md
Labels: External, Fix Content

#5692 Update start states / custom upstreams
  source/content/start-state.md
Labels: CSE, Fix Content

#5697 fix Goaccess format config
  source/content/nginx-access-log.md
Labels: Fix Content

#5699 Report Pages without Category
  source/content/videos/cache.md
  source/content/videos/drush.md
  source/content/videos/git.md
  source/content/videos/local.md
  source/content/videos/migrate-wordpress.md
  source/content/videos/pantheon-yml.md
  source/content/videos/sftp.md
  source/content/videos/terminus.md
  source/content/videos/wp-cli.md
  source/content/wordpress-known-issues.md
  source/content/wordpress-launch-check.md
  src/reports/reports.js
Labels: Site

#5535 [OTTO-234] Report PHP 7.4 as a supported version
  source/content/php-versions.md
Labels: Pantheor, Product

#5683 Note Localdev support
  source/content/guides/lando.md
Labels: Fix Content

#5698 Align "Before You Begin"
  source/content/migrate-manual.md
  source/content/migrate.md
Labels: Fix Content

#5686 copy troubleshooting from plugin page
  source/content/plugins.md
Labels: New Content

#5444 Build Tools Guide v2 (2020)
  source/content/guides/build-tools/01-introduction.md
  source/content/guides/build-tools/02-create-project.md
  source/content/guides/build-tools/03-new-pr.md
  source/content/guides/build-tools/03-pr-workflow.md
  source/content/guides/build-tools/04-configure.md
  source/content/guides/build-tools/05-extend.md
  source/content/guides/build-tools/06-tests.md
  source/content/guides/build-tools/07-merge.md
  source/content/guides/build-tools/08-custom-theme.md
  source/content/guides/build-tools/09-update.md
  source/data/contributor.yaml
  source/images/pr-workflow/build-tools-diagram-overview.png
Labels: Blocked, New Content, Pantheor

#5704 May 2020 Changelog
  source/changelogs/2020-05-01-May.md
Labels: Changelog

#5685 D7, Ampersands, and You: A very special episode of Docs PR
  source/content/platform-considerations.md
Labels: New Content, Product

#5675 Update tags on ldap-and-ldaps.md
  source/content/ldap-and-ldaps.md
Labels: CSE, Fix Content, Site

#5707 Fix date formatting
  src/components/reviewDate/index.js
Labels: Site

#5710 update frontmatter on Multisite Guide
  source/content/guides/multisite/01-introduction.md
Labels: Fix Content

#5711 Update AddSearch Tagging
  src/layout/seo.js
  src/templates/doc.js
  src/templates/guide.js
  src/templates/resource.js
  src/templates/terminuspage.js
  src/templates/video.js
Labels: Site

#5695 Expand note for composer-based sites
  source/content/migrate-manual.md
Labels: New Content

#5693 update FAQ post GCDN rollout
  source/content/global-cdn.md
Labels: Fix Content, Product

#5716 add note for wp-rocket
  source/content/plugins-known-issues.md
Labels: Fix Content

#5717 add link to plan cancellation
  source/content/site-plan.md
Labels: External, New Content

#5691 document platform infrastructure changes
  source/content/external-libraries.md
  source/content/modules-known-issues.md
  source/content/platform-considerations.md
  source/content/read-environment-config.md
Labels: Fix Content, Product

#5719 Managed Updates
  .markdownlint.json
  source/content/managed-updates.md
  src/components/check.js
  src/templates/doc.js
  src/templates/guide.js
  src/templates/terminuspage.js
Labels: New Doc, Product

#5723 Changes to highlight Organization Administrators
  source/content/create-custom-upstream.md
Labels: Fix Content, Pantheor

#5724 Clarify data residency for site regions
  source/content/regions.md
Labels: Fix Content, Pantheor, Product

#5727 Fix Embedded Videos
  source/content/guides/quickstart/02-user-dashboard.md
  source/content/guides/quickstart/03-create-new-site.md
  source/content/guides/quickstart/04-site-dashboard.md
  source/content/guides/quickstart/05-create-test-live.md
  source/content/guides/quickstart/06-clone-live-to-dev.md
  source/content/guides/quickstart/08-onserver-dev-part1.md
Labels: Fix Content, Site

#5728 Pantheon Plugins for WP: update frontmatter
  source/content/plugins.md
  source/content/wordpress-known-issues.md
  source/content/wordpress-launch-check.md
Labels: Fix Content

#5730 Clarifications to 800-number
  source/content/support.md
Labels: Fix Content, Pantheor

#5714 Update commands for full install of terminus
  source/content/terminus/install.md
Labels: Fix Content, PS, Product

#5736 `drush-script: drush9` does not work in COS/COE
  source/content/drush.md
Labels: Fix Content, Pantheor, Product

#5737 update docs link in coe banner
  source/content/platform-considerations.md
  source/content/read-environment-config.md
Labels: Product

#5646 update Pantheon Professional Services doc + add Onboarding services
  source/content/managed-updates.md
  source/content/onboarding.md
  source/content/professional-services.md
Labels: New Doc, PS

#5734 Update New Relic FAQ
  source/content/new-relic.md
Labels: New Content, Pantheor

#5741 Update localdev.md
  source/content/localdev.md
Labels: CSE, New Content, Product

#5742 Updating order of items
  source/content/guides/launch/07-next-steps.md
Labels: Fix Content, PS

#5746 Manual site audit into own section, update tags
  source/content/drupal-launch-check.md
  source/content/wordpress-launch-check.md
Labels: Fix Content

#5733 New doc: Drupal 9 early access
  source/content/drupal-9.md
  source/images/circleci/circleci-allow-uncertified-orbs.png
Labels: New Doc, Product

#5750 update curl one-liner for non-PCRE grep systems
  source/content/terminus/install.md
Labels: Fix Content

#5676 Update SimpleSAML docs (composer method)
  source/content/shibboleth-sso.md
Labels: Fix Content, Pantheor

#5749 Document Thrive Theme Builder needs FS_METHOD fix
  source/content/plugins-known-issues.md
Labels: New Content

#5745 Added an example for locked external call trigger
  source/content/drupal-cron.md
Labels: CSE, New Content
