Repository pantheon-systems/documentation, pull requests merged in 2020-02, with the labels that each got.

#5494 Updated relaunch.md with more process details.
  source/content/relaunch.md
Labels: CSE, Fix Content

#5488 Update to PHPStorm drupal setup docs.
  source/content/drupal-phpstorm.md
  source/images/phpstorm-drushsupport.png
  source/images/phpstorm-newprojectwizard.png
  source/images/phpstorm-onserversettings.png
Labels: Fix Content, Pantheor

#5495 updated to copyright 2020
  LICENSE
Labels: Site

#5492 Clarify that the Platform API on Drupal 8
  source/content/modules.md
Labels: Fix Content, Pantheor

#5498 Pass Page Tile to Segment
  gatsby/gatsby-browser.js
  gatsby/src/layout/seo.js
Labels: Site

#5502 Fix 'commmit' typo on Google Apps SSO documentation
  source/content/wordpress-google-sso.md
Labels: External, Fix Content

#5507 Review and update Sites
  source/content/sites.md
Labels: CSM, Fix Content

#5513 Update GitHub Auth Method
  .circleci/scripts/deploy-multidev.sh
  .circleci/scripts/update-terminus-commands.sh
Labels: Site

#5517 set ol font size relative
  gatsby/src/styles/global.scss
Labels: Site

#5476 Fix and style CLI prompts and output lines
  gatsby/gatsby-browser.js
  gatsby/gatsby-config.js
  gatsby/src/styles/codeBlocks.css
  source/content/drush.md
Labels: Site

#5515 Update and Break up Git FAQ page
  .circleci/scripts/merge_conflicts.sh
  gatsby/src/styles/codeBlocks.css
  source/content/git-faq.md
  source/content/git-resolve-merge-conflicts.md
  source/images/vscode-merge-conflict.png
Labels: Fix Content, New Content, New Doc, Site

#5516 Redirect documentation overhaul
  source/content/advanced-redirects.md
  source/content/redirects.md
  source/data/landings.yaml
  source/partials/.markdownlint.json
  source/partials/_redirects.md
  source/partials/primary-domain.md
  source/partials/remove-primary-domain.md
Labels: Fix Content, New Content, New Doc, Site

#5518 Update HTTP-to-HTTPS
  source/content/http-to-https.md
Labels: Fix Content, Site

#5490 Consolidate Import Code and include Build Tools
  .circleci/config.yml
  .circleci/scripts/import-external-data.sh
  .circleci/scripts/update-localdev-changelog.sh
  .circleci/scripts/update-terminus-commands.sh
  .markdownlint.json
  gatsby/gatsby-node.js
  gatsby/src/components/buildToolsChangelog.js
  gatsby/src/components/drushChangelog.js
  gatsby/src/components/releases.js
  gatsby/src/templates/doc.js
  gatsby/src/templates/guide.js
  source/content/drush.md
  source/content/guides/build-tools/01-introduction.md
  source/data/buildToolsReleases.json
  source/data/drushReleases.json
  source/data/terminusReleases.json
Labels: Site

#5510 Update drupal-8-configuration-management.md
  source/content/drupal-8-configuration-management.md
Labels: External, Fix Content

#5526 Review and Update SFTP Mode
  source/content/sftp.md
  source/partials/auth.md
Labels: Fix Content, review

#5530 Fix Anchor Link
  source/content/site-billing.md
  source/partials/transfer-ownership-billing-intro.md
Labels: Fix Content

#5512 Docs Challenge 2020 Changes
  gatsby/src/components/reviewDate/index.js
  source/content/modules-known-issues.md
  source/content/plugins-known-issues.md
Labels: CHALLENGE, Fix Content, Pantheor

#5509 Mass Doc Review and Update
  source/content/core-updates.md
  source/content/git.md
  source/content/kill-mysql-queries.md
  source/content/local-development.md
  source/content/ssh-keys.md
  source/content/undo-commits.md
  source/images/dashboard/sync-code.png
  source/images/git_clone.png
  source/images/git_commit.png
  source/images/git_status.png
  source/partials/host-keys.md
Labels: Site, review

#5478 update Terminus and related instructions for WSL
  gatsby/src/templates/terminuspage.js
  source/content/cygwin-windows.md
  source/content/terminus.md
  source/content/terminus/install.md
Labels: Fix Content, New Content, Product, review

#5534 WordPress Git MD fixes
  gatsby/src/templates/guide.js
  source/content/guides/wordpress-git/01-introduction.md
  source/content/guides/wordpress-git/02-plugins.md
  source/content/guides/wordpress-git/03-themes.md
  source/content/guides/wordpress-git/04-media.md
  source/content/guides/wordpress-git/05-remove-editor.md
  source/content/guides/wordpress-git/06-next-steps.md
Labels: review

#5506 Update DR docs to cover Solr issue mitigation
  gatsby/gatsby-config.js
  source/content/disaster-recovery.md
  source/content/solr-drupal-7.md
  source/content/wordpress-solr.md
  source/images/d7-solr-reindex.png
  source/images/solr-power-index.png
  source/partials/solr-commit-changes.md
Labels: New Content

#5542 Terminus fixes fixes
  source/content/terminus/install.md
Labels: Fix Content, Product

#5496 update application container info
  source/content/application-containers.md
Labels: External, Fix Content

#5538 Advanced Global CDN
  source/content/advanced-global-cdn.md
  source/content/global-cdn.md
  source/data/landings.yaml
Labels: New Doc, Product
