Repository pantheon-systems/documentation, pull requests merged in 2020-10, with the labels that each got.

#6007 Custom certificate for vanity domain
  source/content/vanity-domains.md
Labels: New Content, Pantheor, Product

#4865 New Doc: Basic Troubleshooting
  source/content/basic-troubleshooting.md
  source/content/guides/multisite/05-debug.md
  source/images/drupal-8-install-error.png
Labels: CSE, New Doc, Pantheor

#6024 Note Custom Upstream Default Branch Name Requirements
  source/content/create-custom-upstream.md
  source/images/github-avoid-readme.png
Labels: New Content

#5995 October 2020 Changelog
  source/changelogs/2020-09-01-September.md
  source/changelogs/2020-10-01-October.md
Labels: Changelog

#6027 specify font for GetFeedback widget
  src/styles/main.css
Labels: Site

#5964 Added sample code to make the WP CFM work in multidev
  .circleci/config.yml
  source/content/mu-plugin.md
  source/content/wp-cfm.md
Labels: New Content, Pantheor

#6031 Filter local report.
  src/reports/statusReports.js
Labels: Site

#5895 Updates to the Build Tools guide
  source/content/guides/build-tools/01-introduction.md
  source/images/pr-workflow/build-tools-diagram-overview.png
  source/images/pr-workflow/build-tools-provider-diagram.png
  source/images/pr-workflow/build-tools-structure-diagram.png
Labels: Pantheor

#5951 Added changes in wp rocket installation
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor, wp

#5990 New Content | Elementor
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor

#5949 Update Advanced Global CDN Doc
  .markdownlint.json
  source/content/advanced-global-cdn.md
Labels: New Content

#6046 clarify XL metrics
  source/content/site-plans-faq.md
Labels: billing

#6032 basic plan overage clarification
  source/content/horizontal-scalability.md
  source/partials/traffic-limits-overages.md
Labels: Fix Content, Pantheor

#6044 APC -> APCU
  source/content/alternative-php-cache.md
  source/content/apcu.md
  source/content/application-containers.md
  source/content/debug-slow-performance.md
  source/data/landings.yaml
Labels: Fix Content, Product

#6035 Add link to collaborator roles
  source/content/organizations.md
Labels: New Content, Pantheor

#6061 fix featured contributor panel
  src/components/headerBody/index.js
Labels: Site

#6036 Note another method to block xmlrpc.php attacks.
  source/content/wordpress-best-practices.md
Labels: New Content, Pantheor, wp

#6052 Added cache lifetime for static assets in dev and multidev environments
  source/content/caching-advanced-topics.md
Labels: New Content, Pantheor

#6063 Update redis.md
  source/content/redis.md
Labels: Fix Content, Pantheor

#6038 Update redis.md
  source/content/redis.md
Labels: External, Fix Content, hacktoberfest-accepted

#6049 improve delete/modify merge conflict section (resolve git merge conflicts page)
  source/content/git-resolve-merge-conflicts.md
Labels: External, New Content, hacktoberfest-accepted

#6066 note single Solr index
  source/content/solr.md
Labels: New Content

#6067 rm outdated and unrelated info
  source/content/modules-known-issues.md
Labels: Fix Content

#6056 NS doc fixes
  source/content/dns-providers/network-solutions.md
Labels: External, Fix Content, hacktoberfest-accepted

#6068 Platform Considerations: update AGCDN references
  source/content/platform-considerations.md
Labels: Fix Content, Pantheor

#5960 Tweak log paths for COE
  source/content/logs.md
Labels: Fix Content, Pantheor

#6069 Anchor Link Fix
  .circleci/config.yml
  source/content/advanced-redirects.md
Labels: Fix Content

#6055 Status report filters
  package-lock.json
  package.json
  src/reports/statusReports.js
Labels: Site

#6025 Adding slider-revolution/revslider
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor

#6064 Lando for WP, LocalDev for all.
  .circleci/config.yml
  source/changelogs/2016-09-01-September.md
  source/changelogs/2019-10-01-October.md
  source/content/basic-troubleshooting.md
  source/content/faq.md
  source/content/guides/lando-wordpress.md
  source/data/landings.yaml
  source/images/guides/lando-wordpress/lando-choose-recipe.png
  source/images/guides/lando-wordpress/lando-installer.png
  source/images/guides/lando-wordpress/lando-start.png
Labels: Fix Content

#6040 Added information about configuring PHP version through LocalDev in FAQ
  source/content/localdev.md
  source/images/localdev/localdev-php-version.png
  source/images/localdev/localdev-rebuild.png
Labels: New Content, Pantheor, Product

#6073 Capture known issue with WPFront Notification Bar plugin
  source/content/plugins-known-issues.md
Labels: New Content, PS, Pantheor, wp

#6045 view invoices, replace card, and new owner gets future invoices
  source/content/account-billing.md
  source/content/add-client-site.md
  source/content/guides/launch/02-plans.md
  source/content/managing-edu-plus.md
  source/content/site-billing.md
  source/content/site-owner-faq.md
  source/content/site-plan.md
  source/content/team-management.md
  source/images/dashboard/invite-business-owner.png
  source/images/dashboard/payment-form-invite.png
  source/partials/invite-to-pay.md
  source/partials/replace-credit-card.md
  source/partials/transfer-ownership-billing-intro.md
  source/partials/view-invoices.md
Labels: New Content, billing

#6042 Update and Clarify Multidev Creation
  source/content/multidev.md
Labels: Fix Content, Product

#6039 Update MySQL Troubleshooting with New Relic
  source/content/debug-mysql-new-relic.md
Labels: Fix Content

#6043 Reference A/AAAA records over CNAME
  source/content/style-guide.md
  source/content/vanity-domains.md
  source/images/dashboard/correct-a-aaaa-dns.png
  source/images/dashboard/wrong-vanity-aname-dns.png
  source/images/dashboard/wrong-vanity-cname-dns.png
Labels: Fix Content, Product

#6080 Reporting filter on CMS
  src/reports/reports.js
Labels: Site

#5633 Add solution to divi issues
  source/content/plugins-known-issues.md
  source/images/plugins-known-issues/divi-clear-cache.png
Labels: Needs More Info, New Content, Pantheor

#6075 Update D8 Configuration Management Content
  source/content/core-updates.md
  source/content/drupal-8-configuration-management.md
  source/content/guides/drupal8-commandline.md
  source/content/settings-php.md
  source/partials/drupal-8-8-warning.md
Labels: Drupal, Fix Content

#6041 Replace Platform URLs During Launch
  source/content/guides/launch/04-configure-dns.md
  source/content/guides/launch/05-redirects.md
  source/partials/search-replace-domains.md
Labels: New Content, Pantheor, wp

#6089 Kill Queries: add redis, new relic, hyperdb sections
  source/content/kill-mysql-queries.md
Labels: New Content

#6090 Updates wp-config-php.md
  source/content/wp-config-php.md
Labels: External, Fix Content

#6085 Autopilot
  source/content/autopilot.md
  source/data/contributor.yaml
  source/images/dashboard/vrt.gif
Labels: New Doc, Product
