Repository pantheon-systems/documentation, pull requests merged in 2021-04, with the labels that each got.

#6335 rename global regions
  source/content/regions.md
Labels: Fix Content

#6319 Update redis to object cache
  source/content/agency-tips.md
  source/content/apcu.md
  source/content/application-containers.md
  source/content/basic-troubleshooting.md
  source/content/clear-caches.md
  source/content/cloud-optimization.md
  source/content/crisis-response-upstream.md
  source/content/database-connection-errors.md
  source/content/debug-slow-performance.md
  source/content/drupal-caching-views.md
  source/content/guides/edt/07-performance.md
  source/content/guides/frontend-performance.md
  source/content/guides/launch/06-launch-check.md
  source/content/guides/launch/07-next-steps.md
  source/content/guides/localdev/03-using-localdev.md
  source/content/headless.md
  source/content/horizontal-scalability.md
  source/content/http-to-https.md
  source/content/hyperdb.md
  source/content/kill-mysql-queries.md
  source/content/modules-known-issues.md
  source/content/mu-plugin.md
  source/content/multizone-failover.md
  source/content/object-cache.md
  source/content/platform-resources.md
  source/content/plugins-known-issues.md
  source/content/plugins.md
  source/content/read-environment-config.md
  source/content/required-reading.md
  source/content/settings-php.md
  source/content/site-owner-faq.md
  source/content/site-plan.md
  source/content/site-plans-faq.md
  source/content/sites.md
  source/content/ssh-tunnels.md
  source/content/videos/cache.md
  source/content/wordpress-best-practices.md
  source/content/wordpress-cache-plugin.md
  source/content/wordpress-launch-check.md
  source/data/home.yaml
  source/data/landings.yaml
  source/partials/additionalResources/lw4.md
  source/partials/remove-addons/drupal-redis.md
Labels: Fix Content, Pantheor

#6342 remove violent language ref
  source/content/guides/launch/01-introduction.md
  source/content/multidev-faq.md
  source/content/pantheon-yml.md
  source/content/quicksilver.md
  source/data/landings.yaml
Labels: Fix Content

#6357 update former pantheor bio
  source/data/contributor.yaml
Labels: Fix Content

#6344 Mar 21 changelog
  source/changelogs/2021-03-01-March.md
Labels: Changelog

#6343 April 2021 Changelog
  source/changelogs/2021-04-01-April.md
  source/content/guides/edt/02-introduction-and-architecture.md
  source/content/platform-resources.md
  source/content/quicksilver.md
Labels: Changelog

#6323 add db directive to pantheon.yml
  source/content/nested-docroot.md
  source/content/pantheon-yml.md
Labels: Drupal, New Content, Product, wp

#6304 Autopilot limited availability
  source/changelogs/2020-11-01-November.md
  source/content/autopilot.md
  source/content/change-management.md
  source/content/guides/autopilot/01-introduction.md
  source/content/guides/autopilot/02-enable-autopilot.md
  source/content/guides/autopilot/03-tests-results.md
  source/content/guides/new-dashboard/01-introduction.md
  source/content/guides/new-dashboard/02-workspaces.md
  source/content/quicksilver.md
  source/data/landings.yaml
  source/images/autopilot/autopilot-enable.png
  source/images/autopilot/autopilot-get-started.png
  source/images/autopilot/autopilot-overview-failed-vrt.png
  source/images/autopilot/autopilot-setup-excluded-updates.png
  source/images/autopilot/autopilot-setup-scope-cadence.png
  source/images/autopilot/autopilot-setup-screenshots.png
  source/images/autopilot/autopilot-sites-overview.png
  source/images/autopilot/autopilot-status-failed-screenshots.png
  source/images/autopilot/autopilot-status-initialized.png
  source/images/autopilot/autopilot-status-performing-updates-20.png
  source/images/autopilot/autopilot-status-what-changed.png
Labels: New Content, New Doc, Product

#6291 DOC-287 "Support Package" language alignment
  source/changelogs/2018-07-01-July.md
  source/content/custom-upstream.md
  source/content/guides/professional-services/03-onboarding.md
  source/content/multidev-faq.md
  source/content/organizations.md
  source/content/sso-organizations.md
  source/content/support.md
Labels: Fix Content

#6363 brew install php7.4 before starting D9 steps
  source/partials/drupal-9/prepare-local-environment.md
Labels: Drupal, New Content, Pantheor

#6360 Minor updates to style guide
  source/content/style-guide.md
Labels: Fix Content, New Content

#6260 Add link to document potential error message.
  source/content/guides/drupal8-commandline.md
Labels: External, First Contribution!, Fix Content

#6333 New Relic Performance Monitoring name change
  source/content/agency-tips.md
  source/content/application-containers.md
  source/content/basic-troubleshooting.md
  source/content/cloud-optimization.md
  source/content/database-workflow.md
  source/content/debug-mysql-new-relic.md
  source/content/debug-slow-performance.md
  source/content/drupal-launch-check.md
  source/content/errors-and-server-responses.md
  source/content/faq.md
  source/content/guides/frontend-performance.md
  source/content/guides/launch/02-plans.md
  source/content/guides/launch/07-next-steps.md
  source/content/guides/new-relic-deploys.md
  source/content/guides/pagerduty/01-introduction.md
  source/content/guides/pingdom-uptime-check.md
  source/content/horizontal-scalability.md
  source/content/kill-mysql-queries.md
  source/content/load-and-performance-testing.md
  source/content/logs.md
  source/content/mysql-slow-log.md
  source/content/new-relic.md
  source/content/plugins-known-issues.md
  source/content/required-reading.md
  source/content/site-owner-faq.md
  source/content/site-plan.md
  source/partials/additionalResources/lw4.md
Labels: New Content

#6297 Temporary File Management -> Default Temporary Path: Fixed temp path D8
  source/content/tmp.md
Labels: Fix Content

#6272 list wp-ban as known issue due to 200-level responses
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor

#6367 md fixes to try to force a build
  source/content/horizontal-scalability.md
Labels: Fix Content

#6364 Remove Filezilla
  source/content/files.md
  source/content/filezilla.md
  source/content/guides/wordpress-git/01-introduction.md
  source/content/local-development.md
  source/content/rsync-and-sftp.md
  source/content/sftp.md
  source/data/landings.yaml
Labels: Remove Content

#6373 Remove HTML syntax for registered trademark symbol in title
  source/content/guides/new-relic-deploys.md
Labels: Fix Content

#6374 add section to set db in pantheon.yml
  source/content/pantheon-yml.md
Labels: Blocked, New Content, Product

#6145 Convert a Drupal 8 site to a Drupal 9 site managed with Integrated Composer
  source/content/composer.md
  source/content/core-updates.md
  source/content/guides/composer-convert.md
  source/content/guides/drupal-9-migration/03-migrate-guided-d9.md
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
  source/content/guides/drupal-9-migration/next-steps.md
  source/content/guides/drupal-9-migration/troubleshoot.md
  source/content/pantheon-yml.md
  source/data/contributor.yaml
  source/images/dashboard/migrate-existing-site-choose.png
  source/partials/drupal-8-convert-to-composer.md
  source/partials/drupal-9/upgrade-site-requirements.md
Labels: Blocked, Drupal, New Content, Pantheor

#6381 include D9 site create instructions instead of linking to another doc
  source/content/drupal-9.md
  source/content/guides/drupal-9-migration/04-migrate-manual-d9.md
  source/content/integrated-composer.md
  source/partials/drupal-9/drupal-9-upstream-install.md
  source/partials/drupal-9/prepare-local-environment.md
Labels: D9 on Pantheon, Drupal, Fix Content

#6388 Correct minor typo in custom-theme.md file
  source/content/guides/build-tools/08-custom-theme.md
Labels: Fix Content

#6390 make banner warning in d9 upgrade-in-place doc more obvious
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
Labels: D9 on Pantheon

#6391 Update broken link for Behat
  source/content/guides/build-tools/06-tests.md
Labels: Fix Content

#6375 Update Issues and PR Template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/doc-bug-fix-template.md
  .github/ISSUE_TEMPLATE/new-feature-template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Site

#6340 Add Quicksilver variable definitions
  source/content/quicksilver.md
Labels: New Content, Pantheor

#6379 Updated the workshop recording to most recent (4/15)
  source/partials/additionalResources/lw4.md
Labels: Fix Content

#6399 don't allow build to continue if link checks fail
  .circleci/config.yml
Labels: Site

#6341 Remove legacy plan references
  source/content/platform-resources.md
Labels: Pantheor, Remove Content

#6392 Update links for consistency
  CONTRIBUTING.md
  README.md
  source/changelogs/2019-03-01-March.md
  source/changelogs/2019-06-01-June.md
  source/content/drush.md
  source/content/guides/drupal-8-advanced-page-cache.md
  source/content/guides/drupal8-commandline.md
  source/content/guides/edt/02-introduction-and-architecture.md
  source/content/guides/multisite/04-workflows.md
  source/content/guides/pivotal-tracker.md
  source/content/guides/wordpress-git/02-plugins.md
  source/content/https.md
  source/content/inclusive-language.md
  source/content/object-cache.md
  source/content/php-versions.md
  source/content/plugins-known-issues.md
  source/content/quicksilver.md
  source/data/landings.yaml
  source/style-guide.md
Labels: Fix Content
