Repository pantheon-systems/documentation, pull requests merged in 2021-07, with the labels that each got.

#6509 update contributor bios
  source/data/contributor.yaml
Labels: Site

#6510 Added Michelle Colón as contributor
  source/data/contributor.yaml
Labels: Site

#6521 align fetch with merge for pantheon-drupal-9
  source/content/create-custom-upstream.md
Labels: D9 on Pantheon, Drupal, Fix Content

#6523 Add info about Drush and Integrated Composer
  source/content/guides/autopilot/01-introduction.md
Labels: Fix Content, Pantheor

#6471 Drupal 8 to 9 upgrade: Complete the Docs of the "Deploy" process.
  source/partials/drupal-8-convert-to-composer.md
Labels: D9 on Pantheon, Drupal, Fix Content, Pantheor

#6436 Autopilot email alerts
  source/content/guides/autopilot/02-enable-autopilot.md
  source/content/guides/new-dashboard/03-personal-settings.md
  source/images/autopilot/new-dashboard-personal-workspace-personal-settings-autopilot-notifications.png
  source/partials/autopilot/autopilot-email-notifications.md
Labels: New Content, Product

#6528 Clarify Autopilot access permissions
  source/content/change-management.md
Labels: Fix Content

#6526 Clarify Drush requirements when using Composer
  source/content/guides/autopilot/01-introduction.md
Labels: Fix Content

#6530 Move Autopilot permissions to org level
  source/content/change-management.md
Labels: Fix Content, Pantheor

#6534 remove ::after instruction for svg down arrow
  source/docs/assets/css/main.css
  src/styles/main.css
Labels: Fix Content

#6533 Update dependencies
  package-lock.json
  package.json
Labels: Fix Content, Site

#6529 update gatsby and dependencies
  package-lock.json
  package.json
Labels: Pantheor

#6537 Configure DB version: enable backups; update table
  source/content/pantheon-yml.md
Labels: New Content, Product

#6540 Added question on hex/binary data at the end
  source/content/mysql-access.md
Labels: New Content

#6542 add partials to style guide
  source/content/style-guide.md
  source/partials/partial-example.md
Labels: New Content

#6541 close 6134 - rework intro to local-development doc with reusable $site partial
  source/content/local-development.md
  source/content/style-guide.md
  source/partials/drupal-9/prepare-local-environment.md
  source/partials/export-alias.md
Labels: Drupal, Fix Content

#6543 close 6189: clarify the steps to access slow and bin logs
  source/content/mysql-access.md
Labels: Fix Content

#6288 Tooltip update to reflect current product feature availability
  source/content/support.md
Labels: New Content, Pantheor

#6539 Add workspace creation info
  source/content/guides/new-dashboard/01-introduction.md
  source/content/guides/new-dashboard/02-workspaces.md
  source/images/dashboard/new-dashboard/create-new-workspace-org.png
  source/images/dashboard/new-dashboard/create-workspace.png
  source/images/dashboard/new-dashboard/switch-new-dashboard.png
Labels: New Content

#6464 Update plugins-known-issues.md
  source/content/plugins-known-issues.md
Labels: External, First Contribution!, New Content, help wanted

#6474 add lando d9 workaround
  source/content/drupal-9.md
Labels: D9 on Pantheon, Drupal, New Content

#6548 WP plugin with known issue: Redirection plugin + server_name
  source/content/plugins-known-issues.md
  source/content/server_name-and-server_port.md
Labels: External, New Content, wp

#6558 configure mariadb in a multidev
  source/content/pantheon-yml.md
Labels: New Content, Product

#6556 update Custom Upstreams link
  source/content/custom-upstream.md
Labels: Fix Content

#6557 Changelog - July 2021 - fixed links
  source/changelogs/2021-07-01-July.md
Labels: Fix Content

#6463 Add link to upgrade from Drupal 8 to 9
  source/content/integrated-composer.md
Labels: New Content

#6560 Update live training links and language
  source/changelogs/2019-04-01-April.md
  source/content/agency-tips.md
  source/content/cache-control.md
  source/content/caching-advanced-topics.md
  source/content/clear-caches.md
  source/content/composer.md
  source/content/domains.md
  source/content/drupal-8-cache.md
  source/content/drupal-cache.md
  source/content/git-faq.md
  source/content/global-cdn.md
  source/content/guides/build-tools/01-introduction.md
  source/content/guides/build-tools/09-update.md
  source/content/guides/edt/01-essentialdevelopertraining.md
  source/content/guides/edt/08-going-live.md
  source/content/guides/frontend-performance.md
  source/content/guides/professional-services/01-introduction.md
  source/content/guides/professional-services/03-onboarding.md
  source/content/guides/quickstart/01-introduction.md
  source/content/guides/quickstart/10-next-steps.md
  source/content/https.md
  source/content/kill-mysql-queries.md
  source/content/live-workshop-resources.md
  source/content/multidev.md
  source/content/pantheon-workflow.md
  source/content/pantheon-yml.md
  source/content/quicksilver.md
  source/content/sftp.md
  source/content/terminus.md
  source/content/wordpress-solr.md
  source/content/workshops.md
  source/data/contributor.yaml
  source/data/landings.yaml
  source/partials/additionalResources/lw1.md
  source/partials/additionalResources/lw2.md
  source/partials/additionalResources/lw3.md
  source/partials/additionalResources/lw4.md
  source/partials/additionalResources/lw5.md
  source/partials/additionalResources/null.md
  source/partials/composer-fundamentals.md
  src/layout/footer/index.js
Labels: Fix Content

#6552 Update 02-website-migration-service.md
  source/content/guides/professional-services/02-website-migration-service.md
Labels: Fix Content

#6555 Issue 6431: Upstream Updates Cannot Be Applied if user has the default upstream but site uses a custom upstream
  source/content/integrated-composer.md
Labels: D9 on Pantheon, New Content

#6506 Fixed what looks to be a typo. In the Terminus manual for `env:clone-…
  source/data/commands.json
  source/docs/assets/terminus/commands.json
Labels: External, First Contribution!, Fix Content

#6565 distinguish port info
  source/content/ssh-tunnels.md
Labels: New Content

#6410 Document MySQL LOAD DATA LOCAL INFILE
  source/content/platform-considerations.md
Labels: New Content, Pantheor

#6138 RSA keys are sometimes deprecated - actualize the doc
  source/content/ssh-keys.md
Labels: External, New Content
