Repository pantheon-systems/documentation, pull requests merged in 2021-11, with the labels that each got.

#6825 warn users about Drupal 8 EoL in Drupal upgrades doc
  source/content/drupal-updates.md
Labels: New Content, D9 on Pantheon

#6839 Incorrectly cased variable caused error
  source/content/guides/composer-convert.md
Labels: Fix Content, Pantheor

#6838 Missed bash prompt for two sections
  source/partials/drupal-8-convert-to-composer.md
Labels: Pantheor, Drupal

#6842 Update timeouts.md
  source/content/timeouts.md
Labels: Pantheor

#6804 Initial Draft of Changelog
  source/changelogs/2021-11-01-November.md
Labels: Changelog

#6824 Update fa
  package-lock.json
  package.json
  src/components/discourse/index.js
  src/components/slack/index.js
Labels: Site, Features

#6798 [CMS-337] Add support for PHP 8.0
  source/content/php-versions.md
Labels: Pantheor

#6811 Add HM Require Login to WP Known Plugin Issues
  source/content/plugins-known-issues.md
Labels: Pantheor, wp

#6848 Update anchor for Local Installation
  source/content/contribute.md
Labels: Fix Content, Pantheor

#6800 Update plugins-known-issues.md
  source/content/plugins-known-issues.md
Labels: New Content, External, wp, First Contribution!

#6855 PLAT-2233: shallow delete consideration
  source/content/platform-considerations.md
Labels: New Content

#6856 6724: Clone remote GitHub repo with SSH
  source/content/create-custom-upstream.md
  source/images/github-avoid-readme.png
  source/images/github-repo-url.png
Labels: Fix Content

#6859 Add wp-login protection notes
  source/content/optimize-site-traffic.md
  source/content/wordpress-best-practices.md
  source/partials/wp-login-attacks.md
Labels: New Content, Pantheor

#6687 Revert "Revert "Add a "Maintenance Mode" feature to WordPress Pantheon Cache""
  source/content/wordpress-cache-plugin.md
  source/images/WordPress_Pantheon-Cache-Settings.png
Labels: wp

#6863 remove Web Agility Assessment links
  source/content/custom-upstream.md
  source/content/git.md
Labels: Remove Content

#6866 temporarily disable hacktoberfest gh action
  .github/workflows/hacktoberfest-accepted.yml.disabled
Labels: Site, Features

#6770 2021-10 typos, md, style fix
  source/changelogs/2017-09-01-September.md
  source/changelogs/2018-07-01-July.md
  source/content/code-of-conduct.md
  source/content/composer.md
  source/content/core-updates.md
  source/content/create-custom-upstream.md
  source/content/dns-providers/gandi.md
  source/content/drupal-cloudfront.md
  source/content/guides/behat.md
  source/content/guides/jenkins.md
  source/content/guides/jira.md
  source/content/guides/launch/04-configure-dns.md
  source/content/guides/phpstorm-composer.md
  source/content/guides/quickstart/01-introduction.md
  source/content/guides/solr-drupal/03-solr-drupal-8.md
  source/content/guides/terminus-drupal-site-management.md
  source/content/guides/trello.md
  source/content/guides/two-factor-authentication.md
  source/content/new-relic.md
  source/content/plugins-known-issues.md
  source/data/landings.yaml
Labels: Fix Content

#6869 6868: Composer Convert: s/upgrade/update
  source/partials/drupal-8-convert-to-composer.md
Labels: Fix Content, Drupal

#6795 update Terminus in CI and update commands list and releases
  .circleci/scripts/terminus-installer.php
  source/content/terminus/updates.md
  source/data/commands.json
  source/data/terminusReleases.json
Labels: Fix Content, Site, Features

#6854 DOC-447: Multidev access update
  source/content/change-management.md
  source/content/multidev-faq.md
  source/content/multidev.md
Labels: New Content

#6789 DOC-402: Billing Center - Personal Workspace Billing
  source/content/guides/new-dashboard/workspace-billing/01-introduction.md
  source/content/guides/new-dashboard/workspace-billing/02-subscriptions.md
  source/content/guides/new-dashboard/workspace-billing/03-invoices.md
  source/content/guides/new-dashboard/workspace-billing/04-payment.md
  source/images/dashboard/new-dashboard/workspace-billing-home.png
  source/images/dashboard/new-dashboard/workspace-subscription.png
Labels: New Doc, New Dashboard, High Priority

#6878 CMS-407: Update docs
  source/content/create-custom-upstream.md
  source/content/custom-upstream.md
  source/content/guides/build-tools/02-create-project.md
  source/content/guides/composer-convert.md
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
  source/content/integrated-composer.md
  source/partials/drupal-8-convert-to-composer.md
Labels: Pantheor, D9 on Pantheon
