Repository pantheon-systems/documentation, pull requests merged in 2021-08, with the labels that each got.

#6572 Update new dashboard profile page
  source/content/guides/autopilot/01-introduction.md
  source/content/guides/new-dashboard/03-personal-settings.md
  source/content/ssh-keys.md
  source/images/autopilot/new-dashboard-personal-workspace-personal-settings-autopilot-notifications.jpg
  source/images/autopilot/new-dashboard-personal-workspace-personal-settings-autopilot-notifications.png
  source/images/dashboard/new-dashboard/personal-settings-preferences.jpg
  source/images/dashboard/new-dashboard/personal-settings-profile.jpg
  source/images/dashboard/new-dashboard/personal-settings-profile.png
  source/partials/autopilot/autopilot-email-notifications.md
Labels: Fix Content

#6571 Autopilot guide -update email notifications instructions
  source/content/guides/autopilot/01-introduction.md
  source/partials/autopilot/autopilot-email-notifications.md
Labels: Fix Content

#6568 Aug. 2 - blue banner, available for everyone and all CMS
  source/content/pantheon-yml.md
Labels: New Content, Product

#6566 add Drupal Steward to platform-considerations
  source/content/platform-considerations.md
Labels: Drupal, New Content, Product

#6575 August Changelog
  source/changelogs/2021-08-01.md
Labels: Changelog, New Content

#6570 Retire deprecated Wraith VRT guide
  source/changelogs/2015-06-01-June.md
  source/content/guides/visual-diff-with-wraith.md
  source/data/landings.yaml
Labels: Remove Content

#6468 Create common troubleshoot errors page for Autopilot
  source/content/guides/autopilot/04-troubleshoot.md
Labels: New Content

#6581 update db version table; update banner
  source/content/pantheon-yml.md
Labels: Product

#6299 Update plugins-known-issues.md
  source/content/plugins-known-issues.md
Labels: Fix Content

#6584 Add trusted host setting reference
  source/content/guides/composer-convert.md
Labels: Fix Content

#6587 Updated PHP version for terminus
  source/content/terminus/install.md
Labels: Fix Content

#6593 Dblink Update
  source/content/pantheon-workflow.md
Labels: Fix Content, Pantheor

#6592 Autopilot GA
  source/content/guides/autopilot/01-introduction.md
  source/content/guides/autopilot/02-enable-autopilot.md
  source/content/guides/autopilot/03-tests-results.md
  source/content/guides/autopilot/04-apply-updates.md
  source/content/guides/autopilot/05-troubleshoot.md
  source/images/autopilot/autopilot-configuration-destination-frequency.png
  source/images/autopilot/autopilot-configuration-excluded-updates.png
  source/images/autopilot/autopilot-configuration-excluded-web-elements.png
  source/images/autopilot/autopilot-configuration-update-scope.png
  source/images/autopilot/autopilot-configuration-visual-test-screenshots.png
  source/images/autopilot/autopilot-setup-configuration.png
  source/images/autopilot/autopilot-setup-excluded-updates.png
  source/images/autopilot/autopilot-setup-schedule.png
  source/images/autopilot/autopilot-setup-scope-cadence.png
  source/images/autopilot/autopilot-setup-screenshots.png
  source/images/autopilot/autopilot-setup-visual-review.png
  source/images/autopilot/autopilot-site-recent-activity.png
  source/images/autopilot/autopilot-sites-overview.png
  source/images/autopilot/autopilot-status-failed-screenshots.png
  source/images/autopilot/autopilot-status-performing-updates-20.png
Labels: New Content, Product

#6586 Note dynamic entity reference and MySQL triggers issue
  source/content/modules-known-issues.md
Labels: New Content

#6580 update Sendgrid and email docs
  source/content/email.md
Labels: Fix Content

#6599 Launch check: remove accordion
  source/content/guides/launch/06-launch-check.md
Labels: Fix Content

#6594 No need for Fast 404 note anymore
  source/content/modules-known-issues.md
Labels: Fix Content, Pantheor

#6598 Grammar update for Localdev info
  source/content/guides/localdev/01-introduction.md
Labels: Fix Content, Pantheor

#6604 fix: remove blue banner warning from Build Tools to D9
  source/content/guides/drupal-9-migration/06-build-tools-to-d9-build-tools.md
Labels: Fix Content, D9 on Pantheon

#6605 update New Dashboard banner
  source/content/guides/new-dashboard/01-introduction.md
Labels: Fix Content

#6609 add composer merge plugin to list
  source/content/modules-known-issues.md
Labels: New Content

#6611 Integrated Upstream structure partial - typo fix
  source/partials/ic-upstream-structure.md
Labels: Fix Content, Pantheor

#6612 Add clarifying note about web_docroot: true and Quicksilver script paths
  source/content/quicksilver.md
Labels: Fix Content

#6616 ap-auth-pages
  source/content/guides/autopilot/01-introduction.md
Labels: New Content

#6563 Initial content for disaster recovery guide
  source/content/guides/disaster-recovery/01-introduction.md
  source/content/guides/disaster-recovery/02-planning-ahead.md
  source/content/guides/disaster-recovery/03-when-disaster-strikes.md
  source/content/guides/disaster-recovery/04-incident-remediation.md
  source/content/guides/disaster-recovery/05-recovery-playbook.md
Labels: New Content

#6615 Adding information about letsdebugtool.net
  source/content/guides/launch/04-configure-dns.md
Labels: CSM, Pantheor

#6614 Adding information for https://letsdebug.net/
  source/content/https.md
Labels: New Content, Pantheor

#6619 add elite to site-plans-faq
  source/content/site-plans-faq.md
Labels: New Content

#6559 issue 6356: composer convert crosslinks; redirect d8-composer-no-ci to composer-convert
  source/changelogs/2018-05-01-May.md
  source/content/composer.md
  source/content/core-updates.md
  source/content/drush-versions.md
  source/content/guides/build-tools/01-introduction.md
  source/content/guides/composer-convert.md
  source/content/guides/drupal-8-composer-no-ci.md
  source/content/guides/sendgrid.md
  source/content/integrated-composer.md
  source/content/opensolr.md
  source/content/solr-drupal-8.md
  source/content/static-site-empty-upstream.md
  source/data/landings.yaml
  source/partials/drupal-8-convert-to-composer.md
  source/partials/notes/partial-composer-adoption-warning.md
Labels: Fix Content, Drupal, D9 on Pantheon

#6481 New Pantheon Search with Solr 8 for Drupal 9 page
  source/changelogs/2017-01-01-January.md
  source/content/agency-tips.md
  source/content/external-libraries.md
  source/content/faq.md
  source/content/guides/solr-drupal/01-introduction.md
  source/content/guides/solr-drupal/02-solr-drupal-9.md
  source/content/guides/solr-drupal/03-solr-drupal-8.md
  source/content/guides/solr-drupal/04-solr-drupal-7.md
  source/content/modules-known-issues.md
  source/content/multizone-failover.md
  source/content/solr.md
  source/data/landings.yaml
  source/partials/pantheon-search-status.md
Labels: New Doc, D9 on Pantheon

#6631 hotfix: d9 upgrade status - fix multidev name length limit
  source/partials/drupal-9/drupal-upgrade-status.md
Labels: Fix Content, D9 on Pantheon

#6627 6405 drush composer
  source/content/drupal-9.md
  source/content/guides/drupal-9-migration/04-migrate-manual-d9.md
  source/content/guides/drupal-9-migration/06-build-tools-to-d9-build-tools.md
  source/content/guides/drupal-9-migration/troubleshoot.md
  source/content/integrated-composer.md
Labels: New Content, Drupal, D9 on Pantheon

#6637 Pantheon Search with Solr 8 banner update
  source/partials/pantheon-search-status.md
Labels: D9 on Pantheon

#6634 agency-relevant link
  source/content/guides/edt/01-essentialdevelopertraining.md
  source/content/guides/quickstart/01-introduction.md
  source/content/guides/quickstart/10-next-steps.md
Labels: Fix Content

#6635 6630: remove wp-cors recommendation
  source/content/platform-considerations.md
Labels: Fix Content

#6636 add hours for sales and billing
  source/content/support.md
Labels: New Content

#6647 Troubleshooting and composer-merge-plugin
  source/content/integrated-composer.md
Labels: Pantheor, Drupal

#6652 Added suggested text
  source/content/secure-integration.md
Labels: New Content

#6653 Sept Changelog entries
  source/changelogs/2021-09-01-September.md
Labels: Changelog
