Repository pantheon-systems/documentation, pull requests merged in 2021-10, with the labels that each got.

#6722 Create October 2021 Changelog
  source/changelogs/2021-10-01-October.md
Labels: New Content, Changelog

#6738 update github action: move mark-as-spam to on issue_comment
  .github/workflows/main.yml
Labels: Features

#6737 clarify Unprivileged user for Workspace and Autopilot
  source/content/change-management.md
Labels: Fix Content, New Content, New Dashboard
