Repository pantheon-systems/documentation, pull requests merged in 2021-05, with the labels that each got.

#6395 Role Based Permissions - add org doc cross links
  source/content/change-management.md
Labels: Feedback, Fix Content

#6420 upgrade to D9: push to origin; def copy pantheon.yml
  source/partials/drupal-8-convert-to-composer.md
Labels: D9 on Pantheon, Drupal, Fix Content

#6424 fix closes issue syntax
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Fix Content

#6422 fix pr link in documentation
  source/content/modules-known-issues.md
  source/content/plugins-known-issues.md
Labels: Pantheor

#6430 Update relaunch.md
  source/content/relaunch.md
Labels: Fix Content

#6413 add delete site roles/perms
  source/content/delete-site.md
Labels: New Content

#6286 add strpos for specialchar user agents
  source/content/optimize-site-traffic.md
Labels: New Content, Pantheor

#6265 Update hyperdb.md
  source/content/hyperdb.md
Labels: First Contribution!, Fix Content, Pantheor

#6432 Update multizone-failover.md
  source/content/multizone-failover.md
Labels: External, Fix Content

#6407 add May Changelog
  source/changelogs/2021-05-01-May.md
Labels: Changelog

#6411 Updating recording URL to most recent (5/6)
  source/partials/additionalResources/lw2.md
Labels: Fix Content, Pantheor

#6426 Add note about pesky `autodiscover.xml`
  source/content/email.md
  source/content/optimize-site-traffic.md
Labels: Fix Content

#6440 Language update: Account package > Account tier
  source/content/support.md
Labels: Fix Content, Pantheor

#6443 fix broken anchor and text
  source/content/support.md
Labels: Fix Content

#6277 update style guide
  source/content/style-guide.md
Labels: Site, review

#6442 Pantheon Localdev Fix
  source/content/guides/localdev/01-introduction.md
  source/content/guides/localdev/04-troubleshoot-support.md
Labels: First Contribution!, Fix Content
