Repository pantheon-systems/documentation, pull requests merged in 2021-06, with the labels that each got.

#6257 Update wordpress-sessions.md
  source/content/wordpress-sessions.md
Labels: New Content, PS, Pantheor

#6448 update SRA to specify contract plan
  source/content/secure-runtime-access.md
Labels: Fix Content

#6376 Updates to WP Rocket Issue 2 - Solution 1
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor

#6461 Update rsync-and-sftp.md
  source/content/rsync-and-sftp.md
Labels: Fix Content, Pantheor, good first issue

#6434 June 2021 Changelog
  source/changelogs/2021-06-01-June.md
Labels: Changelog

#6389 Add Drupal 9 to start states
  source/content/create-custom-upstream.md
  source/content/create-sites.md
  source/content/guides/rerouting-outbound-email.md
  source/content/integrated-composer.md
  source/content/start-state.md
  source/images/dashboard/site-dashboard-dev.png
  source/images/dashboard/visit-development-site.png
Labels: D9 on Pantheon, Drupal, New Content

#6473 copy and md tweaks to README
  README.md
Labels: Fix Content

#6458 Update timeouts.md
  source/content/timeouts.md
Labels: First Contribution!

#6400 Tweak Change Upstream Permissions Note
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
Labels: Fix Content, Pantheor

#6478 Clarify Elite plan PHP memory limit
  source/content/platform-resources.md
Labels: Fix Content, Product

#6482 Update object-cache.md
  source/content/object-cache.md
Labels: Pantheor

#6470 add AMP module to list of modules using SERVER_NAME
  source/content/server_name-and-server_port.md
Labels: New Content, Pantheor

#6496 feat: update front-end orb to 0.4.0, to take advantage of Node 12
  .circleci/config.yml
Labels: Site

#6493 Update 03-personal-settings.md
  source/content/guides/new-dashboard/03-personal-settings.md
Labels: Fix Content

#6483 Autopilot: 25 pages per site; add note about ack'ing results before testing again
  source/content/guides/autopilot/03-tests-results.md
Labels: New Content

#6501 Add a11y statement to footer
  src/layout/footer/index.js
Labels: Site

#6507 newly purchased elite plans include 1 pre-launch load test
  source/content/guides/professional-services/03-onboarding.md
Labels: New Content, billing

#6462 End temporary Multidev and Covid-plan offer
  source/content/crisis-response-upstream.md
  source/content/multidev-faq.md
  source/content/multidev.md
  source/content/organization-faq.md
  source/partials/covid-offer.md
Labels: Product

#6414 upgrade drupal 8 with build tools to drupal 9 with build tools
  source/content/guides/drupal-9-migration/06-build-tools-to-d9-build-tools.md
Labels: D9 on Pantheon, Drupal, New Content

#6508 Create July Changelog
  source/changelogs/2021-07-01-July.md
Labels: Changelog
