Repository pantheon-systems/documentation, pull requests merged in 2021-12, with the labels that each got.

#6887 Update public docs that discuss Varnish with GCDN
  source/content/cache-control.md
  source/content/drupal-8-cache.md
  source/content/shibboleth-sso.md
Labels: Fix Content, Medium Priority

#6822 Update integrated-composer.md
  source/content/integrated-composer.md
Labels: Fix Content, Medium Priority

#6871 update Terminus install, prettify commands.json
  .circleci/scripts/terminus-installer.php
  source/content/terminus/updates.md
  source/data/commands.json
  source/data/terminusReleases.json
  source/docs/assets/terminus/commands.json
Labels: Site

#6894 Create 2021-12-01-December.md
  source/changelogs/2021-12-01-December.md
Labels: Changelog

#6667 Initial content for unified support on new dashboard
  source/content/guides/new-dashboard/05-support.md
Labels: New Dashboard, High Priority

#6891 Update composer convert docs
  source/partials/drupal-8-convert-to-composer.md
Labels: Pantheor, Drupal, D9 on Pantheon

#6883 Update email.md
  source/content/email.md
Labels: Pantheor

#6784 drush pm:list instead of pm:projectinfo for composer convert docu
  source/partials/drupal-8-convert-to-composer.md
Labels: Pantheor, Drupal, Low Priority

#6716 megalint github action
  .circleci/config.yml
  .circleci/scripts/import-external-data.sh
  .circleci/tests/link-checker-external.sh
  .circleci/tests/link-checker.sh
  .cspell.json
  .github/workflows/mega-linter.yml
  .gitignore
  .markdown-link-check.json
  .markdownlint.json
  .mega-linter.yml
  .pantheon-dictionary.txt
  README.md
  package-lock.json
  package.json
Labels: hacktoberfest-21

#6786 CMS-327: Terminus 3 docs updates.
  source/content/guides/build-tools/02-create-project.md
  source/content/terminus-2-0.md
  source/content/terminus.md
  source/content/terminus/install.md
  source/content/terminus/plugins.md
  source/content/terminus/plugins/create.md
  source/content/terminus/terminus-3-0.md
  source/content/terminus/updates.md
Labels: New Content, Hold for Release, Terminus

#6913 [CMS-327] Update command reference to Terminus 3.
  .circleci/scripts/import-external-data.sh
  source/data/commands.json
Labels: Pantheor, Terminus

#6904 disallow registrations from wp-login
  source/partials/wp-login-attacks.md
Labels: New Content, wp

#6777 WIP: CMS-291 - Convert non-composer D8 custom upstream to Integrated Composer
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
  source/content/guides/drupal-9-migration/04-integrated-composer-convert-custom.md
  source/content/guides/drupal-9-migration/05-migrate-manual-d9.md
  source/images/custom-upstream-git-url.png
Labels: New Content, D9 on Pantheon

#6928 [PRT-227] / [CMS-147] Update recommendations for PHP and MariaDB versions
  source/content/pantheon-yml.md
Labels: New Content, Pantheor

#6910 drupal 8 start state eol warning
  source/content/start-state.md
Labels: Drupal

#6930 Change formatting of php version table
  source/content/php-versions.md
Labels: Fix Content, Pantheor

#6889 Update drupal-cron.md
  source/content/drupal-cron.md
Labels: Pantheor

#6935 Add partial string search
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: Fix Content

#6942 Drupal and lenient Troubleshoot for Solr 8
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: Pantheor

#6877 Added New Content - Facebook Plugin
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor, wp

#6936 [BUGS-4199] Document phantomjs workaround and unsupported.
  source/content/external-libraries.md
Labels: Pantheor

#6937 add row size too large consideration
  source/content/pantheon-yml.md
  source/content/platform-considerations.md
  source/partials/row-size-too-large-alter-table.md
Labels: New Content

#6923 Initial changes to remove decouple bridge and edge
  source/content/decoupled-sites.md
Labels: New Content, Decoupled
