Repository pantheon-systems/documentation, pull requests merged in 2021-02, with the labels that each got.

#6205 Expand Youtube component
  source/partials/additionalResources/lw1.md
  src/components/partial.js
  src/components/youtube.js
Labels: New Content, Site

#6203 Deploy Custom Upstream from GitLab with Deploy Token
  source/content/create-custom-upstream.md
  source/images/gitlab-api.png
  source/images/gitlab-deploy-token.png
  source/images/gitlab-reporter.png
Labels: Fix Content

#6173 Remove References to Legacy SSL
  source/content/custom-certificates.md
  source/content/https.md
  source/partials/tables/https-specs.md
Labels: Fix Content, Product

#6196 Update environment-indicator.md
  source/content/environment-indicator.md
Labels: Fix Content, Pantheor

#6190 Add FAQ item to Integrated Composer doc
  source/content/integrated-composer.md
Labels: New Content, Pantheor

#6236 Restrict solr version to <=1.6
  source/changelogs/2017-10-01-October.md
  source/content/solr-drupal-8.md
Labels: Fix Content

#6237 build_step directive is not temporary
  source/content/integrated-composer.md
Labels: Fix Content, Pantheor

#6238 Add APCu links
  source/content/application-containers.md
Labels: Pantheor

#6193 Document failure to clone un-initialized site
  .circleci/config.yml
  source/content/guides/localdev/04-troubleshoot-support.md
Labels: New Content, Product

#6234 Increase visibility on WP db update for URLs
  source/content/guides/launch/05-redirects.md
  source/content/guides/launch/07-next-steps.md
  src/components/checklistItem/index.js
  src/components/checklistItem/style.css
  src/templates/doc.js
  src/templates/guide.js
  src/templates/resource.js
  src/templates/video.js
Labels: Fix Content

#6239 Provide examples of setting curl timeouts
  source/content/errors-and-server-responses.md
Labels: New Content, Pantheor

#6250 add link to manual migration notes
  source/content/migrate.md
Labels: Fix Content

#6253 Consolidate contribution documentation
  CONTRIBUTING.md
Labels: Features, Site

#6254 use HTML comments for PR instructions
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Features, Site

#6246 Document code
  gatsby-config.js
  gatsby-node.js
  src/pages/404.js
Labels: Site

#6266 Jan 2021 Changelog
  source/changelogs/2021-01-01-January.md
Labels: Changelog

#6267 Feb 21 Changelog
  source/changelogs/2021-01-01-January.md
  source/changelogs/2021-02-01-February.md
Labels: Changelog

#6268 Adding a section for the previous video to LW3
  source/partials/additionalResources/lw3.md
  src/components/youtube.js
Labels: New Content, Pantheor

#6269 Adding a section for the previous video to LW2
  source/partials/additionalResources/lw2.md
Labels: Fix Content, Pantheor

#6271 Adjust YoutubeComponent Styling
  source/content/guides/edt/02-introduction-and-architecture.md
  source/content/guides/edt/03-developer-workflow.md
  source/content/guides/edt/04-multidev.md
  source/content/guides/edt/05-terminus-cli.md
  source/content/guides/edt/06-quicksilver-external-integrations.md
  source/content/guides/edt/07-performance.md
  source/content/guides/edt/08-going-live.md
  src/components/youtube/index.js
  src/components/youtube/style.css
  src/templates/landing.js
  src/templates/resource.js
  src/templates/video.js
Labels: Site

#6209 New Dashboard guide
  source/content/autopilot.md
  source/content/guides/new-dashboard/01-introduction.md
  source/content/guides/new-dashboard/02-workspaces.md
  source/content/guides/new-dashboard/03-support.md
  source/images/dashboard/new-dashboard/workspace.png
  source/images/dashboard/new-dashboard/workspaces-selector.png
Labels: New Content, New Doc, Product

#6276 rename disaster recovery and CAS
  .circleci/config.yml
  source/changelogs/2019-01-01-January.md
  source/changelogs/2019-05-01-May.md
  source/content/multizone-failover.md
  source/content/professional-services.md
  source/content/regions.md
  source/content/solr.md
  source/data/landings.yaml
Labels: Features, New Content
