Repository pantheon-systems/documentation, pull requests merged in 2021-09, with the labels that each got.

#6658 6597: echo a sql query through terminus
  source/content/wp-cli.md
Labels: Fix Content

#6660 6564 - Accessible colors for Configuring Environment Indicators
  source/content/environment-indicator.md
Labels: Fix Content

#6656 support doc - line breaks, mostly
  source/content/support.md
Labels: Fix Content

#6655 Autopilot tests against dev FAQ
  source/content/guides/autopilot/01-introduction.md
Labels: New Content

#6325 run s3fs.make in current dir
  source/content/drupal-s3.md
Labels: Fix Content

#6654 autopilot suggests 10 urls to track during setup
  source/content/guides/autopilot/02-enable-autopilot.md
  source/images/autopilot/autopilot-setup-visual-review.png
Labels: New Content

#6331 Adding information for Mac M1 chip support
  source/content/guides/localdev/04-troubleshoot-support.md
Labels: Pantheor

#6661 autopilot: update steps and screenshots for new exclude location
  source/content/guides/autopilot/02-enable-autopilot.md
  source/images/autopilot/autopilot-setup-configuration.png
  source/images/autopilot/autopilot-setup-excluded-updates.png
  source/images/autopilot/autopilot-setup-schedule.png
  source/images/autopilot/autopilot-setup-visual-review.png
  source/images/autopilot/autopilot-sidebar.png
Labels: autopilot

#6663 Clarify dev environment caching/cookie instructions
  source/content/cookies.md
Labels: Fix Content, Pantheor

#6662 Remove EWWW Image Optimizer issues from docs
  source/content/plugins-known-issues.md
Labels: Fix Content, wp, First Contribution!

#6664 Update wordfence
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor, wp

#6298 Add info on troubleshooting D7's cache_form table
  source/content/drupal-cache.md
Labels: Fix Content

#6670 Remove D6 content
  source/content/core-updates.md
  source/content/database-connection-errors.md
  source/content/drupal-cache.md
  source/content/drupal-cron.md
  source/content/drupal-launch-check.md
  source/content/drupal-updates.md
  source/content/drush-versions.md
  source/content/drush.md
  source/content/migrate-manual.md
  source/content/migrate.md
  source/content/object-cache.md
  source/content/pantheon-yml.md
  source/content/php-versions.md
  source/content/read-environment-config.md
  source/content/settings-php.md
Labels: Remove Content, Drupal

#6673 Assume write access for Wordpress Plugin Nitropack
  source/content/plugins-known-issues.md
Labels: Pantheor

#6674 mark upgrade_status section as optional
  source/content/guides/composer-convert.md
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
  source/partials/drupal-9/drupal-upgrade-status.md
Labels: Fix Content, Drupal, D9 on Pantheon

#6677 revise terminus phar install command to work on zsh
  source/content/terminus/install.md
Labels: Fix Content

#6675 Add a "Maintenance Mode" feature to WordPress Pantheon Cache
  source/content/wordpress-cache-plugin.md
  source/images/WordPress_Pantheon-Cache-Settings.png
Labels: Pantheor, wp

#6602 Persistent Cache Public Docs
  source/content/drupal-cache.md
  source/content/global-cdn.md
Labels: New Content, Product

#6679 remove features blurb
  source/content/guides/solr-drupal/02-solr-drupal-9.md
Labels: Fix Content

#6668 Add additional content for new dashboard
  source/content/guides/new-dashboard/01-introduction.md
  source/content/guides/new-dashboard/02-workspaces.md
  source/content/guides/new-dashboard/03-sites.md
  source/content/guides/new-dashboard/05-support.md
  source/content/guides/new-dashboard/06-settings.md
Labels: Draft, New Dashboard

#6681 Add configuration for D8
  source/content/guides/rerouting-outbound-email.md
Labels: Fix Content

#6688 Change from solr to Pantheon search
  source/changelogs/2016-01-01-January.md
  source/changelogs/2016-02-01-February.md
  source/content/agency-tips.md
  source/content/faq.md
  source/content/guides/solr-drupal/03-solr-drupal-8.md
  source/content/horizontal-scalability.md
  source/content/logs.md
  source/content/modules.md
  source/content/multizone-failover.md
  source/content/plugins.md
  source/content/required-reading.md
  source/content/site-owner-faq.md
  source/content/site-plan.md
  source/content/site-plans-faq.md
  source/content/sites.md
  source/content/solr.md
  source/data/landings.yaml
  source/partials/remove-addons/d7-solr.md
  source/partials/remove-addons/d8-solr.md
  source/partials/remove-addons/wp-solr.md
Labels: Fix Content

#6689 quicksilver examples repo link
  source/content/quicksilver.md
Labels: Fix Content

#6691 Update code workflow diagram
  source/content/guides/quickstart/04-site-dashboard.md
  source/content/pantheon-workflow.md
  source/images/code-workflow.png
Labels: Pantheor

#6685 Add references to Drupal 9
  source/content/guides/build-tools/02-create-project.md
Labels: D9 on Pantheon

#6659 6607: adjust pm:projectinfo and add pm:list as alternative
  source/content/guides/drupal-9-migration/04-migrate-manual-d9.md
  source/partials/drupal-8-convert-to-composer.md
Labels: Fix Content, Drupal, D9 on Pantheon

#6708 6701: check SSH keys or use HTTPS to add remote
  source/partials/drupal-8-convert-to-composer.md
Labels: New Content

#6671 initial change for namecheap
  source/content/dns-providers/namecheap.md
Labels: Fix Content, Pantheor
