Repository pantheon-systems/documentation, pull requests merged in 2022-06, with the labels that each got.

#7381 Add Edge to Pantheon Modules
  source/content/modules.md
Labels: New Content

#7363 Replace Autopilot Compatibility Image with Accessible Table
  source/content/guides/autopilot/01-introduction.md
Labels: Fix Content, Pantheor, autopilot

#7305 Updated live site value
  source/content/guides/multisite/03-config.md
Labels: Fix Content

#7385 [CMS-711] WordPress 6.0 release notes
  source/content/start-states/wordpress.md
  source/content/wordpress-known-issues.md
Labels: Pantheor

#7389 Update Steps for Setting PHP Version
  source/content/php-versions.md
Labels: Fix Content, First Contribution!

#7391 Update git-resolve-merge-conflicts.md
  source/content/git-resolve-merge-conflicts.md
Labels: Pantheor

#7397 Update Reading Pantheon Environment Doc
  source/content/environment-indicator.md
  source/content/environment-specific-config-d9.md
  source/content/environment-specific-config.md
  source/content/read-environment-config.md
Labels: Fix Content, Pantheor

#7405 Update modules-known-issues.md
  source/content/modules-known-issues.md
Labels: New Content, Pantheor

#7403 [CMS-583] Add PHP version compatibility matrix to Terminus docs
  source/content/terminus/updates.md
Labels: Fix Content, Pantheor

#7407 Update WordFence Plugin with Known Issue
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor, wp

#7408 add active tab to Resolve Git Merge Conflicts
  source/content/git-resolve-merge-conflicts.md
Labels: Fix Content

#7303 remove redis/sra implication from ssh tunnels
  source/content/ssh-tunnels.md
Labels: Fix Content

#7400 [EI-221] Update Edge Integrations guide for WordPress
  source/content/guides/edge-integrations/04-wordpress-sdk.md
  source/images/guides/edge-integrations/ei-wp-geo-headers.png
  source/images/guides/edge-integrations/ei-wp-geo-vary.png
  source/images/guides/edge-integrations/ei-wp-interest-header.png
Labels: Edge Integrations

#7390 Fastly on Pantheon Guide
  source/content/guides/edge-integrations/05-analytics.md
  source/content/guides/fastly-pantheon/01-introduction.md
  source/content/guides/fastly-pantheon/02-connect-fastly.md
  source/content/guides/fastly-pantheon/03-fastly-amazon-s3.md
  source/content/guides/fastly-pantheon/04-fastly-datadog.md
  source/content/guides/fastly-pantheon/05-fastly-new-relic.md
  source/content/guides/fastly-pantheon/06-fastly-sftp.md
  source/content/guides/fastly-pantheon/07-fastly-splunk.md
  source/content/guides/fastly-pantheon/08-fastly-syslog.md
  source/content/guides/fastly-pantheon/09-fastly-faq.md
  source/content/guides/professional-services/05-advanced-global-cdn.md
  source/content/logs.md
  source/content/new-relic.md
  source/data/landings.yaml
Labels: New Content

#7419 Update Error and Server Response Doc
  source/content/errors-and-server-responses.md
Labels: Fix Content, Pantheor

#7425 New Autopilot FAQ Page
  source/content/guides/autopilot/01-introduction.md
  source/content/guides/autopilot/06-autopilot-faq.md
Labels: Pantheor

#7430 Update Fastly Guide
  source/content/guides/fastly-pantheon/01-introduction.md
  source/content/guides/fastly-pantheon/02-connect-fastly.md
  source/content/guides/fastly-pantheon/03-fastly-amazon-s3.md
  source/content/guides/fastly-pantheon/04-fastly-datadog.md
  source/content/guides/fastly-pantheon/05-fastly-new-relic.md
  source/content/guides/fastly-pantheon/06-fastly-sftp.md
  source/content/guides/fastly-pantheon/07-fastly-splunk.md
  source/content/guides/fastly-pantheon/08-fastly-syslog.md
  source/content/guides/fastly-pantheon/09-fastly-faq.md
Labels: Fix Content, Pantheor

#7431 Update Autopilot FAQ for Sync Environment Feature
  source/content/guides/autopilot/06-autopilot-faq.md
Labels: Fix Content, Pantheor

#7427 Add Yoast Indexables to Plugins with Known Issues
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor

#7436 Update Fastly FAQs
  source/content/guides/fastly-pantheon/09-fastly-faq.md
Labels: Fix Content, Pantheor

#7441 [DOC-637] (not for merge) PHP end-of-sale alternatives
  source/content/php-versions.md
Labels: Fix Content, Pantheor

#7448 module shouldn't have version number when enabling
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: Fix Content, Pantheor

#7454 Update PHP Versions
  source/content/php-versions.md
Labels: Fix Content, Pantheor

#7459 use new front-end orb tag
  .circleci/config.yml
Labels: Site

#7455 md fix
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: Fix Content

#7463 Update Pantheon Manual Migration Steps
  source/content/migrate-manual.md
Labels: Fix Content, Pantheor

#7462 Localdev Doc Update
  source/content/guides/localdev/01-introduction.md
  source/content/guides/localdev/02-install-configure.md
  source/content/guides/localdev/03-using-localdev.md
  source/content/guides/localdev/04-troubleshoot-support.md
  source/content/guides/localdev/05-changelog.md
Labels: Fix Content, Pantheor

#7465 [CMS-753] Document scopes needed for each service.
  source/content/guides/build-tools/02-create-project.md
Labels: New Content, Pantheor

#7464 DOC-267 Deprecate Platform Resources
  source/changelogs/2016-02-01-February.md
  source/content/platform-resources.md
  source/content/site-plans-faq.md
  source/data/landings.yaml
Labels: Fix Content, Redirect

#7468 Reword WordFence Plugin with Known Issue
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor

#7469 blocked ip/ua could still see cached content
  source/content/optimize-site-traffic.md
Labels: New Content

#7473 [EI-241] Add screenshot of Smart Content Preview to EI Drupal Guide
  source/content/guides/edge-integrations/03-drupal-sdk.md
  source/images/guides/edge-integrations/ei-drupal-smart-content-preview.png
Labels: Pantheor, Edge Integrations
