Repository pantheon-systems/documentation, pull requests merged in 2022-11, with the labels that each got.

#7872 Old wp url needed in substitution
  source/content/guides/multisite/05-workflows.md
Labels: Pantheor

#7874 Update to Cloudflare doc to include pre-provisioning step
  source/content/dns-providers/cloudflare.md
Labels: New Content, Pantheor

#7879 DOCO-726 Contributors Update
  source/content/basic-troubleshooting.md
  source/content/mu-plugin.md
  source/content/optimize-wp-options-table-autoloaded-data.md
  source/content/plugins-known-issues.md
  source/data/contributor.yaml
  src/templates/contributor.js
Labels: Fix Content

#7882 DOCO-720 Integrated Composer Bitbucket
  source/content/guides/integrated-composer/03-private-repo-package.md
Labels: New Content, Pantheor

#7884 DOCO-727 Object Cache Update
  source/content/guides/object-cache/03-redis-command-line.md
Labels: Fix Content, Pantheor

#7891 update terminus component page things for guide
  src/templates/terminusCommand.js
  src/templates/terminuspage.js
Labels: Site, Terminus

#7898 Fixed typo in core-updates.md
  source/content/core-updates.md
Labels: Fix Content, First Contribution!

#7888 DOCO-718 GrumPHP with Integrated Composer
  source/content/guides/integrated-composer/07-ic-troubleshooting.md
Labels: New Content, First Contribution!

#7909 DOCO-729 Logs Guide Restructuring
  source/content/guides/logs-pantheon/02-access-logs.md
  source/content/guides/logs-pantheon/03-download-logs.md
  source/content/guides/logs-pantheon/05-nginx-access-logs.md
  source/content/guides/new-relic/05-debug-mysql-new-relic.md
Labels: Fix Content, Pantheor

#7907 PHP on Pantheon Link Fix DOCO-730
  source/content/guides/php/02-php-versions.md
Labels: Fix Content

#7922 Updated manual migration process
  source/content/migrate-manual.md
Labels: Pantheor

#7919 Update Site Transfer Page DOCO-732
  source/content/guides/account-mgmt/workspace-sites-teams/05-sites.md
Labels: Fix Content

#7931 DOCO-737 Caching Advanced Topics Link Update
  source/content/caching-advanced-topics.md
Labels: Pantheor

#7892 DOCO-702 WordPress Configurations Guide
  source/changelogs/2015-10-01-October.md
  source/changelogs/2016-04-01-April.md
  source/changelogs/2018-08-01-August.md
  source/changelogs/2020-12-01-December.md
  source/content/agency-tips.md
  source/content/basic-troubleshooting.md
  source/content/cache-control.md
  source/content/content-staging.md
  source/content/debug-cache.md
  source/content/faq.md
  source/content/guides/custom-upstream/06-maintain-custom-upstream.md
  source/content/guides/errors-and-server-responses/07-slow-and-high-queries.md
  source/content/guides/fastly-pantheon/03-fastly-amazon-s3.md
  source/content/guides/frontend-performance/04-caching.md
  source/content/guides/global-cdn/02-experience-protection.md
  source/content/guides/global-cdn/03-global-cdn-caching.md
  source/content/guides/global-cdn/04-test-global-cdn-caching.md
  source/content/guides/multisite/03-config.md
  source/content/guides/object-cache/01-introduction.md
  source/content/guides/object-cache/05-troubleshoot-object-cache.md
  source/content/guides/php/04-wp-config-php.md
  source/content/guides/platform-considerations/02-platform-site-info.md
  source/content/guides/platform-considerations/04-files-directories.md
  source/content/guides/platform-considerations/05-media-email-support.md
  source/content/guides/quicksilver/02-install-script.md
  source/content/guides/secure-development/05-two-factor-authentication.md
  source/content/guides/sendgrid.md
  source/content/guides/wordpress-configurations/01-introduction.md
  source/content/guides/wordpress-configurations/02-plugins.md
  source/content/guides/wordpress-configurations/03-mu-plugin.md
  source/content/guides/wordpress-configurations/04-wp-cfm.md
  source/content/guides/wordpress-configurations/05-wordpress-cache-plugin.md
  source/content/guides/wordpress-configurations/06-wordpress-custom-code.md
  source/content/guides/wordpress-configurations/07-wordpress-solr.md
  source/content/guides/wordpress-configurations/08-wordpress-s3.md
  source/content/guides/wordpress-configurations/09-sendgrid-wordpress-wp-mail-smtp.md
  source/content/guides/wordpress-git/06-next-steps.md
  source/content/guides/wordpress-google-sso/06-advanced-configuration.md
  source/content/guides/wordpress-pantheon/05-plugins.md
  source/content/guides/wordpress-pantheon/06-wp-optimization.md
  source/content/guides/wordpress-pantheon/07-wordpress-developers.md
  source/content/guides/wordpress-pantheon/09-wp-content-managment.md
  source/content/guides/wp-cli/02-create-wp-site.md
  source/content/guides/wp-cli/04-install-wp-plugins-themes.md
  source/content/guides/wp-cli/07-wp-cli-troubleshoot.md
  source/content/modules.md
  source/content/multizone-failover.md
  source/content/overview/integrations.md
  source/content/plugins-known-issues.md
  source/content/solr.md
  source/content/wordpress-best-practices.md
  source/content/wordpress-cache-plugin.md
  source/content/wordpress-solr.md
  source/data/landings.yaml
Labels: Redirect, Guidification

#7939 bump gatsby deps
  package-lock.json
  package.json
Labels: Site

#7941 DOCO-738 Autopilot Premium and Paid Plugins
  source/content/guides/autopilot/03-enable-autopilot.md
  source/content/guides/autopilot/08-autopilot-faq.md
Labels: New Content, Pantheor, autopilot

#7945 DOCO-743 Frontend Performance GCDN IO
  source/content/guides/frontend-performance/05-media.md
Labels: Fix Content, Pantheor

#7918 Internal Billing Landing Page
  source/data/landings.yaml
Labels: New Doc

#7947 DOCO-739 Autopilot Error Message Update
  source/content/guides/autopilot/07-troubleshoot.md
Labels: Fix Content, Pantheor, autopilot

#7951 DOCO-746 Site Level Permissions SFTP Download Logs
  source/content/guides/account-mgmt/workspace-sites-teams/07-teams.md
Labels: New Content, Pantheor

#7950 DOCO-747 Git Resolve Merge Conflicts Updates
  source/content/guides/git/06-resolve-merge-conflicts.md
Labels: New Content, Pantheor

#7963 Update to Google Workspace
  source/content/email.md
Labels: Fix Content, Pantheor

#7956 Adds main as an additional option
  source/content/inclusive-language.md
Labels: Pantheor

#7970 DOCO-750 Site Level Permissions for Solr
  source/content/guides/account-mgmt/workspace-sites-teams/07-teams.md
Labels: Pantheor, First Contribution!

#7969 Update Build Tools Access Tokens Code
  source/content/guides/build-tools/02-create-project.md
Labels: Fix Content

#7960 DOCO-748 SSO Members and External Members
  source/content/sso-organizations.md
Labels: New Content, Pantheor

#7977 Introduction looked like instructions
  source/content/guides/logs-pantheon/02-access-logs.md
Labels: CSE, Pantheor

#7965 [CMS-1096] De-emphasize terminus 1.x and 2.x docs.
  source/content/guides/wordpress-composer/03-create-wp-site-composer-ci-auto-test.md
  source/content/regions.md
  source/content/supported-terminus.md
  source/content/terminus-2-0.md
  source/content/terminus/01-introduction.md
  source/content/terminus/06-plugins.md
  source/content/terminus/07-create.md
  source/content/terminus/08-directory.md
Labels: Pantheor

#7974 WordPress session expiration was not documented
  source/content/caching-advanced-topics.md
Labels: CSE, Pantheor
