Repository pantheon-systems/documentation, pull requests merged in 2022-04, with the labels that each got.

#7221 Updated Elementor Known Issue Solution
  source/content/plugins-known-issues.md
Labels: Fix Content, wp

#7198 New GraphQL Troubleshooting Doc
  source/content/graphql-requests.md
  source/data/landings.yaml
  source/images/graphql-200-status.png
  source/images/graphql-error-example.png
  source/images/graphql-errors-key.png
Labels: New Content, Pantheor

#7188 Potential Solution for WP Multisites with Integrated Composer Sub Site Redirects
  source/content/guides/integrated-composer.md
  source/content/guides/multisite/01-introduction.md
  source/content/guides/multisite/05-debug.md
  source/partials/configure-wp-site-networks-with-integrated-composer.md
Labels: New Content

#7226 Add multisite mention fro Autopilot doc
  source/content/guides/autopilot/05-troubleshoot.md
Labels: autopilot

#7225 DOC 530 Update Modules Page for Drupal 9
  source/content/modules.md
Labels: Drupal

#7228 DOC-512 Multizone Failover Solr Provisioning State
  source/content/multizone-failover.md
Labels: Fix Content

#7229 [CMS-391] Modify docs to reflect WP Cron changes
  source/content/wordpress-cron.md
Labels: Pantheor

#7230 DOC-450 Multisite Governance Content
  source/content/guides/multisite/01-introduction.md
  source/content/guides/multisite/03-config.md
  source/content/guides/multisite/04-multisite-governance.md
  source/content/guides/multisite/05-workflows.md
  source/content/guides/multisite/06-debug.md
  source/images/multisite-goverance-example.png
  source/images/site-goverance-multisite.png
  static/images/multisite-governance-example.png
  static/images/multisite-governance-example2.png
  static/images/site-governance-multisite.png
  static/images/site-governance-multisite2.png
Labels: New Content, wp

#7237 PHP Redirects and Rewrites
  source/content/advanced-redirects.md
Labels: New Content

#7238 Pantheon Load Testing Offerings
  source/content/guides/professional-services/03-onboarding.md
  source/content/load-and-performance-testing.md
  source/partials/load-testing.md
Labels: Fix Content, Pantheor

#7148 Update Terminus Clone Install Step
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
  source/partials/drupal-8-to-drupal-9-upgrade.md
  source/partials/drupal-9/prepare-local-environment.md
  source/partials/drupal-apply-upstream-updates.md
  source/partials/export-alias.md
Labels: Drupal

#7170 DOC-445 Load and Performance Testing Policy Clarification
  source/content/guides/load-testing-with-blazemeter.md
  source/content/load-and-performance-testing.md
Labels: Fix Content

#7242 Add drupal.org profile url for John Spellman
  source/data/contributor.yaml
Labels: Pantheor

#7251 WP-Cron Link Update
  source/content/wordpress-cron.md
Labels: Fix Content, First Contribution!

#7248 AGCDN Vanity Domains
  source/content/vanity-domains.md
Labels: New Content, Pantheor

#7258 revert package-lock to before mar 1
  package-lock.json
Labels: Site

#7252 WebP Expresss AGCDN Image Optimization
  source/content/plugins-known-issues.md
Labels: Pantheor, Medium Priority

#7243 DOC-518 Drupal 8 Commerce Doc Update
  source/content/guides/drupal-8-commerce.md
Labels: Fix Content

#7256 Quicksilver Doc Updates
  source/content/quicksilver.md
  source/content/wp-cfm.md
Labels: New Content, High Priority

#7269 Update sso-organizations.md
  source/content/sso-organizations.md
Labels: New Content, Pantheor

#7275 Remove COE Section from Platform Considerations
  source/content/platform-considerations.md
Labels: Fix Content, Pantheor

#7277 Additional Drupal 9 Updates
  source/content/core-updates.md
  source/content/drupal-9-configuration-management.md
Labels: Fix Content

#7279 Rsync Doc Code Example Update
  source/content/rsync-and-sftp.md
Labels: Fix Content, Pantheor

#7284 Update Stale Changelogs
  source/content/drush.md
  source/content/guides/build-tools/01-introduction.md
  source/content/guides/localdev/02-install-configure.md
  source/content/guides/localdev/05-changelog.md
Labels: Fix Content

#7282 DOC-536 AGCDN Fastly Update
  source/content/guides/professional-services/05-advanced-global-cdn.md
Labels: New Content

#7295 remove redis based on current platform behavior
  source/content/secure-runtime-access.md
Labels: Fix Content

#7293 BUGS-4147: Adjusts permissions documentation to reflect new changes.
  source/content/change-management.md
Labels: New Content, Pantheor

#7301 update/remove notes about set site upstream role
  source/content/guides/composer-convert-from-empty.md
  source/content/guides/composer-convert.md
  source/content/guides/switch-drupal-recommended-upstream.md
Labels: Fix Content

#7298 Clarify Cron, including for Site Networks
  source/content/wordpress-cron.md
Labels: Hold for Release
