Repository pantheon-systems/documentation, pull requests merged in 2022-08, with the labels that each got.

#7542 Update how we get search_api_pantheon module.
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: Fix Content, Pantheor

#7543 Update pantheon-yml.md
  source/content/pantheon-yml.md
Labels: New Content, Pantheor

#7544 Azure Single Sign-on Steps
  source/content/sso-organizations.md
Labels: New Content, Pantheor

#7546 Terminus Install Auth Update
  source/content/terminus/install.md
Labels: Fix Content, First Contribution!

#7420 Update gatsby-plugin-segment-js for new script.
  .circleci/scripts/functions.sh
  gatsby-config.js
  package-lock.json
  package.json
Labels: Site

#7555 emails: specify outgoing
  source/content/email.md
Labels: New Content, Pantheor

#7557 DOC-694: Remove Localdev banner from local dev page
  source/content/local-development.md
Labels: Fix Content

#7562 Apache Solr for Drupal Doc Update
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: New Content

#7485 DOC-671 AGCDN Guide
  source/content/guides/agcdn/01-introduction.md
  source/content/guides/agcdn/02-agcdn-features.md
  source/content/guides/agcdn/03-agcdn-wafio.md
  source/content/guides/agcdn/04-submit-request.md
  source/content/guides/agcdn/05-agcdn-faq.md
  source/content/guides/fastly-pantheon/01-introduction.md
  source/content/guides/fastly-pantheon/02-connect-fastly.md
  source/content/guides/professional-services/05-advanced-global-cdn.md
  source/data/landings.yaml
Labels: New Doc

#7568 AGCDN Introduction Link Hotfix
  source/content/guides/agcdn/01-introduction.md
Labels: Fix Content

#7566 Supported browsers update
  source/content/platform-considerations.md
Labels: New Content

#7571 AGCDN Case Study Hotfix
  source/content/guides/agcdn/01-introduction.md
Labels: Fix Content, Pantheor

#7563 Integrated Composer Dependencies Update
  source/content/guides/integrated-composer.md
Labels: Fix Content, First Contribution!

#7570 Update Autopilot Error - add Integrated Composer
  source/content/guides/autopilot/05-troubleshoot.md
Labels: New Content, Pantheor, autopilot

#7567 Autopilot Apply Updates Troubleshooting
  source/content/guides/autopilot/04-apply-updates.md
Labels: New Content, Pantheor

#7573 Bots and Indexing Update
  source/content/bots-and-indexing.md
Labels: Fix Content, Pantheor

#7576 AGCDN Optimize Traffic Update
  source/content/optimize-site-traffic.md
Labels: Fix Content, Pantheor

#7581 Added more description in the SI requirements
  source/content/guides/secure-development/02-secure-integration.md
Labels: Pantheor

#7583 [BUGS-5027] Integrated Composer Docs
  source/content/guides/integrated-composer.md
  source/data/landings.yaml
Labels: New Content, Pantheor

#7536 Decoupled guide
  source/content/guides/decoupled-sites/01-introduction.md
  source/content/guides/decoupled-sites/02-considerations.md
  source/content/guides/decoupled-sites/03-starter-kits.md
  source/content/guides/decoupled-sites/04-site.md
  source/content/guides/decoupled-sites/05-support.md
Labels: New Doc, New Content, decoupled-pre-ga

#7556 Supported Software, Languages, and Versions
  source/changelogs/2016-12-01-December.md
  source/content/drush-versions.md
  source/content/guides/support/01-scope.md
  source/content/php-versions.md
  source/content/supported-drupal.md
  source/content/supported-php.md
  source/content/supported-terminus.md
  source/content/supported-wp.md
  source/content/terminus.md
  source/content/terminus/get-started/legacy.md
  source/content/terminus/updates.md
  source/data/landings.yaml
  source/partials/drush-compatibility.md
  source/partials/drush-supported.md
  source/partials/outdated-core.md
  source/partials/php-versions.md
  source/partials/terminus/eol.md
  source/partials/terminus/php.md
Labels: New Content

#7591 WordPress Plugins with Known Issues WordFence Update
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor

#7588 Migrate Pantheon Site to D9 Update
  source/partials/drupal-9/dependencies-compatible.md
Labels: Fix Content, Pantheor

#7589 specify SSH key types
  source/content/ssh-keys.md
Labels: Fix Content

#7585 Terminus Drush Install Command Update
  source/content/guides/terminus-drupal-site-management.md
Labels: Fix Content, First Contribution!

#7598 Fix Partial File Names
  source/content/guides/drupal-9/drupal-9-hosted-createbt/13-troubleshooting.md
  source/content/guides/drupal-9/drupal-9-hosted-createcustom/11-troubleshooting.md
  source/content/guides/drupal-9/drupal-9-hosted-createdashboard-set8/13-troubleshooting.md
  source/content/guides/drupal-9/drupal-9-hosted-md/13-troubleshooting.md
  source/content/guides/drupal-9/drupal-9-hosted/11-troubleshooting.md
  source/content/guides/drupal-9/drupal-9-unhosted-composer/15-troubleshooting.md
  source/content/guides/drupal-9/drupal-9-unhosted/15-troubleshooting.md
  source/content/guides/migrate/acquia/07-troubleshooting.md
  source/content/guides/migrate/acquia/09-faq.md
  source/content/guides/migrate/guided/07-troubleshooting.md
  source/content/guides/migrate/guided/09-faq.md
  source/content/guides/migrate/kinsta/07-troubleshooting.md
  source/content/guides/migrate/kinsta/09-faq.md
  source/content/guides/migrate/manual-d8-composer-to-d8/15-troubleshooting.md
  source/content/guides/migrate/pagely/05-migrate.md
  source/content/guides/migrate/pagely/07-troubleshooting.md
  source/content/guides/migrate/pagely/09-faq.md
  source/content/guides/migrate/platformsh/07-troubleshooting.md
  source/content/guides/migrate/platformsh/09-faq.md
  source/content/guides/migrate/wordpressvip/05-migrate.md
  source/content/guides/migrate/wordpressvip/07-troubleshooting.md
  source/content/guides/migrate/wordpressvip/09-faq.md
  source/content/guides/migrate/wpengine/05-migrate.md
  source/content/guides/migrate/wpengine/07-troubleshooting.md
  source/content/guides/migrate/wpengine/09-faq.md
  source/content/style-guide.md
  source/partials/drupal-9/troubleshooting-general.md
  source/partials/migrate/faq-general.md
  source/partials/migrate/migrate-wp.md
  source/partials/migrate/troubleshooting-migrate-general.md
Labels: Fix Content, High Priority

#7600 md tweak
  source/content/supported-terminus.md
  source/content/terminus/updates.md
  source/partials/terminus-guide/eol.md
  source/partials/terminus-guide/php.md
  src/templates/terminuspage.js
Labels: Fix Content

#7594 Integrated Composer Guide Curation
  source/changelogs/2021-03-01-March.md
  source/changelogs/2021-05-01-May.md
  source/changelogs/2021-09-01-September.md
  source/content/drupal-cache.md
  source/content/guides/autopilot/04-apply-updates.md
  source/content/guides/autopilot/05-troubleshoot.md
  source/content/guides/custom-upstream/02-create-custom-upstream.md
  source/content/guides/drupal-9/drupal-9-hosted-createempty-md/09-deploy-dev.md
  source/content/guides/drupal-9/drupal-9-hosted-deprecated-upstream/03-prepare.md
  source/content/guides/integrated-composer.md
  source/content/guides/integrated-composer/01-introduction.md
  source/content/guides/integrated-composer/02-dependencies.md
  source/content/guides/integrated-composer/03-private-repo-package.md
  source/content/guides/integrated-composer/04-one-click-updates.md
  source/content/guides/integrated-composer/05-ic-upstreams.md
  source/content/guides/integrated-composer/06-ic-support.md
  source/content/guides/integrated-composer/07-ic-troubleshooting.md
  source/content/guides/integrated-composer/08-ic-faq.md
  source/content/guides/solr-drupal/02-solr-drupal.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
  source/partials/configure-wp-site-networks-with-integrated-composer.md
  source/partials/drupal-8-convert-to-composer-from-empty.md
  source/partials/drupal-8-convert-to-composer.md
  source/partials/ic-upstream-structure.md
Labels: Pantheor

#7610 remove old decoupled doc
  source/content/decoupled-sites.md
Labels: Remove Content

#7602 terminus releases - add changelog header
  source/content/terminus/updates.md
Labels: Fix Content

#7605 AGCDN Custom Certificate Format
  source/content/custom-certificates.md
Labels: Fix Content, Pantheor

#7539 New Relic Guide
  source/changelogs/2015-06-01-June.md
  source/changelogs/2017-05-01-May.md
  source/changelogs/2017-06-01-June.md
  source/changelogs/2019-02-01-February.md
  source/content/agency-tips.md
  source/content/application-containers.md
  source/content/basic-troubleshooting.md
  source/content/cloud-optimization.md
  source/content/database-workflow.md
  source/content/debug-mysql-new-relic.md
  source/content/debug-slow-performance.md
  source/content/drupal-launch-check.md
  source/content/errors-and-server-responses.md
  source/content/guides/disaster-recovery/02-planning-ahead.md
  source/content/guides/disaster-recovery/03-site-goes-down.md
  source/content/guides/edt/07-performance.md
  source/content/guides/fastly-pantheon/01-introduction.md
  source/content/guides/fastly-pantheon/05-fastly-new-relic.md
  source/content/guides/fastly-pantheon/07-fastly-splunk.md
  source/content/guides/frontend-performance/03-diagnostics.md
  source/content/guides/launch/04-domains.md
  source/content/guides/launch/05-advanced-curls.md
  source/content/guides/launch/06-configure-dns.md
  source/content/guides/launch/07-redirects.md
  source/content/guides/launch/08-launch-check.md
  source/content/guides/launch/09-next-steps.md
  source/content/guides/load-testing-with-blazemeter.md
  source/content/guides/new-relic-deploys.md
  source/content/guides/new-relic/01-introduction.md
  source/content/guides/new-relic/02-activate-new-relic.md
  source/content/guides/new-relic/03-monitor-new-relic.md
  source/content/guides/new-relic/04-new-relic-quicksilver.md
  source/content/guides/new-relic/05-debug-mysql-new-relic.md
  source/content/guides/new-relic/06-troubleshoot-new-relic.md
  source/content/guides/new-relic/07-new-relic-faq.md
  source/content/guides/pagerduty/01-introduction.md
  source/content/guides/pagerduty/02-monitor.md
  source/content/guides/pagerduty/03-schedule.md
  source/content/guides/pagerduty/04-notify.md
  source/content/guides/pagerduty/05-slack.md
  source/content/guides/pagerduty/06-next-steps.md
  source/content/guides/pingdom-uptime-check.md
  source/content/guides/wordpress-pantheon/06-wp-optimization.md
  source/content/horizontal-scalability.md
  source/content/kill-mysql-queries.md
  source/content/load-and-performance-testing.md
  source/content/logs.md
  source/content/mysql-slow-log.md
  source/content/new-relic.md
  source/content/platform-considerations.md
  source/content/plugins-known-issues.md
  source/content/required-reading.md
  source/content/site-owner-faq.md
  source/content/site-plan.md
  source/content/site-plans-faq.md
  source/data/landings.yaml
  source/images/improved-query-performance.png
  source/partials/additionalResources/lw4.md
  source/partials/monitor-alerts.md
Labels: New Doc, Redirect

#7616 New Relic Registered Trademark Update
  source/content/guides/new-relic/05-debug-mysql-new-relic.md
  source/content/guides/new-relic/06-troubleshoot-new-relic.md
  source/content/guides/new-relic/07-new-relic-faq.md
Labels: Fix Content, Pantheor

#7614 Change the aggregation code path to | for d in $(ls -d app*/nginx); in collect-logs-sftp.sh.txt file |
  source/scripts/collect-logs-sftp.sh.txt
Labels: First Contribution!

#7621 [CMS-898] Terminus Release 3.0.8.
  source/partials/terminus-guide/eol.md
Labels: New Content, Pantheor

#7623 Fix location of hide_git_mode_warning in example
  source/content/terminus/configuration.md
Labels: Fix Content, Pantheor

#7624 Explain Terminus automatic site and environment detection
  source/content/terminus/examples.md
Labels: New Content, Pantheor

#7629 remove the mention of the debug tab
  source/content/guides/custom-upstream/03-edit-custom-upstream.md
Labels: Fix Content, Pantheor

#7617 MariaDB and MySQL Guide
  source/changelogs/2015-04-01-April.md
  source/changelogs/2015-06-01-June.md
  source/changelogs/2015-08-01-August.md
  source/changelogs/2015-09-01-September.md
  source/content/application-containers.md
  source/content/basic-troubleshooting.md
  source/content/content-staging.md
  source/content/database-connection-errors.md
  source/content/database-workflow.md
  source/content/guides/load-testing-with-blazemeter.md
  source/content/guides/mariadb-mysql/01-introduction.md
  source/content/guides/mariadb-mysql/02-mysql-access.md
  source/content/guides/mariadb-mysql/03-mysql-workbench.md
  source/content/guides/mariadb-mysql/04-myisam-to-innodb.md
  source/content/guides/mariadb-mysql/05-hyperdb.md
  source/content/guides/mariadb-mysql/06-kill-mysql-queries.md
  source/content/guides/mariadb-mysql/07-mysql-slow-log.md
  source/content/guides/mariadb-mysql/08-mariadb-mysqql-faq.md
  source/content/guides/multidev/08-multidev-faq.md
  source/content/guides/new-relic/05-debug-mysql-new-relic.md
  source/content/guides/secure-development/06-ssh-tunnels.md
  source/content/guides/wordpress-pantheon/04-wordpress-launch-check.md
  source/content/guides/wordpress-pantheon/10-troubleshooting.md
  source/content/kill-mysql-queries.md
  source/content/logs.md
  source/content/migrate-wordpress-site-networks.md
  source/content/myisam-to-innodb.md
  source/content/mysql-access.md
  source/content/mysql-workbench.md
  source/content/object-cache.md
  source/content/optimize-wp-options-table-autoloaded-data.md
  source/content/platform-considerations.md
  source/content/plugins-known-issues.md
  source/content/resetting-passwords.md
  source/content/sites.md
  source/content/wordpress-known-issues.md
  source/data/home.yaml
  source/data/landings.yaml
  source/partials/drupal-9/migrate-add-database-part2.md
  source/partials/migrate-add-database.md
  source/partials/migrate/drupal-database.md
  source/partials/migrate/faq-general.md
Labels: New Doc, Pantheor, Redirect

#7630 [CMS-909] Add WordPress Composer Managed EA docs
  source/content/guides/wordpress-composer/01-introduction.md
  source/content/guides/wordpress-composer/02-wordpress-composer-managed.md
  source/content/guides/wordpress-composer/03-create-wp-site-composer-ci-auto-test.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
Labels: New Content, High Priority

#7637 DOC-693 CMS Specific Landing Pages
  source/data/landings.yaml
Labels: New Doc

#7639 WP caps and md syntax
  source/content/guides/edge-integrations/05-analytics.md
  source/content/guides/migrate/wordpressvip/05-migrate.md
  source/content/guides/multisite/02-considerations.md
  source/content/guides/redirect/09-advanced.md
  source/partials/configure-wp-site-networks-with-integrated-composer.md
Labels: Fix Content, wp

#7599 [CMS-799][BUGS-5125] Release notes for pantheon-cache WPCLI command deprecation, REST API responses
  source/content/start-states/wordpress.md
Labels: wp, Hold for Release

#7529 DOC-368 Pantheon Overview
  source/content/change-management.md
  source/content/guides/git/01-introduction.md
  source/content/guides/multidev/01-introduction.md
  source/content/organizations.md
  source/content/overview/accounts.md
  source/content/overview/integrations.md
  source/content/overview/platform.md
  source/content/overview/products.md
  source/content/overview/support.md
  source/content/overview/workflows.md
  source/content/sftp.md
  source/content/terminus.md
  source/data/landings.yaml
  src/components/product/index.js
  src/components/product/style.css
  src/components/productGroup.js
  src/styles/main.css
  src/templates/doc.js
Labels: New Content

#7550 Autopilot Deactivation Steps
  source/content/guides/autopilot/01-introduction.md
  source/content/guides/autopilot/02-autopilot-preconfiguration.md
  source/content/guides/autopilot/03-enable-autopilot.md
  source/content/guides/autopilot/04-tests-results.md
  source/content/guides/autopilot/05-apply-updates.md
  source/content/guides/autopilot/06-autopilot-deactivate.md
  source/content/guides/autopilot/07-troubleshoot.md
  source/content/guides/autopilot/08-autopilot-faq.md
Labels: New Doc, autopilot

#7647 Early Access SELT Link
  source/content/guides/agcdn/03-agcdn-wafio.md
  source/content/guides/decoupled-sites/01-introduction.md
  source/content/guides/support/04-early-access.md
  source/content/guides/wordpress-composer/02-wordpress-composer-managed.md
  source/content/oss-support-levels.md
  source/content/pantheon-community.md
Labels: Fix Content, Pantheor

#7655 Roles and Permissions File Upload Update
  source/content/change-management.md
Labels: New Content
