Repository pantheon-systems/documentation, pull requests merged in 2022-09, with the labels that each got.

#7659 Removed extra character in heading
  source/content/guides/decoupled-sites/02-considerations.md
Labels: Fix Content, Pantheor

#7657 Front-End Sites Compatibility
  source/content/guides/decoupled-sites/06-faq.md
Labels: Fix Content, Pantheor

#7662 Update 06-clone-live-to-dev.md
  source/content/guides/quickstart/06-clone-live-to-dev.md
Labels: Fix Content, Pantheor

#7664 7661 terminus script update
  source/content/terminus/scripting.md
Labels: Fix Content

#7656 Composer Require Dev and Require Explanation
  source/content/guides/composer.md
  source/content/guides/integrated-composer/02-dependencies.md
Labels: Fix Content, New Content

#7666 Front-End Sites Support
  source/content/guides/decoupled-sites/06-faq.md
Labels: Fix Content

#7669 Adding require-dev clarification to the FAQ
  source/content/guides/integrated-composer/08-ic-faq.md
Labels: New Content, Pantheor

#7644 Platform Considerations Guide
  source/changelogs/2020-01-01-January.md
  source/content/agency-tips.md
  source/content/faq.md
  source/content/guides/edt/03-developer-workflow.md
  source/content/guides/edt/04-multidev.md
  source/content/guides/legacy-dashboard/02-create-sites.md
  source/content/guides/legacy-dashboard/08-site-org-dashboard.md
  source/content/guides/platform-considerations/01-introduction.md
  source/content/guides/platform-considerations/02-platform-site-info.md
  source/content/guides/platform-considerations/03-platform-security.md
  source/content/guides/platform-considerations/04-files-directories.md
  source/content/guides/platform-considerations/05-media-email-support.md
  source/content/guides/platform-considerations/06-php-platform.md
  source/content/guides/platform-considerations/07-terminus-platform.md
  source/content/guides/professional-services/02-website-migration-service.md
  source/content/guides/secure-development/04-private-paths.md
  source/content/guides/trainers.md
  source/content/guides/wordpress-pantheon/07-wordpress-developers.md
  source/content/migrate-manual.md
  source/content/migrate-wordpress-site-networks.md
  source/content/modules-known-issues.md
  source/content/organization-dashboard.md
  source/content/organizations.md
  source/content/plugins-known-issues.md
  source/content/required-reading.md
  source/content/timeouts.md
  source/content/tmp.md
  source/content/webops-dashboard.md
  source/content/wordpress-best-practices.md
  source/content/wordpress-s3.md
  source/data/landings.yaml
  source/partials/additionalResources/lw1.md
  source/partials/auth.md
  source/partials/migrate/prepare.md
  source/partials/migrate/troubleshooting-migrate-general.md
Labels: Pantheor, Redirect

#7670 Revert debug tab
  source/content/guides/custom-upstream/02-create-custom-upstream.md
  source/content/guides/custom-upstream/03-edit-custom-upstream.md
  source/content/guides/custom-upstream/05-delete-custom-upstream.md
Labels: Pantheor

#7678 Redis - D9 w/Composer: git add .
  source/content/object-cache.md
Labels: Fix Content

#7674 7645 quick start update
  source/content/guides/launch/02-create-site-launch.md
  source/content/guides/legacy-dashboard/02-create-sites.md
  source/content/guides/legacy-dashboard/05-user-dashboard.md
  source/content/guides/quickstart/01-introduction.md
  source/content/guides/quickstart/02-user-dashboard.md
  source/content/guides/quickstart/03-create-new-site.md
  source/content/guides/quickstart/04-site-dashboard.md
  source/content/guides/quickstart/04-workflow.md
  source/content/guides/quickstart/05-create-test-live.md
  source/content/guides/quickstart/06-clone-live-to-dev.md
  source/content/guides/quickstart/07-connection-modes.md
  source/content/guides/quickstart/08-onserver-dev-part1.md
  source/content/guides/quickstart/08-ui-changes.md
  source/content/guides/quickstart/09-code-changes.md
  source/content/guides/quickstart/09-onserver-dev-part2.md
  source/content/guides/quickstart/10-next-steps.md
  source/content/guides/wordpress-pantheon/02-create-wp-site.md
Labels: review

#7676 WordPress Site Networks Update
  source/content/guides/multisite/01-introduction.md
  source/content/guides/multisite/02-considerations.md
  source/content/guides/multisite/03-config.md
  source/content/guides/multisite/04-multisite-governance.md
  source/content/guides/multisite/05-workflows.md
  source/content/guides/multisite/06-debug.md
Labels: Fix Content, Pantheor

#7671 Error and Server Responses Guide
  source/content/basic-troubleshooting.md
  source/content/bots-and-indexing.md
  source/content/errors-and-server-responses.md
  source/content/guides/errors-and-server-responses/01-Introduction.md
  source/content/guides/errors-and-server-responses/02-4xx-errors.md
  source/content/guides/errors-and-server-responses/03-5xx-errors.md
  source/content/guides/errors-and-server-responses/04-retries-server-containers.md
  source/content/guides/errors-and-server-responses/05-external-web-service-calls.md
  source/content/guides/errors-and-server-responses/06-overloaded-workers.md
  source/content/guides/errors-and-server-responses/07-slow-and-high-queries.md
  source/content/guides/platform-considerations/02-platform-site-info.md
  source/content/guides/support/01-scope.md
  source/content/platform-considerations.md
  source/content/required-reading.md
  source/content/timeouts.md
  source/data/landings.yaml
Labels: New Doc, Redirect

#7681 fix missing parentheses
  source/content/migrate-wordpress-site-networks.md
Labels: Pantheor

#7682 AGCDN CDN Edge Logs Update
  source/content/guides/agcdn/02-agcdn-features.md
Labels: New Content, Pantheor

#7686 Drupal Minimum Cache Lifetime Error
  source/content/drupal-cache.md
  source/content/object-cache.md
Labels: New Content, Pantheor

#7679 Domains Guide
  source/changelogs/2017-07-01-July.md
  source/changelogs/2018-07-01-July.md
  source/changelogs/2020-08-01-August.md
  source/content/bots-and-indexing.md
  source/content/code.md
  source/content/custom-certificates.md
  source/content/dns-providers.md
  source/content/dns-providers/cloudflare.md
  source/content/domains.md
  source/content/drupal-cron.md
  source/content/guides/domains/01-introduction.md
  source/content/guides/domains/02-dns.md
  source/content/guides/domains/03-platform-domains.md
  source/content/guides/domains/04-primary-domain.md
  source/content/guides/domains/05-custom-domains.md
  source/content/guides/domains/06-vanity-domains.md
  source/content/guides/domains/07-troubleshooting.md
  source/content/guides/domains/08-domains-faq.md
  source/content/guides/edt/08-going-live.md
  source/content/guides/environment-configuration/02-read-environment-config.md
  source/content/guides/global-cdn/06-global-cdn-faq.md
  source/content/guides/launch/04-domains.md
  source/content/guides/launch/06-configure-dns.md
  source/content/guides/launch/07-redirects.md
  source/content/guides/legacy-dashboard/02-create-sites.md
  source/content/guides/legacy-dashboard/07-site-plan.md
  source/content/guides/php/03-settings-php.md
  source/content/guides/php/04-wp-config-php.md
  source/content/guides/redirect/01-introduction.md
  source/content/guides/redirect/09-advanced.md
  source/content/guides/support/01-scope.md
  source/content/http-to-https.md
  source/content/organizations.md
  source/content/relaunch.md
  source/content/single-application-sites.md
  source/content/site-plan.md
  source/content/site-plans-faq.md
  source/content/terminus/examples.md
  source/data/home.yaml
  source/data/landings.yaml
  source/partials/additionalResources/lw5.md
  source/partials/create-new-site-new-dash.md
  source/partials/primary-domain.md
  source/partials/search-replace-domains.md
Labels: New Doc, Redirect

#7687 Instructions missed name of button
  source/partials/remove-addons/drupal-redis.md
  source/partials/remove-addons/wp-redis.md
Labels: Pantheor

#7502 Change php version to 7.3
  source/content/drupal-phpstorm.md
Labels: Fix Content, First Contribution!

#7694 fix relative links that weren't relative links
  source/content/guides/autopilot/07-troubleshoot.md
  source/content/guides/autopilot/08-autopilot-faq.md
  source/content/guides/composer-convert-from-empty.md
  source/content/guides/decoupled-sites/01-introduction.md
  source/content/guides/decoupled-sites/02-considerations.md
  source/content/guides/disaster-recovery/02-planning-ahead.md
  source/content/guides/disaster-recovery/03-site-goes-down.md
  source/content/guides/domains/07-troubleshooting.md
  source/content/guides/drupal-9/drupal-9-hosted-btworkflow/01-introduction.md
  source/content/guides/errors-and-server-responses/02-4xx-errors.md
  source/content/guides/git/03-collaborative-development.md
  source/content/guides/localdev/04-troubleshoot-support.md
  source/content/guides/migrate/acquia/03-prepare.md
  source/content/guides/migrate/manual-d8-composer-to-d8/01-introduction.md
  source/content/guides/multidev/08-multidev-faq.md
  source/content/guides/platform-considerations/02-platform-site-info.md
  source/content/guides/wordpress-composer/02-wordpress-composer-managed.md
  source/content/guides/wordpress-pantheon/08-wp-security.md
  source/content/guides/wordpress-pantheon/09-wp-content-managment.md
  source/content/modules-known-issues.md
  source/content/object-cache.md
  source/content/pantheon-yml.md
  source/content/platform-considerations.md
  source/content/plugins-known-issues.md
  source/content/style-guide.md
  source/partials/additionalResources/lw1.md
  source/partials/additionalResources/lw4.md
  source/partials/drupal-9/guide-note.md
  source/partials/row-size-too-large-alter-table.md
Labels: Fix Content

#7691 Object Cache Command Line Example
  source/content/object-cache.md
Labels: Pantheor

#7698 Object Cache Flush Cache Update
  source/content/object-cache.md
Labels: Fix Content, Pantheor

#7689 Object Cache Guide
  source/content/agency-tips.md
  source/content/apcu.md
  source/content/basic-troubleshooting.md
  source/content/clear-caches.md
  source/content/cloud-optimization.md
  source/content/crisis-response-upstream.md
  source/content/debug-slow-performance.md
  source/content/drupal-caching-views.md
  source/content/guides/edt/07-performance.md
  source/content/guides/environment-configuration/02-read-environment-config.md
  source/content/guides/frontend-performance/04-caching.md
  source/content/guides/launch/08-launch-check.md
  source/content/guides/legacy-dashboard/02-create-sites.md
  source/content/guides/legacy-dashboard/07-site-plan.md
  source/content/guides/localdev/03-using-localdev.md
  source/content/guides/mariadb-mysql/05-hyperdb.md
  source/content/guides/mariadb-mysql/06-kill-mysql-queries.md
  source/content/guides/object-cache/01-introduction.md
  source/content/guides/object-cache/02-enable-object-cache.md
  source/content/guides/object-cache/03-redis-command-line.md
  source/content/guides/object-cache/04-remove-object-cache.md
  source/content/guides/object-cache/05-troubleshoot-object-cache.md
  source/content/guides/object-cache/06-faq-object-cache.md
  source/content/guides/php/03-settings-php.md
  source/content/guides/php/04-wp-config-php.md
  source/content/guides/php/07-php-slow-log.md
  source/content/guides/professional-services/02-website-migration-service.md
  source/content/guides/secure-development/06-ssh-tunnels.md
  source/content/guides/wordpress-pantheon/04-wordpress-launch-check.md
  source/content/guides/wordpress-pantheon/05-plugins.md
  source/content/guides/wordpress-pantheon/06-wp-optimization.md
  source/content/headless.md
  source/content/horizontal-scalability.md
  source/content/http-to-https.md
  source/content/modules-known-issues.md
  source/content/mu-plugin.md
  source/content/multizone-failover.md
  source/content/optimize-wp-options-table-autoloaded-data.md
  source/content/overview/platform.md
  source/content/plugins-known-issues.md
  source/content/required-reading.md
  source/content/site-owner-faq.md
  source/content/site-plan.md
  source/content/site-plans-faq.md
  source/content/sites.md
  source/content/videos/cache.md
  source/content/wordpress-best-practices.md
  source/content/wordpress-cache-plugin.md
  source/data/contributor.yaml
  source/data/home.yaml
  source/data/landings.yaml
  source/partials/additionalResources/lw4.md
  source/partials/remove-addons/drupal-redis.md
  source/partials/remove-addons/wp-redis.md
Labels: Redirect, Guidification

#7712 Corrected SITE_UUID variable name on the migrate-rsync.sh snippet.
  source/content/migrate-manual.md
Labels: First Contribution!

#7708 Multidev: team and supporting rephrase
  source/content/guides/multidev/01-introduction.md
Labels: Fix Content

#7704 DOC-714 - update autopilot overview screen
  source/content/guides/autopilot/04-tests-results.md
  source/images/autopilot/autopilot-overview-failed-vrt.png
  source/images/autopilot/autopilot-sites-overview.png
Labels: New Content

#7695 Drush Guide
  source/changelogs/2015-12-01-December.md
  source/changelogs/2017-03-01-March.md
  source/changelogs/2017-04-01-April.md
  source/changelogs/2018-01-01-January.md
  source/changelogs/2020-02-01-February.md
  source/changelogs/2020-03-01-March.md
  source/changelogs/2022-03-01-March.md
  source/content/cms-admin.md
  source/content/drupal-9-configuration-management.md
  source/content/drupal-cloudfront.md
  source/content/drupal-s3.md
  source/content/drush-versions.md
  source/content/drush.md
  source/content/faq.md
  source/content/guides/autopilot/08-autopilot-faq.md
  source/content/guides/custom-upstream/07-test-custom-upstream.md
  source/content/guides/drupal-9/drupal-9-hosted/07-code.md
  source/content/guides/drush/01-introduction.md
  source/content/guides/drush/02-drush-versions.md
  source/content/guides/drush/03-drush-commands.md
  source/content/guides/drush/04-drupal-commandline.md
  source/content/guides/drush/05-drush-import.md
  source/content/guides/drush/06-drush-aliases.md
  source/content/guides/drush/07-drush-sql-queries.md
  source/content/guides/drush/08-drush-known-limitations.md
  source/content/guides/drush/09-troubleshoot-drush.md
  source/content/guides/edt/05-terminus-cli.md
  source/content/guides/localdev/03-using-localdev.md
  source/content/guides/mariadb-mysql/02-mysql-access.md
  source/content/guides/php/01-introduction.md
  source/content/guides/php/02-php-versions.md
  source/content/guides/php/03-settings-php.md
  source/content/guides/platform-considerations/04-files-directories.md
  source/content/guides/terminus-drupal-site-management.md
  source/content/http-to-https.md
  source/content/local-development.md
  source/content/migrate-manual.md
  source/content/modules-known-issues.md
  source/content/pantheon-yml.md
  source/content/platform-considerations.md
  source/content/required-reading.md
  source/content/terminus.md
  source/content/terminus/examples.md
  source/data/home.yaml
  source/data/landings.yaml
  source/docs/assets/terminus/releases.json
  source/partials/additionalResources/lw2.md
  source/partials/drupal-9/guide-note.md
  source/partials/drush-compatibility.md
  source/partials/drush-supported.md
  source/partials/terminus/remote-drush.md
Labels: Redirect, Guidification

#7720 Object Cache Fix
  source/content/object-cache.md
Labels: Fix Content, Pantheor

#7723 add Redirects and md table generator to style guide
  source/content/style-guide.md
Labels: New Content

#7458 docs site: use newer circleci docker images
  .circleci/config.yml
  .circleci/scripts/terminus-installer.php
  .circleci/tests/lighthouse/run
  .circleci/tests/lighthouse/run-local
  tests/lighthouse/createPullRequestComment.js
  tests/lighthouse/lighthouse-constants.js
  tests/lighthouse/lighthouse.run.js
  tests/lighthouse/lighthouse.test.js
Labels: Site

#7726 docs site: install terminus 3.0.8
  .circleci/scripts/import-external-data.sh
  .circleci/scripts/terminus-installer.php
Labels: Site

#7729 Align Enable Redis Drupal condition with Wordpress snippet
  source/content/guides/object-cache/02-enable-object-cache.md
Labels: Fix Content, Pantheor

#7735 Use PHP 8.1 in PHP version configuration examples
  source/content/guides/php/02-php-versions.md
Labels: Pantheor

#7734 Correct a typo in PHP redirect code example
  source/content/guides/redirect/07-php.md
Labels: First Contribution!

#7709 WP-CLI Guide
  source/changelogs/2015-03-01-March.md
  source/changelogs/2021-06-01-June.md
  source/content/cms-admin.md
  source/content/guides/drush/01-introduction.md
  source/content/guides/edt/05-terminus-cli.md
  source/content/guides/localdev/03-using-localdev.md
  source/content/guides/platform-considerations/02-platform-site-info.md
  source/content/guides/platform-considerations/04-files-directories.md
  source/content/guides/sendgrid-wordpress-wp-mail-smtp.md
  source/content/guides/wordpress-commandline.md
  source/content/guides/wordpress-pantheon/07-wordpress-developers.md
  source/content/guides/wordpress-pantheon/08-wp-security.md
  source/content/guides/wp-cli/01-introduction.md
  source/content/guides/wp-cli/02-create-wp-site.md
  source/content/guides/wp-cli/03-wp-cli-global-parameters.md
  source/content/guides/wp-cli/04-install-wp-plugins-themes.md
  source/content/guides/wp-cli/05-wp-cli-sql-php-subcommands.md
  source/content/guides/wp-cli/06-wp-cli-troubleshoot.md
  source/content/platform-considerations.md
  source/content/terminus.md
  source/content/terminus/examples.md
  source/content/videos/wp-cli.md
  source/content/wordpress-s3.md
  source/content/wp-cli.md
  source/data/landings.yaml
  source/partials/additionalResources/lw2.md
Labels: Redirect, Guidification

#7715 Pre-reqs and steps updated to better reflect current process
  source/content/guides/decoupled-sites/04-site.md
  source/images/guides/decoupled-sites/import-repository.png
Labels: Pantheor

#7733 Legacy Dashboard Link Update
  source/content/guides/legacy-dashboard/09-add-client-site.md
  source/partials/transfer-ownership-billing-intro.md
  source/partials/transfer-ownership-billing-steps.md
  source/partials/view-invoices.md
Labels: Fix Content, First Contribution!

#7731 Remove WP Cerber from Optimize Site Traffic
  source/content/optimize-site-traffic.md
Labels: Fix Content, Pantheor

#7739 Logs Table Format Update
  source/content/logs.md
Labels: Fix Content, Pantheor

#7744 WP Plugins with Known Issues Divi Update
  source/content/plugins-known-issues.md
Labels: Fix Content, Pantheor

#7745 Source Code for Style Guide Redirects Table
  source/content/style-guide.md
Labels: Pantheor

#7748 Divi Plugin Et-Cache Update
  source/content/plugins-known-issues.md
Labels: Fix Content

#7749 Integrated Composer Hotfix Incompatibility
  source/content/guides/integrated-composer/08-ic-faq.md
  source/content/hotfixes.md
Labels: New Content, Pantheor

#7750 Indentation fix on simplesaml
  source/content/shibboleth-sso.md
Labels: Pantheor
