Repository pantheon-systems/documentation, pull requests merged in 2022-01, with the labels that each got.

#6964 Update the `search_api_pantheon` modules
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: Fix Content, Drupal

#6957 Create January Changelog
  source/changelogs/2022-01-01-January.md
Labels: Changelog

#6927 consider /docs/guides links in /docs/contributors
  src/templates/contributor.js
Labels: Fix Content

#6953 Specify that D9 sites must use IC for Autopilot
  source/content/drush-versions.md
  source/content/guides/autopilot/01-introduction.md
Labels: Fix Content, Pantheor, D9 on Pantheon

#6985 Revert "Update homebrew install repo."
  source/content/terminus/install.md
Labels: Fix Content

#6993 update d9 upstream to use drupal-recommended
  source/content/start-state.md
  source/partials/drupal-9/drupal-9-upstream-install.md
Labels: Fix Content

#6984 DOC-415: Update Autopilot screenshot with basic stats
  source/images/autopilot/autopilot-sites-overview.png
Labels: Fix Content

#6952 Cy's Wordfence section updates and added features:
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor, wp

#7000 Update wp-cfm.md
  source/content/wp-cfm.md
Labels: Pantheor, wp

#6956 Capture Drush 10's warning for keywords - exit due to redirect
  source/content/drush.md
Labels: New Content, Pantheor

#6929 6881: Align Upgrade from Drupal 8 to commands from drupal.org
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
Labels: Fix Content, D9 on Pantheon

#6962 Adding Access Ally to plugins with known issues, should add FS_METHOD constant.
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor, good first issue, wp

#6981 Clarify how to clear Divi cache
  source/content/plugins-known-issues.md
Labels: New Content, Pantheor

#6998 clarify support scope
  source/content/guides/support/01-scope.md
Labels: Fix Content
