Repository pantheon-systems/documentation, pull requests merged in 2022-05, with the labels that each got.

#7311 replace 404ing external link
  source/content/object-cache.md
Labels: Fix Content

#7312 DOC-626 Platform Email Notifications
  source/content/change-management.md
  source/content/guides/new-dashboard/04-personal-settings.md
  source/content/organizations.md
  source/partials/pantheon-email-notifications.md
Labels: New Content, Pantheor

#7292 [CMS-639] Change drupal-recommended to drupal-composer-managed when referring to upstream
  source/content/core-updates.md
  source/content/create-custom-upstream.md
  source/content/custom-upstream.md
  source/content/environment-specific-config-d9.md
  source/content/guides/build-tools/02-create-project.md
  source/content/guides/composer-convert.md
  source/content/guides/drupal-9-commerce.md
  source/content/guides/drupal-9-migration/03-upgrade-to-d9.md
  source/content/guides/drupal-9-migration/05-drupal-9-to-pantheon-composer-managed.md
  source/content/guides/integrated-composer.md
  source/content/guides/switch-drupal-recommended-upstream.md
  source/content/guides/upgrade-drupal-8-ic-to-drupal-9.md
  source/content/migrate-manual.md
  source/content/settings-php.md
  source/partials/drupal-8-convert-to-composer-from-empty.md
  source/partials/drupal-8-convert-to-composer.md
Labels: Pantheor, Drupal, Hold for Release

#7323 composer.lock should not be in the .gitignore
  source/partials/ic-upstream-structure.md
Labels: Fix Content, Pantheor

#7320 Update step to include dropdown
  source/content/guides/sendgrid.md
Labels: Fix Content

#7280 DOC-537 Update Redis Install Steps for IC and Drupal 9
  source/content/object-cache.md
Labels: Fix Content, Pantheor

#7330 Clarifying Steps for Transferring Ownership for New and Existing Sites
  source/content/add-client-site.md
  source/partials/add-supporting-org.md
  source/partials/invite-to-pay.md
  source/partials/transfer-ownership-billing-steps.md
Labels: Fix Content, Pantheor

#7099 Update Drupal Site Creation with Drush and Terminus
  source/changelogs/2017-03-01-March.md
  source/changelogs/2017-04-01-April.md
  source/content/drupal-9-configuration-management.md
  source/content/guides/drupal-commandline.md
  source/content/guides/edt/05-terminus-cli.md
  source/content/maintain-custom-upstream.md
  source/data/landings.yaml
  source/partials/additionalResources/lw2.md
Labels: Fix Content, Pantheor, High Priority, Redirect

#7343 add next/previous links
  source/content/terminus/install.md
Labels: Fix Content, Terminus

#7344 add agencies to intro page
  source/content/guides/autopilot/01-introduction.md
Labels: New Content, autopilot, New Dashboard

#7307 WordPress on Pantheon Quick Start Guide
  source/content/clear-caches.md
  source/content/drupal-launch-check.md
  source/content/guides/launch/07-launch-check.md
  source/content/guides/launch/08-next-steps.md
  source/content/guides/wordpress-pantheon/01-wp-pantheon.md
  source/content/guides/wordpress-pantheon/02-create-wp-site.md
  source/content/guides/wordpress-pantheon/03-migrate-existing-wp-site.md
  source/content/guides/wordpress-pantheon/04-wordpress-launch-check.md
  source/content/guides/wordpress-pantheon/05-plugins.md
  source/content/guides/wordpress-pantheon/06-wp-optimization.md
  source/content/guides/wordpress-pantheon/07-wordpress-developers.md
  source/content/guides/wordpress-pantheon/08-wp-security.md
  source/content/guides/wordpress-pantheon/09-wp-content-managment.md
  source/content/guides/wordpress-pantheon/10-troubleshooting.md
  source/content/migrate-wordpress-site-networks.md
  source/content/modules.md
  source/content/pantheon-workflow.md
  source/content/plugins.md
  source/content/sites.md
  source/content/wordpress-best-practices.md
  source/content/wordpress-launch-check.md
  source/data/landings.yaml
  source/images/choose-your-cms.png
  source/images/create-new-site.png
  source/images/create-test-environment.png
  source/images/development-mode.png
  source/images/new-site-deployment.png
Labels: New Doc, New Content, Redirect

#7348 WP Guide Cron and Quicksilver Clarifications
  source/content/guides/wordpress-pantheon/04-wordpress-launch-check.md
  source/content/guides/wordpress-pantheon/06-wp-optimization.md
  source/content/quicksilver.md
Labels: Fix Content, Pantheor

#7349 Clarify WP Guide Optimization Content
  source/content/guides/wordpress-pantheon/06-wp-optimization.md
Labels: Fix Content, Pantheor

#7350 Add Login Attack Info to WP Guide
  source/content/guides/wordpress-pantheon/08-wp-security.md
Labels: Fix Content, Pantheor

#7236 Autopilot Sync Environment Content
  source/content/guides/autopilot/01-introduction.md
  source/content/guides/autopilot/02-enable-autopilot.md
  source/content/guides/autopilot/05-troubleshoot.md
  source/images/autopilot-setup-wizard-schedule-step.png
  source/images/autopilot/Turn-off-autopilot.png
  source/images/autopilot/autopilot-drush-and-ic-compatibility.jpg
  source/images/autopilot/autopilot-setup-wizard-schedule-step.png
  source/images/autopilot/autopilot-site-compatibility.jpg
  static/images/Autopilot - Site Compatibility.jpg
  static/images/autopilot-setup-wizard-schedule.png
Labels: New Content, autopilot

#7351 WP Guide Image Update
  source/content/guides/wordpress-pantheon/02-create-wp-site.md
  source/images/create-new-site-updated.png
  source/images/create-new-site.png
  source/images/create-test-environment-updated.png
  source/images/create-test-environment.png
  source/images/development-mode-pantheon-updated.png
  source/images/development-mode.png
  static/images/create-new-site-updated.png
Labels: Fix Content

#7353 May changelog addition
  source/changelogs/2022-05-01.md
Labels: Changelog

#7352 Update documentation to primarily address D9
  source/content/drupal-cache.md
  source/images/d8-cache-config.png
  source/images/d9-aggregate-css-js.png
  source/images/d9-cache-config.png
Labels: Pantheor

#6184 Add information about Jetpack
  source/content/plugins-known-issues.md
  source/content/wordpress-best-practices.md
  source/data/contributor.yaml
  source/partials/jetpack-enable-xmlrpc.md
Labels: New Content, Pantheor, wp

#7364 Add known issue regarding merge conflict with WP 6.0 twentytwentytwo theme
  source/content/wordpress-known-issues.md
Labels: New Content, Pantheor

#7367 Remove WP-CORS from Platform Considerations
  source/content/platform-considerations.md
Labels: Fix Content, Pantheor

#7369 Clarify Enivronment Specific Undo Git Commit Steps
  source/content/undo-commits.md
Labels: Fix Content, Pantheor

#7370 add review date to versions table
  source/content/php-versions.md
Labels: New Content

#7368 Reference correct branch in merge conflict docs
  source/content/git-resolve-merge-conflicts.md
Labels: Fix Content, Pantheor

#7327 [CMS-707] Pantheon Upstream release notes
  source/content/start-states/wordpress.md
  src/styles/global.scss
Labels: New Doc, New Content

#7339 DOC-306 New Wordpress Composer Guide
  source/content/guides/composer-convert-from-empty.md
  source/content/guides/composer-convert.md
  source/content/guides/composer.md
  source/content/guides/wordpress-composer/01-introduction.md
  source/content/guides/wordpress-composer/03-create-wp-site-composer-ci-auto-test.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
  source/data/landings.yaml
  static/images/autopilot-site-compatibility.jpg
Labels: New Content, wp
