Repository pantheon-systems/documentation, pull requests merged in 2023-07, with the labels that each got.

#8515 2023 July changelog
  source/changelogs/2023-07-01-July.md
Labels: Changelog

#8595 Update next-wp surrogate key caching recommendations
  source/content/guides/decoupled/wp-nextjs-frontend-starters/03-caching.md
Labels: Pantheor, decoupled-pre-ga

#8594 Autopilot Terminus Plugin
  source/content/guides/autopilot/01-introduction.md
  source/content/guides/autopilot/08-autopilot-faq.md
  source/content/terminus/08-directory.md
Labels: autopilot, Terminus

#8588 FES Robots and Indexing
  source/content/bots-and-indexing.md
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/06-robots-indexing.md
  source/content/guides/decoupled/wp-gatsby-frontend-starters/05-robots-indexing.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/06-robots-indexing.md
  source/content/partials/decoupled-nextjs-robots.md
Labels: New Doc, Pantheor, decoupled-pre-ga

#8586 Deprecated Upstream to the Latest Version of Drupal - temporarily set to draft (needs redirect)
  source/content/drupal-migration.md
  source/content/guides/drupal/drupal-hosted-deprecated-upstream/01-introduction.md
  source/content/guides/drupal/drupal-hosted-deprecated-upstream/03-prepare.md
  source/content/guides/drupal/drupal-hosted-deprecated-upstream/05-available-updates.md
  source/content/guides/drupal/drupal-hosted-deprecated-upstream/07-switch-drupal.md
  source/content/guides/drupal/drupal-hosted-deprecated-upstream/09-new-updates.md
  source/content/guides/drupal/drupal-hosted-deprecated-upstream/10-deploy.md
  source/content/guides/drupal/drupal-hosted-deprecated-upstream/11-troubleshooting.md
Labels: Drupal, Redirect

#8577 use yamlId
  gatsby-node.js
  src/components/contributors.js
  src/pages/contributors.js
  src/templates/contributor.js
  src/templates/doc.js
  src/templates/guide.js
  src/templates/resource.js
  src/templates/terminuspage.js
  src/templates/video.js
Labels: Fix Content, Features

#8600 FES wp-gatsby Plugin
  source/content/guides/decoupled/wp-gatsby-frontend-starters/02-create.md
Labels: Pantheor, decoupled-pre-ga

#8601 FES Build Content Restructuring
  source/content/guides/decoupled/drupal-backend-starters/03-build-details.md
  source/content/guides/decoupled/drupal-backend-starters/03-caching.md
  source/content/guides/decoupled/wp-backend-starters/03-build-details.md
  source/content/guides/decoupled/wp-backend-starters/03-caching.md
  source/content/partials/decoupled-build-info.md
Labels: Pantheor, decoupled-pre-ga, Redirect

#8604 [CMSP-514] remove EA notice for WP Multisite Search and Replace
  source/content/guides/multisite/06-search-replace.md
Labels: Pantheor

#8605 [CMSP-496] multisite workflows update
  source/content/guides/multisite/05-workflows.md
  source/content/guides/multisite/06-search-replace.md
Labels: Pantheor, wp

#8607 [CMSP-515] WP Multisite search and replace - add bedrock incompatibility known issue
  source/content/guides/multisite/06-search-replace.md
Labels: Pantheor, wp

#8611 adds a CODEOWNERS
  CODEOWNERS
Labels: Site

#8623 Remove note about activating wp-gatsby after installing WP
  source/content/guides/decoupled/wp-gatsby-frontend-starters/02-create.md
Labels: Pantheor, decoupled-pre-ga
