Repository pantheon-systems/documentation, pull requests merged in 2023-06, with the labels that each got.

#8468 [CMSP-333] Recommended WP plugins
  source/content/guides/wordpress-pantheon/05-plugins-recommended.md
  source/content/guides/wordpress-pantheon/06-plugins.md
  source/content/guides/wordpress-pantheon/07-wp-optimization.md
  source/content/guides/wordpress-pantheon/08-wordpress-developers.md
  source/content/guides/wordpress-pantheon/09-wp-security.md
  source/content/guides/wordpress-pantheon/10-wp-content-managment.md
  source/content/guides/wordpress-pantheon/11-troubleshooting.md
Labels: New Doc, Pantheor

#8483 Updated the s3 guide for WP
  source/content/guides/wordpress-developer/07-wordpress-s3.md
  source/images/guides/s3-access1.png
  source/images/guides/s3-access2.png
  source/images/guides/s3-access3.png
  source/images/guides/s3-create-p2.png
  source/images/guides/s3-create-p3.png
  source/images/guides/s3-create1.png
  source/images/guides/s3-create2.png
  source/images/guides/s3-create3.png
  source/images/guides/s3-create4.png
  source/images/s3-create-p1-edit.png
  source/images/s3-create-p1.png
  source/images/s3-step1.png
  source/images/s3-step2.png
Labels: New Content, Pantheor, wp

#8492 Support of plugins was unclear
  source/content/guides/wordpress-pantheon/05-plugins-recommended.md
Labels: Pantheor, wp

#8494 Updating to Terminus 3.2.1
  .gitignore
  source/content/terminus/10-supported-terminus.md
Labels: Pantheor, Terminus

#8491 Adding Google Cloud Storage Installation in WordPress
  source/content/guides/wordpress-developer/08-wordpress-gcs.md
  source/content/guides/wordpress-developer/10-wordpress-solr.md
  source/content/guides/wordpress-developer/11-wordpress-secrets-management.md
  source/images/guides/gcs-aa1.png
  source/images/guides/gcs-aa2.png
  source/images/guides/gcs-aa3.png
  source/images/guides/gcs11.png
  source/images/guides/gcs12.png
  source/images/guides/gcs13.png
  source/images/guides/gcs14.png
  source/images/guides/gcs15.png
  source/images/guides/gcs16.png
  source/images/guides/gcs17-edit.png
  source/images/guides/gcs17.png
Labels: New Doc, Pantheor, wp

#8472 DOCO-1022 FES Non-Official Framework Examples
  source/content/guides/decoupled/no-starter-kit/04-any-framework.md
Labels: New Content, decoupled-pre-ga

#8495 [UpdateTool - Terminus Information] Update commands and releases to version 3.2.1.
  source/content/terminus/02-install.md
  source/data/commands.json
  source/data/terminusReleases.json
Labels: Terminus

#8493 2023 June changelog
  source/changelogs/2023-06-01-June.md
Labels: Changelog

#8501 [UpdateTool - Terminus Information] Update commands and releases to version 3.2.1.
  source/data/terminusReleases.json
Labels: Terminus

#8503 DOCO-1044 FES EA Link
  source/content/guides/decoupled/overview/01-introduction.md
Labels: Pantheor, decoupled-pre-ga

#8499 DOCO-1043 FES Multidev
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/02-create.md
  source/content/guides/decoupled/overview/02-considerations.md
  source/content/guides/decoupled/overview/06-fes-multidev.md
  source/content/guides/decoupled/overview/07-support.md
  source/content/guides/decoupled/overview/08-faq.md
  source/content/guides/decoupled/overview/09-troubleshooting.md
  source/content/guides/decoupled/wp-gatsby-frontend-starters/02-create.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/02-create.md
  source/content/partials/decoupled-build-info.md
Labels: New Doc, decoupled-pre-ga

#8506 [CMSO-1480] New Manage dependencies in your custom upstream page.
  source/content/guides/custom-upstream/01-custom-upstream.md
  source/content/guides/custom-upstream/02-create-custom-upstream.md
  source/content/guides/custom-upstream/03-manage-dependencies-custom-upstream.md
  source/content/guides/custom-upstream/04-edit-custom-upstream.md
  source/content/guides/custom-upstream/05-delete-custom-upstream.md
  source/content/guides/custom-upstream/06-maintain-custom-upstream.md
  source/content/guides/custom-upstream/07-switch-custom-upstream.md
  source/content/guides/custom-upstream/08-test-custom-upstream.md
  source/content/guides/custom-upstream/09-troubleshooting.md
  source/content/guides/integrated-composer/05-ic-upstreams.md
  source/content/partials/upstream-management-dependencies.md
Labels: New Doc, Pantheor

#8507 DOCO-1047 Drupal IC Steps
  source/content/upgrade-drupal-8-ic-to-drupal-9.md
Labels: Fix Content, First Contribution!

#8511 fix link and md: Drupal from dist
  source/content/drupal-from-dist.md
  source/data/landings.yaml
Labels: Fix Content, Pantheor

#8519 DOCO-1053 Update Code Link
  source/content/guides/backups/01-introduction.md
  source/content/guides/backups/05-code-archives-backups-log.md
  source/content/guides/backups/06-faqs-backups.md
  source/content/guides/filesystem/01-introduction.md
  source/content/guides/git/02-git-config.md
  source/content/guides/git/05-undo-commits.md
  source/content/guides/git/08-troubleshooting.md
  source/content/guides/launch/01-introduction.md
  source/content/guides/local-development/11-visual-studio-code.md
  source/content/guides/mariadb-mysql/08-mysql-slow-log.md
  source/content/guides/multidev/05-edit-multidev.md
  source/content/guides/php/04-wp-config-php.md
  source/content/guides/quickstart/08-ui-changes.md
  source/content/guides/sftp/02-sftp-connection-info.md
  source/content/guides/support/01-scope.md
  source/content/guides/wordpress-pantheon/04-wordpress-launch-check.md
  source/content/migrate-manual.md
  source/content/pantheon-workflow.md
  source/content/partials/remove-addons/wp-solr.md
  source/content/symlinks-assumed-write-access.md
  source/data/landings.yaml
Labels: Fix Content, Pantheor, Redirect

#8522 DOCO-1054 Dynamic Entity Reference
  source/content/modules-known-issues.md
Labels: Pantheor, Drupal

#8533 FES Workspaces
  source/content/guides/decoupled/overview/02-considerations.md
Labels: decoupled-pre-ga

#8535 Add Site Dashboard Update
  source/content/add-site-dashboard.md
Labels: Pantheor

#8539 DOCO-1057 Global CDN Typo
  source/content/guides/global-cdn/03-global-cdn-caching.md
Labels: Pantheor

#8543 Traffic IP Ban
  source/content/guides/account-mgmt/traffic/05-remedy.md
Labels: Pantheor

#8542 New Relic Multidev
  source/content/guides/account-mgmt/workspace-sites-teams/07-teams.md
  source/content/guides/new-relic/06-troubleshoot-new-relic.md
Labels: Pantheor

#8549 [CMSO-1162] New Relic is now supported on PHP 8.2.
  source/content/guides/php/01-introduction.md
Labels: Pantheor

#8552 Linkfix 2023 06
  source/content/cache-control.md
  source/content/guides/git/08-troubleshooting.md
  source/content/guides/local-development/11-visual-studio-code.md
  source/content/guides/platform-considerations/01-introduction.md
  source/content/visual-studio-code.md
  source/content/wordpress-known-issues.md
Labels: Fix Content

#8290 DOCO-810 Purge Surrogate Cache Decoupled
  source/content/guides/decoupled/drupal-backend-starters/01-introduction.md
  source/content/guides/decoupled/drupal-backend-starters/02-create.md
  source/content/guides/decoupled/drupal-backend-starters/04-caching.md
  source/content/guides/decoupled/drupal-backend-starters/05-build-hooks.md
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/01-introduction.md
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/02-create.md
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/03-caching.md
  source/content/guides/decoupled/no-starter-kit/01-introduction.md
  source/content/guides/decoupled/no-starter-kit/02-create.md
  source/content/guides/decoupled/no-starter-kit/03-import-repo.md
  source/content/guides/decoupled/wp-backend-starters/01-introduction.md
  source/content/guides/decoupled/wp-backend-starters/02-create.md
  source/content/guides/decoupled/wp-backend-starters/04-caching.md
  source/content/guides/decoupled/wp-backend-starters/05-build-hooks.md
  source/content/guides/decoupled/wp-gatsby-frontend-starters/01-introduction.md
  source/content/guides/decoupled/wp-gatsby-frontend-starters/02-create.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/01-introduction.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/02-create.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/03-caching.md
  source/content/partials/decoupled-caching.md
  source/data/landings.yaml
Labels: decoupled-pre-ga

#8558 Typo in config filename
  source/content/guides/mariadb-mysql/06-hyperdb.md
Labels: Pantheor

#8565 Dashboard Overview Fix
  source/content/dashboard.md
Labels: Pantheor

#8559 Update 02-create-custom-upstream.md
  source/content/guides/custom-upstream/02-create-custom-upstream.md
Labels: Pantheor

#8563 FES Build and Output Settings
  source/content/guides/decoupled/overview/03-site-options.md
  source/content/guides/decoupled/overview/05-manage-settings.md
Labels: decoupled-pre-ga

#8566 [BUGS-6329] Document platform limitation.
  source/content/guides/drush/08-drush-known-limitations.md
Labels: Pantheor, Drupal

#8569 Update 02-wordpress-composer-managed.md
  source/content/guides/wordpress-composer/pre-ga/02-wordpress-composer-managed.md
Labels: Pantheor

#8547 Reset Password Drush
  source/content/resetting-passwords.md
Labels: First Contribution!

#8568 FES Trigger Builds
  source/content/guides/decoupled/overview/05-manage-settings.md
  source/content/partials/decoupled-build-info.md
Labels: decoupled-pre-ga

#8571 WordPress Composer Require Update
  source/content/guides/wordpress-composer/03-create-wp-site-composer-ci-auto-test.md
  source/content/guides/wordpress-composer/pre-ga/02-wordpress-composer-managed.md
Labels: Pantheor

#8263 DOCO-920 Autopilot Custom Scheduling
  source/content/guides/autopilot/03-enable-autopilot.md
  source/content/guides/autopilot/08-autopilot-faq.md
  source/partials/autopilot/custom-scheduling.md
Labels: autopilot

#8418 Autopilot: Bulk Activate & Configuration Changes
  source/content/guides/autopilot/03-enable-autopilot.md
  source/images/autopilot/bulk-actions.png
  source/images/autopilot/bulk-activate.png
Labels: Fix Content, autopilot

#8567 Deconstructing Quick Start
  source/content/add-site-dashboard.md
  source/content/connection-modes.md
  source/content/crisis-response-upstream.md
  source/content/drupal-10.md
  source/content/drupal.md
  source/content/guides/getstarted/03-signup.md
  source/content/guides/integrated-composer/02-dependencies.md
  source/content/guides/launch/01-introduction.md
  source/content/guides/launch/02-create-site-launch.md
  source/content/guides/local-development/05-lando-wordpress.md
  source/content/guides/local-development/07-wordpress-phpstorm.md
  source/content/guides/local-development/11-visual-studio-code.md
  source/content/guides/mariadb-mysql/10-mariadb-mysql-faq.md
  source/content/guides/quickstart/01-introduction.md
  source/content/guides/quickstart/02-user-dashboard.md
  source/content/guides/quickstart/03-create-new-site.md
  source/content/guides/quickstart/04-workflow.md
  source/content/guides/quickstart/05-create-test-live.md
  source/content/guides/quickstart/06-clone-live-to-dev.md
  source/content/guides/quickstart/08-ui-changes.md
  source/content/guides/quickstart/09-code-changes.md
  source/content/guides/quickstart/10-next-steps.md
  source/content/guides/woocommerce/01-introduction.md
  source/content/guides/woocommerce/02-store-setup.md
  source/content/guides/wordpress-configurations/01-introduction.md
  source/content/guides/wordpress-configurations/09-sendgrid-wordpress-wp-mail-smtp.md
  source/content/guides/wordpress-developer/03-wordpress-development-versions.md
  source/content/guides/wordpress-pantheon/02-create-wp-site.md
  source/content/metrics.md
  source/content/pantheon-workflow.md
  source/content/partials/drupal/troubleshooting-general.md
  source/content/partials/migrate/create-new-drupal-site.md
  source/content/partials/terminus/connection-set.md
  source/content/plugins-known-issues.md
  source/content/required-reading.md
  source/content/sign-up.md
  source/content/style-guide.md
  source/content/symlinks-assumed-write-access.md
  source/content/trainers.md
  source/content/visual-studio-code.md
  source/content/workflows.md
  source/data/home.yaml
  source/data/landings.yaml
Labels: Redirect

#8573 Improve Clarity of Quicksilver Install Scripts page
  source/content/guides/quicksilver/02-install-script.md
Labels: Pantheor

#8578 FES Next.js 13 App Router
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/03-caching.md
  source/content/guides/decoupled/overview/02-considerations.md
  source/content/guides/decoupled/overview/09-troubleshooting.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/03-caching.md
Labels: decoupled-pre-ga

#8581 FES Known Issues Icons
  source/content/guides/decoupled/overview/01-introduction.md
  source/content/guides/decoupled/overview/09-troubleshooting.md
Labels: Pantheor, decoupled-pre-ga

#8582 [BUGS-6308] Updates to Github Actions section of terminus auth scripting guide.
  source/content/terminus/05-scripting.md
  source/content/terminus/ci/github-actions.md
Labels: Pantheor, Terminus

#8488 [CMSP-268] Update WordPress Multisite Search & Replace functionality documentation
  source/content/guides/multisite/06-search-replace.md
Labels: Pantheor, wp, Hold for Release

#8589 Removed step from Next Drupal caching code sample that is no longer necessary
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/03-caching.md
Labels: Pantheor, decoupled-pre-ga

#8523 DOCO-1045 Drupal 10 Creation
  source/content/drupal-10.md
Labels: drupal-10

#8590 8589 FES Drupal Caching
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/03-caching.md
Labels: Pantheor, decoupled-pre-ga
