Repository pantheon-systems/documentation, pull requests merged in 2023-05, with the labels that each got.

#8385 DOCO-1004 AGCDN Custom Certs
  source/content/custom-certificates.md
Labels: Pantheor

#8391 Drush 11 Error
  source/content/guides/drush/08-drush-known-limitations.md
  source/content/guides/drush/09-troubleshoot-drush.md
Labels: New Content

#8395 [CMSO-1398] Add details to plugin release.
  source/content/terminus/07-create.md
Labels: Pantheor

#8400 8397 main
  source/content/guides/decoupled/no-starter-kit/04-any-framework.md
Labels: Pantheor, decoupled-pre-ga

#8372 First Contribution Stickers
  .github/workflows/welcome.yml
Labels: First Contribution!

#8405 DOCO-1015 Add Site Updated Link
  source/content/add-site.md
Labels: Pantheor

#8408 Fix asterisk usage for footnotes
  source/content/guides/php/01-introduction.md
Labels: Pantheor

#8412 Update Edge Integrations WordPress - Broken Image
  source/content/guides/edge-integrations/04-wordpress-sdk.md
Labels: Fix Content, Pantheor

#8414 adds the removed WP update line back to the changelog
  source/changelogs/2023-05-01-May.md
Labels: Pantheor

#8415 replace edt with learning link
  source/data/landings.yaml
Labels: Fix Content, Pantheor

#8411 Update WPMS instalation
  source/content/guides/multisite/03-config.md
  source/images/wp-network-config.png
Labels: New Content, Pantheor, wp

#8417 Further update the WPMS gui installation
  source/content/guides/multisite/03-config.md
  source/images/wp-network-config-last.png
  source/images/wp-network-config.png
Labels: New Content, Pantheor, wp

#8423 DOCO-1020 Drupal Upstream Update
  source/partials/drupal-apply-upstream-updates.md
Labels: Pantheor

#8250 Detailed Product Overview: Autopilot
  source/content/overview/autopilot.md
  source/images/autopilot/autopilot-sites-overview.png
Labels: New Content

#8410 DOCO-1017 FES Build Content Updates
  source/content/guides/decoupled/overview/02-considerations.md
  source/partials/decoupled-build-info.md
Labels: New Content, decoupled-pre-ga

#8424 Update-collaborative-development
  source/content/guides/git/03-collaborative-development.md
  source/images/create-git-reponew.png
Labels: Pantheor

#8428 DOCO-978 FES Remove Root Directory
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/02-create.md
  source/content/guides/decoupled/no-starter-kit/02-create.md
  source/content/guides/decoupled/no-starter-kit/03-import-repo.md
  source/content/guides/decoupled/no-starter-kit/04-any-framework.md
  source/content/guides/decoupled/overview/05-manage-settings.md
  source/content/guides/decoupled/wp-gatsby-frontend-starters/02-create.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/02-create.md
  source/images/fes-build-output-settings.png
  source/partials/decoupled-site-creation-options.md
Labels: decoupled-pre-ga

#8419 lychee link checker github action
  .github/workflows/pr-links.yml
Labels: Site, Site: Feature Request

#8447 DOCO-1023 FES Docs Landing Tile
  source/data/home.yaml
  source/docs/assets/fonts/pan-docs-icons/font/pan-docs.svg?30620939#pan-docs
Labels: decoupled-pre-ga

#8437 DOCO-1018 FES Content Preview
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/05-content-preview.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/05-content-preview.md
  source/images/decoupled-preview-env-variables.png
  source/images/decoupled-wp-preview-env-variables.png
Labels: New Content, decoupled-pre-ga

#8452 Clarify node version requirements to reflect current state
  source/content/guides/decoupled/overview/02-considerations.md
Labels: Pantheor, decoupled-pre-ga

#8420 Remove EA from Rate Limiting
  source/content/guides/agcdn/01-introduction.md
  source/content/guides/agcdn/03-agcdn-wafio.md
Labels: CDN

#8450 Alternate SMTP port for AWS SES
  source/content/email.md
Labels: Fix Content

#8457 SMTP-Update
  source/content/email.md
Labels: Fix Content

#8245 Detailed Product Overview: New Relic
  source/content/overview/newrelic.md
  source/content/overview/products.md
Labels: New Content

#8249 Detailed Product Overview: Custom Upstreams
  source/content/overview/custom-upstreams.md
  source/images/add-custom-upstream.png
  source/images/manage-custom-upstreams.png
  source/images/upstreams-foundations4.svg
Labels: New Content

#8463 DOCO-1031 Autopilot VRT Process
  source/content/guides/autopilot/02-autopilot-preconfiguration.md
  source/content/guides/autopilot/03-enable-autopilot.md
  source/content/guides/autopilot/04-tests-results.md
  source/content/guides/autopilot/06-autopilot-deactivate.md
  source/content/guides/autopilot/07-troubleshoot.md
Labels: Pantheor, autopilot

#8464 Add new terminus vesion.
  source/content/terminus/10-supported-terminus.md
Labels: Pantheor, Terminus

#8459 Suggesting a new page for WP secrets management
  source/content/guides/wordpress-developer/10-wordpress-secrets-management.md
  source/content/guides/wordpress-pantheon/08-wp-security.md
Labels: Pantheor, Terminus

#8466 [UpdateTool - Terminus Information] Update commands and releases to version 3.2.0.
  source/content/terminus/02-install.md
  source/data/commands.json
  source/data/terminusReleases.json
Labels: Terminus

#8473 DOCO-1032 Security Landing Page
  source/content/drupal-security-patches.md
  source/content/guides/domains/08-domain-hijacking.md
  source/content/guides/platform-considerations/03-platform-security.md
  source/content/guides/secure-development/01-introduction.md
  source/content/guides/sso/01-introduction.md
  source/content/guides/wordpress-developer/04-xml-rpc-attacks.md
  source/content/guides/wordpress-pantheon/08-wp-security.md
  source/content/lockr.md
  source/data/landings.yaml
Labels: New Doc

#8474 Remove Old Local Development File
  source/content/local-development.md
Labels: Redirect

#8477 DOCO-1035 Solr8 Verification
  source/content/guides/solr-drupal/02-solr-drupal.md
Labels: Fix Content, Pantheor, Drupal

#8479 DOCO-1036 Quicksilver Variables
  source/content/guides/quicksilver/04-variables.md
Labels: Fix Content, Pantheor

#8481 Build Tools Custom Theme
  source/content/guides/build-tools/08-custom-theme.md
Labels: Fix Content, Pantheor

#8482 link fix: /manage to /site-plans
  source/changelogs/2016-04-01-April.md
  source/content/guides/account-mgmt/plans/07-site-plans.md
  source/content/guides/account-mgmt/plans/11-faq.md
  source/data/landings.yaml
Labels: Site, Redirect

#8416 [CMSP-348] Add WMSP search-replace subdirectory conversion
  source/content/guides/multisite/06-search-replace.md
Labels: Pantheor, wp, Hold for Release
