Repository pantheon-systems/documentation, pull requests merged in 2024-11, with the labels that each got.

#9290 D7 LTS Usage and Requirements
  source/content/supported-drupal.md
Labels: Type: New Content, Topic: Drupal, Process: Hold for Release

#9293 npm cleanup
  gatsby-config.js
  package-lock.json
  package.json
Labels: dependencies

#9295 86 GITHUB_EMBED
  README.md
  gatsby-config.js
  package-lock.json
  package.json
  source/content/core-updates.md
  source/content/guides/backups/02-access-backups.md
  source/content/guides/local-development/02-configuration.md
  source/content/guides/logs-pantheon/04-automate-log-downloads.md
  source/content/guides/php/04-wp-config-php.md
  source/content/local-dns-cache.md
  source/content/partials/migrate/drupal-addfiles.md
  source/content/terminus/03-examples.md
Labels: dependencies, Process: High Priority, Topic: Security

#9294 Fix width of search bar in the Terminus Command directory
  src/components/commands/index.js
Labels: Site: Design

#9298 Release Note: PCC Beta
  source/images/Web-ContentPublisher.gif
  source/releasenotes/2024-11-12-content-publisher-beta.md
Labels: Type: release-notes

#9299 Clarify what counts for known bots, incognito bots and load testing traffic limits
  source/content/guides/account-mgmt/traffic/01-introduction.md
Labels: Topic: CDN, Source: Pantheor, Topic: billing

#9304 Updated column Counts for Analytics
  source/content/guides/account-mgmt/traffic/01-introduction.md
Labels: Source: Pantheor, Topic: billing

#9305 [Jeli 93] Search API Pantheon 8.2.0
  source/releasenotes/2024-11-14-solr-module-8-1-x.md
Labels: Type: release-notes

#9328 [SITE-2833] PHP 8.1+ patch releases
  source/releasenotes/2024-11-26-php-81-82-83.md
Labels: Type: release-notes

#9330 Pantheon Secrets local config
  source/content/guides/secrets/07-local.md
Labels: Type: Fix Content, Topic: Secrets
