Repository pantheon-systems/documentation, pull requests merged in 2024-05, with the labels that each got.

#8980 Create 2024-05-02-Synthetics-Check-Limits.md
  source/releasenotes/2024-05-02-Synthetics-Check-Limits.md
Labels: release-notes

#8950 [LOPS-1952] Recommend PHP 8.3
  source/content/guides/php/01-introduction.md
Labels: Hold for Release

#8953 [CMSP-993 CMSP-1055] New default cache TTL changes
  source/content/guides/frontend-performance/04-caching.md
  source/content/guides/global-cdn/02-experience-protection.md
  source/content/guides/global-cdn/03-global-cdn-caching.md
  source/content/guides/wordpress-configurations/05-wordpress-cache-plugin.md
  source/content/guides/wordpress-pantheon/06-plugins.md
  source/releasenotes/2024-04-25-pantheon-mu-plugin-1-4-0-update.md
Labels: Pantheor

#8987 [CMSP-1074] WP 6.5.3 release note
  source/releasenotes/2024-05-07-wordpress-6-5-3-update.md
Labels: Pantheor, WordPress, release-notes

#8995 [CMSP-1141] Release Note: PHP 8.2.19 8.3.7
  source/releasenotes/2024-05-14-php-82-83.md
Labels: release-notes

#8985 [CMSP-940] Remove PHP < 7.2 from 'supported' (Merge 15 May)
  source/content/guides/php/01-introduction.md
Labels: Hold for Release

#9000 Update 2024-04-26-ea-workflow-logs.md
  source/content/workflow-logs.md
  source/images/dashboard/new-dashboard/workflow-logs/status-indicator.png
  source/images/dashboard/new-dashboard/workflow-logs/status-indicators.png
  source/releasenotes/2024-04-26-ea-workflow-logs.md
Labels: Fix Content

#8997 load balancing release note
  source/releasenotes/2024-05-15-load-balancing.md
Labels: release-notes

#8990 Create 2024-05-10-sendgrid-transactional-emails.md
  source/images/wp-forgot-password-form.png
  source/releasenotes/2024-05-10-sendgrid-transactional-emails.md
Labels: release-notes
