Repository pantheon-systems/documentation, pull requests merged in 2024-09, with the labels that each got.

#9199 [SITE-1957] release note for wpcm 1.32.2
  source/releasenotes/2024-09-03-wordpress-composer-managed-1-32-2.md
Labels: Type: release-notes

#9202 SITE-1604: PHP 8.2.23 & 8.3.11
  source/releasenotes/2024-09-04-php-82-83.md
Labels: Type: release-notes

#9201 561 Error hard to diagnose
  source/content/guides/errors-and-server-responses/03-5xx-errors.md
Labels: Type: New Content, Source: Pantheor, Topic: Code Structure

#9191 Emergency tickets instead of on-call tickets
  source/content/addons/object-cache/howto/wordpress.md
  source/content/cache-control.md
  source/content/certification/study-guide-cms/02-platform.md
  source/content/guides/account-mgmt/billing/01-introduction.md
  source/content/guides/agcdn/04-submit-request.md
  source/content/guides/decoupled/overview/07-support.md
  source/content/guides/disaster-recovery/01-introduction.md
  source/content/guides/disaster-recovery/03-site-goes-down.md
  source/content/guides/disaster-recovery/04-incident-remediation.md
  source/content/guides/support/01-scope.md
  source/content/guides/support/02-contact-support.md
  source/content/guides/support/07-faq.md
  source/content/horizontal-scalability.md
  source/content/tax-exempt-status.md
  source/images/dashboard/new-dashboard/diamond-support-workspace-dashboard.png
  source/images/dashboard/new-dashboard/platinum-support-site-dashboard.png
  source/releasenotes/2016-08-01-documentation.md
  source/releasenotes/2021-12-01-documentation.md
Labels: Type: Fix Content, Topic: Dashboard

#9133 Delete source/content/sftp.md
  source/content/sftp.md
Labels: Type: Quick Fix, Topic: About Docs/Pantheon

#9211 Removed Solr v8.0 mention from WordPress Pantheon Search guide
  source/content/guides/wordpress-developer/10-wordpress-solr.md
Labels: Type: Fix Content, Source: Pantheor, Topic: WordPress, Type: Quick Fix, Topic: Search/Solr

#9197 Diamond and Platinum customers exempt from domain validation
  source/content/guides/domains/05-custom-domains.md
  source/content/guides/launch/04-domains.md
  source/content/relaunch.md
  source/releasenotes/2024-09-12-domain-verification.md
Labels: Type: Fix Content, Process: Hold for Release, Type: release-notes, Topic: Security

#9219 Set published date with hash based timestamp
  gatsby-config.js
  source/releasenotes/2024-09-12-rss-bug-fix.md
Labels: Site: JavaScript

#9222 New Doc: Debug Local DNS Cache
  source/content/continuous-integration.md
  source/content/guides/git/08-troubleshooting.md
  source/content/local-dns-cache.md
Labels: Type: New Content, topic: CI

#9225 Minor copy edits
  source/content/local-dns-cache.md
Labels: Type: Quick Fix

#9177 TypeScript version of pds-toolkit-react
  package-lock.json
  source/releasenotescategories/releaseNoteCategories.json
  src/components/releaseNotePopoverCategorySelector.js
  src/components/releaseNotesPager.js
  src/templates/releaseNotesListing/index.js
  src/templates/releaseNotesListing/style.css
Labels: Process: Blocked, Site: Site Structure, dependencies, Type: release-notes

#9228 Add OpenSSH requirements to 02-install.md
  source/content/terminus/02-install.md
Labels: Topic: Terminus, Type: Quick Fix
