Repository pantheon-systems/documentation, pull requests merged in 2024-10, with the labels that each got.

#9156 Update 02-4xx-errors.md with 414 statusCode
  source/content/guides/errors-and-server-responses/02-4xx-errors.md
Labels: Type: New Content, Type: Quick Fix, topic: App Servers / Environments

#9241 D11 now available during site creation
  source/content/guides/getstarted/06-addsite.md
  source/content/partials/dashboard-site-creation-1.md
  source/content/supported-drupal.md
  source/images/create-new-site-cms-drupal-11crop.png
  source/images/create-new-site-cms-drupal.png
  source/releasenotes/2024-10-04-drupal-11-site-creation.md
Labels: Type: Fix Content, Topic: Drupal, Type: release-notes, Topic: Dashboard

#9243 copy edits to clarify functions (and links) for WordPress cache functions
  source/content/guides/wordpress-configurations/05-wordpress-cache-plugin.md
Labels: Type: Fix Content, Topic: WordPress

#9244 D7 Long-Term Support
  source/content/supported-drupal.md
  source/releasenotes/2024-10-08-drupal-7-lts.md
Labels: Type: New Content, Topic: Drupal, Process: Hold for Release, Type: release-notes

#9247 Recommend Pantheon Secrets instead of Lockr
  source/content/guides/quicksilver/02-install-script.md
  source/content/guides/quicksilver/05-asana.md
  source/content/guides/quicksilver/06-jira.md
  source/content/guides/quicksilver/07-trello.md
  source/content/guides/secrets/04-php.md
  source/content/guides/secure-development/04-private-paths.md
  source/content/guides/wordpress-developer/07-wordpress-s3.md
  source/content/guides/wordpress-developer/11-wordpress-secrets-management.md
  source/content/guides/wordpress-pantheon/09-wp-security.md
  source/content/integrations.md
  source/content/lockr.md
  source/content/pivotal-tracker.md
  source/data/landings.yaml
Labels: Source: Pantheor, Type: Quick Fix, Topic: Secrets

#9163 Add Prettier GitHub workflow
  .eslintrc
  .github/workflows/prettier.yml
  .prettierrc
  README.md
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.cjs
Labels: Site: Site Structure

#9251 Deprecate Edge Integrations docs
  source/content/guides/edge-integrations/01-introduction.md
  source/content/guides/edge-integrations/02-configuration-overview.md
  source/content/guides/edge-integrations/03-drupal-sdk.md
  source/content/guides/edge-integrations/04-wordpress-sdk.md
  source/content/guides/edge-integrations/05-analytics.md
  source/content/guides/fastly-pantheon/01-introduction.md
  source/content/modules.md
  source/content/products.md
  source/data/landings.yaml
Labels: Type: Fix Content, topic: Edge Integrations

#9254 Revert "Add Prettier GitHub workflow (#9163)"
  .eslintrc
  .github/workflows/prettier.yml
  .prettierrc
  README.md
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.cjs
Labels: Site: Site Structure

#9261 [SITE-988] Consolidate WPCM Custom Upstream documentation with the existing IC custom upstream documentation
  source/content/guides/integrated-composer/06-ic-upstreams.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
  source/content/partials/ic-upstream-structure.md
Labels: Type: Fix Content, Topic: WordPress

#9260 [SITE-988] Consolidate WordPress Composer multisite config doc with the existing Multisite Configuration doc
  source/content/guides/integrated-composer/06-ic-upstreams.md
  source/content/guides/multisite/03-config.md
  source/content/guides/wordpress-composer/04-multisite-configuration.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
  source/content/partials/ic-upstream-structure.md
Labels: Type: Fix Content, Topic: WordPress

#9236 [SITE-988] Consolidate WordPress Composer Build Tools docs with the regular Build Tools docs
  source/content/guides/build-tools/02-create-project.md
  source/content/guides/integrated-composer/06-ic-upstreams.md
  source/content/guides/multisite/03-config.md
  source/content/guides/wordpress-composer/03-create-wp-site-composer-ci-auto-test.md
  source/content/guides/wordpress-composer/04-multisite-configuration.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
  source/content/partials/ic-upstream-structure.md
Labels: Type: Fix Content, Topic: WordPress

#9235 [SITE-988] Consolidate WordPress Composer guide into Integrated Composer docs
  source/content/drupal.md
  source/content/guides/build-tools/02-create-project.md
  source/content/guides/integrated-composer/02-create.md
  source/content/guides/integrated-composer/02-dependencies.md
  source/content/guides/integrated-composer/03-dependencies.md
  source/content/guides/integrated-composer/03-private-repo-package.md
  source/content/guides/integrated-composer/04-one-click-updates.md
  source/content/guides/integrated-composer/05-ic-upstreams.md
  source/content/guides/integrated-composer/06-ic-support.md
  source/content/guides/integrated-composer/06-ic-upstreams.md
  source/content/guides/integrated-composer/07-ic-support.md
  source/content/guides/integrated-composer/08-ic-troubleshooting.md
  source/content/guides/multisite/03-config.md
  source/content/guides/wordpress-composer/02-wordpress-composer-managed.md
  source/content/guides/wordpress-composer/03-create-wp-site-composer-ci-auto-test.md
  source/content/guides/wordpress-composer/04-multisite-configuration.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
  source/content/partials/ic-upstream-structure.md
  source/content/supported-drupal.md
Labels: Type: Fix Content, Topic: WordPress

#9234 [SITE-988] consolidate the Composer Guide, Integrated Composer and WPCM introductions into one doc
  source/content/composer.md
  source/content/drupal.md
  source/content/guides/build-tools/02-create-project.md
  source/content/guides/custom-upstream/02-create-custom-upstream.md
  source/content/guides/integrated-composer/01-introduction.md
  source/content/guides/integrated-composer/02-create.md
  source/content/guides/integrated-composer/02-dependencies.md
  source/content/guides/integrated-composer/03-dependencies.md
  source/content/guides/integrated-composer/03-private-repo-package.md
  source/content/guides/integrated-composer/04-one-click-updates.md
  source/content/guides/integrated-composer/05-ic-upstreams.md
  source/content/guides/integrated-composer/06-ic-support.md
  source/content/guides/integrated-composer/06-ic-upstreams.md
  source/content/guides/integrated-composer/07-ic-support.md
  source/content/guides/integrated-composer/08-ic-troubleshooting.md
  source/content/guides/multisite/03-config.md
  source/content/guides/wordpress-composer/01-introduction.md
  source/content/guides/wordpress-composer/02-wordpress-composer-managed.md
  source/content/guides/wordpress-composer/03-create-wp-site-composer-ci-auto-test.md
  source/content/guides/wordpress-composer/04-multisite-configuration.md
  source/content/guides/wordpress-composer/06-wordpress-ic.md
  source/content/partials/ic-upstream-structure.md
  source/content/supported-drupal.md
Labels: Type: Fix Content, Topic: WordPress

#9265 Fix markdown
  source/content/guides/logs-pantheon/04-automate-log-downloads.md
Labels: Type: Quick Fix

#9269 Legacy dashboard site creation: Drupal 10 & Drupal 11
  source/content/partials/dashboard-site-creation-1.md
Labels: Topic: Drupal, Type: Quick Fix, Topic: Dashboard

#9256 Add how to update/manage plugins from external repositories doc
  source/content/guides/wordpress-configurations/06-wordpress-custom-code.md
  source/content/guides/wordpress-configurations/08-installing-updating-from-third-party-sources.md
  source/images/wordpress-configurations/08-git-updater-additions.png
  source/images/wordpress-configurations/08-git-updater-admin.png
  source/images/wordpress-configurations/08-git-updater-api-addons.png
  source/images/wordpress-configurations/08-git-updater-install-plugin.png
Labels: Topic: WordPress

#9270 [BUGS-6686] GF Line Endings
  source/content/plugins-known-issues.md
  source/releasenotes/2024-10-18-gravityforms-bug-fix.md
Labels: Process: Hold for Release, Type: release-notes

#9275 Remove stale blog links
  source/content/agency-tips.md
  source/content/guides/new-relic/01-introduction.md
  source/content/guides/new-relic/03-monitor-new-relic.md
  source/content/guides/new-relic/06-troubleshoot-new-relic.md
  source/content/guides/pagerduty/02-monitor.md
  source/content/guides/pagerduty/04-notify.md
Labels: Source: Marketing, Type: Quick Fix

#9278 Update screenshot and notes for Pantheon Page Cache configuration docs
  source/content/guides/wordpress-configurations/05-wordpress-cache-plugin.md
  source/images/wordpress-configurations/05-pantheon-page-cache-admin.png
Labels: Type: Fix Content, Topic: WordPress, Topic: Caching

#9257 WP S3 plugin needs full package with vendor folder
  source/content/guides/wordpress-developer/07-wordpress-s3.md
Labels: Type: Fix Content, Topic: WordPress

#9272 [UpdateTool - Terminus Information] Update commands and releases to version 3.6.0.
  source/data/terminusReleases.json
Labels: Process: Hold for Release, Topic: Terminus

#9255 Re-add Prettier GitHub workflow #9163
  .eslintrc
  .github/workflows/prettier.yml
  .prettierrc
  README.md
  package-lock.json
  package.json
  prettier.config.cjs
Labels: Site - CI

#9047 Nested sidebar nav for certification and Front-End Sites section
  .github/workflows/vitest.yml
  README.md
  package-lock.json
  package.json
  source/content/certification/about.md
  source/content/certification/exam.md
  source/content/guides/decoupled/drupal-backend-starters/01-introduction.md
  source/content/guides/decoupled/drupal-nextjs-frontend-starters/01-introduction.md
  source/content/guides/decoupled/no-starter-kit/01-introduction.md
  source/content/guides/decoupled/overview/01-introduction.md
  source/content/guides/decoupled/wp-backend-starters/01-introduction.md
  source/content/guides/decoupled/wp-gatsby-frontend-starters/01-introduction.md
  source/content/guides/decoupled/wp-nextjs-frontend-starters/01-introduction.md
  src/components/omniSidebarNav/allGuidesQuery.js
  src/components/omniSidebarNav/getOmniItems.js
  src/components/omniSidebarNav/helpers.js
  src/components/omniSidebarNav/helpers.test.js
  src/components/omniSidebarNav/index.js
  src/components/omniSidebarNav/style.css
  src/components/omniSidebarNav/submenus/certification.js
  src/components/omniSidebarNav/testfixtures/activeSection.testfixture.js
  src/components/omniSidebarNav/testfixtures/allGuides.testfixture.js
  src/components/omniSidebarNav/testfixtures/guideDirectoryItems.textfixture.js
  src/components/omniSidebarNav/testfixtures/omniItems.textfixture.js
  src/components/omniSidebarNav/testfixtures/readme.md
  src/templates/certificationpage.js
  src/templates/guide.js
  tests/package.json
  tests/playwright-tests/visuals.spec.ts
  tests/readme.md
  vite.config.ts
Labels: Site: Site Structure

#9282 SITE-2576: PHP 8.2.25 & 8.3.13
  source/releasenotes/2024-10-25-php-82-83.md
Labels: Type: release-notes

#9279 Audit DDEV setup guide for accuracy and clarity
  source/content/guides/local-development/04-ddev.md
Labels: Type: Fix Content, Topic: Drupal, Topic: Local Development

#9283 Add Prettier pre-push hook
  .github/hooks/pre-push
  README.md
Labels: Site - CI

#9284 [SITE-1947] software version status page block - release note
  source/images/software-version-status.png
  source/releasenotes/2024-10-29-software-version-status.md
Labels: Type: release-notes, Topic: Dashboard

#9286 Fix broken links - report doc issue template
  src/components/github/index.js
Labels: Site: JavaScript

#9287 typo fix in dns-propagation.md
  source/content/partials/dns-prep.md
  source/content/partials/dns-propagation.md
Labels: Type: Quick Fix, Topic: DNS
