Repository pantheon-systems/documentation, pull requests merged in 2024-08, with the labels that each got.

#9140 Update 04-incident-remediation.md
  source/content/guides/disaster-recovery/04-incident-remediation.md
Labels: Topic: CDN, Type: Quick Fix

#9153 Release note and doc changes for new site plan experience
  source/content/guides/account-mgmt/plans/07-site-plans.md
  source/content/guides/launch/03-plans.md
  source/images/release-notes/2024/new-site-plan-experience.png
  source/releasenotes/2024-08-07-site-plan-checkout-experience.md
Labels: Process: Hold for Release, Type: release-notes

#9155 Update cloudflare.md
  source/content/dns-providers/cloudflare.md
Labels: Topic: CDN, Type: Quick Fix

#9044 Feature/wecs 157 implement pagination for release notes 2
  gatsby-node.js
  src/components/releaseNotePopoverCategorySelector.js
  src/components/releaseNotesPager.js
  src/templates/releaseNotesListing/index.js
  tests/playwright-tests/visuals.spec.ts
Labels: Site: Site Structure

#8822 Update/clarify the WordPress Object Cache Pro documentation
  source/content/addons/object-cache/howto/wordpress.md
Labels: Source: PS, Source: Pantheor, Topic: WordPress, Source: First Contribution!

#9172 D11 Availability on Pantheon
  source/content/supported-drupal.md
Labels: Topic: Drupal, Type: Quick Fix

#9148 Pantheon Secrets guide: Improve information architecture
  source/content/guides/secrets/01-introduction.md
  source/content/guides/secrets/02-secrets-overview.md
  source/content/guides/secrets/03-terminus-plugin.md
  source/content/guides/secrets/04-php.md
  source/content/guides/secrets/04-use-cases.md
  source/content/guides/secrets/05-drupal.md
  source/content/guides/secrets/06-composer.md
  source/content/guides/secrets/07-local.md
  source/content/guides/secrets/08-troubleshooting.md
  source/releasenotes/2024-08-15-pantheon-secrets-limited-availability.md
Labels: Topic: Terminus, Topic: Security

#9171 Clarify support scope by tier and crosslink
  source/content/guides/disaster-recovery/03-site-goes-down.md
Labels: Type: Quick Fix

#9176 Billing: Automated overage charges now paused
  source/content/guides/account-mgmt/traffic/03-overages.md
  source/releasenotes/2024-08-15-overage-charges-updates.md
Labels: Topic: billing, Process: Hold for Release, Type: release-notes

#8975 LOPS-741 - PantheonSecrets Documentation
  source/content/drupal-updates.md
  source/content/guides/environment-configuration/02-read-environment-config.md
  source/content/guides/secrets/01-introduction.md
  source/content/guides/secrets/02-secrets-overview.md
  source/content/guides/secrets/04-php.md
  source/content/guides/secrets/05-drupal.md
  source/content/guides/secrets/06-composer.md
  source/content/guides/secrets/07-local.md
  source/content/guides/secrets/08-troubleshooting.md
  source/content/pivotal-tracker.md
  source/images/guides/secrets/add-key.png
  source/images/guides/secrets/secrets-relationships.png
  source/images/guides/secrets/sendgrid-config.png
  source/images/guides/secrets/sendgrid-email-test.png
  source/images/guides/secrets/sync-keys.png
  source/releasenotes/2024-08-22-pantheon-secrets-limited-availability.md
Labels: Type: New Doc (old label), Process: Hold for Release, Topic: Terminus, Topic: Security

#9179 Using Codespaces README update
  README.md
  source/images/assets/codespaces-application-available.png
  source/images/assets/codespaces-branch-list.png
  source/images/assets/codespaces-branch.png
  source/images/assets/codespaces-setup.png
Labels: Site: Site Structure, Topic: About Docs/Pantheon

#9173 [SITE-1134] Add documentation for configuring a WordPress multisite on WP Composer Managed
  source/content/guides/wordpress-composer/01-introduction.md
  source/content/guides/wordpress-composer/04-multisite-configuration.md
  source/images/wordpress-composer/04-multisite-enable-network.png
  source/images/wordpress-composer/04-multisite-my-sites.png
  source/images/wordpress-composer/04-multisite-network-setup.png
Labels: Type: New Content, Topic: WordPress, Topic: Code Structure
