Repository pantheon-systems/documentation, pull requests merged in 2024-04, with the labels that each got.

#8899 Update Solr known limitations
  source/content/solr.md
Labels: Pantheor, SME Needed

#8918 Create 2024-04-04-sftp-authentication-changes
  source/releasenotes/2024-04-17-sftp-authentication-changes.md
Labels: release-notes

#8955 PDS Toolkit Update
  package-lock.json
  package.json
  src/components/accordion/index.js
  src/components/headerBody/index.js
  src/components/navbar/index.js
Labels: Site

#8970 EA docs and release note for Workflow Logs
  source/content/workflow-logs.md
  source/images/dashboard/new-dashboard/workflow-logs/access-workflow-logs-tab.png
  source/images/dashboard/new-dashboard/workflow-logs/access-workflow-logs.png
  source/images/dashboard/new-dashboard/workflow-logs/details-code-sync.png
  source/images/dashboard/new-dashboard/workflow-logs/details-error-code.png
  source/images/dashboard/new-dashboard/workflow-logs/details-ic-error.png
  source/images/dashboard/new-dashboard/workflow-logs/details-ic.png
  source/images/dashboard/new-dashboard/workflow-logs/download.png
  source/images/dashboard/new-dashboard/workflow-logs/filter.png
  source/images/dashboard/new-dashboard/workflow-logs/quicksilver.png
  source/images/dashboard/new-dashboard/workflow-logs/status-details-success.png
  source/images/dashboard/new-dashboard/workflow-logs/status-indicators.png
  source/images/release-note-workflow-logs.jpg
  source/releasenotes/2024-04-26-ea-workflow-logs.md
Labels: Pantheor, release-notes
