Repository pantheon-systems/documentation, pull requests merged in 2024-12, with the labels that each got.

#9339 Drop (Changelog) from the Release Notes nav menu item
  src/layout/header/index.js
Labels: Site: Design

#9336 Release Note: [BUGS-8984] Terminus 3.6.1
  source/content/terminus/10-supported-terminus.md
  source/releasenotes/2024-12-05-terminus-361.md
Labels: Type: release-notes

#9332 Add clarity to WPMS documentation about requesting multisites
  source/content/guides/multisite/01-introduction.md
Labels: Type: Fix Content, Topic: WordPress

#9341 [SITE-2979] D7.103 Release Note
  source/releasenotes/2024-12-06-drupal-7-103.md
Labels: Topic: Drupal, Type: release-notes

#9327 Add Local Lando config for OCP and suggest Secrets for license storage
  source/content/addons/object-cache/howto/wordpress.md
Labels: Type: Fix Content, Topic: WordPress, Topic: Caching

#9340 Removing "dedicated" messaging from the Support Guide page.
  source/content/guides/account-mgmt/plans/09-workspace-plans.md
  source/content/guides/disaster-recovery/03-site-goes-down.md
  source/content/guides/support/01-scope.md
Labels: Source: CSE, Type: Quick Fix, Topic: accounts/workspaces

#9351 Fix Terminus Changelog
  source/content/terminus/11-updates.md
  src/components/releases.js
  src/components/terminusVersion.js
  src/templates/terminusCommand.js
  src/templates/terminuspage.js
Labels: Site: JavaScript, Topic: Terminus

#9097 Move all pages into a nested navigation
  gatsby-node.js
  gatsby-ssr.js
  source/content/guides/backups/01-introduction.md
  source/content/guides/backups/02-access-backups.md
  source/content/guides/backups/03-create-backups.md
  source/content/guides/backups/04-restore-from-backup.md
  source/content/guides/backups/05-code-archives-backups-log.md
  source/content/guides/backups/06-faqs-backups.md
  source/content/guides/domains/configure-dns.md
  source/content/guides/drush/04-drupal-commandline.md
  source/content/guides/local-development/10-continuous-integration.md
  source/content/guides/mariadb-mysql/09-database-connection-errors.md
  source/content/guides/sso/04-shibboleth-sso.md
  source/content/guides/wordpress-developer/07-wordpress-s3.md
  source/content/optimize-wp-options-table-autoloaded-data.md
  src/components/omniSidebarNav/all-written-paths.js
  src/components/omniSidebarNav/checkStatusCodes.js
  src/components/omniSidebarNav/getOmniItems.js
  src/components/omniSidebarNav/helpers.js
  src/components/omniSidebarNav/helpers.test.js
  src/components/omniSidebarNav/index.js
  src/components/omniSidebarNav/reporting-run.js
  src/components/omniSidebarNav/reporting.js
  src/components/omniSidebarNav/reporting.test.js
  src/components/omniSidebarNav/style.css
  src/components/omniSidebarNav/submenus/about.js
  src/components/omniSidebarNav/submenus/accountManagement.js
  src/components/omniSidebarNav/submenus/certification.js
  src/components/omniSidebarNav/submenus/frontEndSites.js
  src/components/omniSidebarNav/submenus/getStarted.js
  src/components/omniSidebarNav/submenus/goLive.js
  src/components/omniSidebarNav/submenus/pagesToDelete.js
  src/components/omniSidebarNav/submenus/security.js
  src/components/omniSidebarNav/submenus/support.js
  src/components/omniSidebarNav/submenus/terminus.js
  src/components/omniSidebarNav/submenus/webInfrastructure.js
  src/components/omniSidebarNav/submenus/workflows.js
  src/components/omniSidebarNav/testfixtures/allPaths.testfixture.js
  src/layout/header/index.js
  src/pages/glossary.js
  src/templates/doc.js
  src/templates/guide.js
  src/templates/landing.js
  src/templates/terminuspage.js
  src/templates/video.js
  tests/playwright-tests/visuals.spec.ts
Labels: Site: Site Structure

#9051 Update technical note for Object Cache with Drupal
  source/content/addons/object-cache/howto/drupal.md
Labels: Type: Fix Content, Process: Blocked, Source: Pantheor
