Repository pantheon-systems/documentation, pull requests merged in 2025-01, with the labels that each got.

#9313 Update installation instructions for WP-CFM
  source/content/guides/wordpress-configurations/04-wp-cfm.md
Labels: Type: Fix Content, Topic: WordPress

#9359 Add build size limitation for FES
  source/content/guides/decoupled/overview/02-considerations.md
Labels: Type: New Content, Type: Quick Fix, topic: App Servers / Environments

#9361 [UpdateTool - Terminus Information] Update commands and releases to version 3.6.1.
  source/data/terminusReleases.json
Labels: dependencies

#9373 [SITE-2998] drupal cms initial release
  source/content/supported-drupal.md
  source/releasenotes/2025-01-15-drupal-cms-upstream.md
Labels: Type: New Content, Topic: Drupal, Type: release-notes

#9367 Edge Change Requests - Release Note
  source/content/guides/account-mgmt/workspace-sites-teams/03-workspaces.md
  source/content/guides/agcdn/04-submit-request.md
  source/images/dashboard/new-dashboard/2024/agcdn-change-request.png
  source/releasenotes/2025-01-15-agcdn-change-requests.md
Labels: Type: release-notes

#9342 Docs for cms buttons in site dash
  source/content/dashboard.md
  source/content/guides/domains/04-primary-domain.md
  source/content/site-dashboard.md
  source/images/dashboard/new-dashboard/2024/site-dashboard-2024.png
  source/images/dashboard/new-dashboard/2024/site-dashboard.png
Labels: Type: New Content, Topic: Dashboard

#9366 Add instructions for Solr 8 custom configuration
  source/content/guides/solr-drupal/02-solr-drupal.md
  source/content/guides/solr-drupal/03-custom-config.md
  source/images/custom-solr-config.png
Labels: Type: New Content, Topic: Drupal, Topic: Search/Solr

#9375 [SITE-1972] php 5.3-5.5 eol release note
  source/releasenotes/2025-01-16-php-53-55-eol.md
Labels: Type: release-notes

#8836 Update modules-known-issues.md
  source/content/modules-known-issues.md
Labels: Process: Needs SME

#9380 Fix 404
  source/content/guides/account-mgmt/workspace-sites-teams/05-sites.md
Labels: Type: Quick Fix, Topic: Dashboard

#9364 9354 tutorial move
  source/content/drupal-commandline.md
  source/content/drupal-configuration-management.md
  source/content/guides/custom-upstream/08-test-custom-upstream.md
  source/content/guides/drush/01-introduction.md
  source/content/guides/getstarted/06-addsite.md
  source/content/style-guide.md
  source/data/landings.yaml
  source/releasenotes/2015-03-01-documentation.md
  source/releasenotes/2017-03-01-documentation.md
  source/releasenotes/2017-04-01-documentation.md
  src/components/omniSidebarNav/submenus/learning.js
Labels: Site: Site Structure

#9384 Fix drush command syntax
  source/content/guides/logs-pantheon/06-faq-logs.md
Labels: Type: Quick Fix

#9374 Clarify header overflow for too many headers
  source/content/guides/errors-and-server-responses/03-5xx-errors.md
Labels: Topic: CDN

#9378 Feature/DS-1182: Update PDS-Toolkit package to version 1.0.0 dev.173
  package-lock.json
  package.json
  src/layout/StaticHeader/index.js
Labels: dependencies, Site: Design

#9386 More specific headers, regenerated images
  source/content/drupal-cache.md
  source/images/aggregate-css-js.png
  source/images/compress-cached-pages.png
  source/images/d11-aggregate-css-js.png
  source/images/d11-cache-config.png
  source/images/d7-bandwidth-optimization.png
  source/images/d7-cache-config.png
  source/images/d7-exp-cached-pages.png
  source/images/d7-min-cache-lifetime.png
  source/images/d9-aggregate-css-js.png
  source/images/d9-cache-config.png
  source/images/exp-cached-pages.png
  source/images/re-d7-cache-config.png
  source/images/regenerated-d7-min-cache-lifetime.png
Labels: Type: Quick Fix

#9387 Fix sidebar nav for Errors and Server Responses
  src/components/omniSidebarNav/submenus/support.js
Labels: Site: Site Structure, Type: Quick Fix, Site: Design

#9388 Update plugins-known-issues.md for Solid Security debugging
  source/content/plugins-known-issues.md
Labels: Source: CSE, Source: Pantheor

#9389 Git reset Dev to Live for Integrated Composer sites
  source/content/guides/git/05-undo-commits.md
  source/content/terminus/03-examples.md
  source/scripts/ic-reset-dev-to-live.sh.txt
Labels: Type: New Content, Topic: Git

#9385 Deprecate stale doc
  source/content/crisis-response-upstream.md
Labels: Type: Quick Fix

#9392 Specify usage for .well-known/acme-challenge path
  source/content/guides/global-cdn/05-https.md
Labels: Topic: CDN

#9396 Restore cc step of relaunch procedure
  source/content/relaunch.md
Labels: Type: Quick Fix

#9398 SITE-3453 Update 2025-01-16-php-53-55-eol.md
  source/releasenotes/2025-01-16-php-53-55-eol.md
Labels: Type: release-notes

#9395 Regenerate images for guided migrations
  source/content/guides/migrate/guided/05-migrate.md
  source/content/partials/live-initialize.md
  source/content/partials/migrate/migrate-drupal.md
  source/content/partials/migrate/migrate-wp.md
  source/content/partials/test-initialize.md
  source/images/dashboard/new-dashboard/2024/launch-clone-dev-to-test.png
  source/images/dashboard/new-dashboard/2024/launch-clone-test-to-live.png
  source/images/dashboard/new-dashboard/2024/launch-initialize-live.png
  source/images/dashboard/new-dashboard/2024/migrate-site-button.png
  source/images/dashboard/new-dashboard/2024/migrate-site-cms-drupal.png
  source/images/dashboard/new-dashboard/2024/test-initialize.png
  source/images/launch-clone-dev-to-test.png
  source/images/launch-clone-test-to-live.png
  source/images/launch-initialize-live.png
  source/images/migrate-site-button.png
  source/images/migrate-site-cms-drupal.png
  source/images/test-initialize.png
Labels: Site: Design

#9400 Rsync and SFTP syntax fix
  source/content/guides/sftp/04-rsync-and-sftp.md
Labels: Source: CSE, Source: Pantheor

#9405 Fix code block on Object Cache Pro page
  source/content/addons/object-cache/howto/wordpress.md
Labels: Type: Fix Content, Topic: WordPress, Type: Quick Fix, Topic: Caching
