Repository pantheon-systems/documentation, pull requests merged in 2025-07, with the labels that each got.

#9549 [DEVREL-29] add release note for WPCM 1.33.0
  source/releasenotes/2025-07-01-wordpress-composer-managed-1-33-0.md
Labels: Process: Hold for Release, Type: release-notes

#9596 Remove dupe line in table
  source/content/guides/account-mgmt/workspace-sites-teams/07-teams.md
Labels: Type: Quick Fix

#9602 SITE-5044: PHP patch releases
  source/releasenotes/2025-07-07-php-81-82-83-patch-updates.md
Labels: Type: release-notes

#9610 Add definitions for User in Charge and Site Owner roles
  source/content/guides/account-mgmt/workspace-sites-teams/07-teams.md
Labels: Type: New Content, Topic: accounts/workspaces

#9595 [SITE-4733] release note re drupal 8-9.3 and solr
  source/releasenotes/2025-07-21-drupal-8-93-solr-eol.md
Labels: Topic: Drupal, Type: release-notes, Topic: Search/Solr

#9619 add Tin Canny Reporting to WP known issues page
  source/content/wordpress-known-issues.md
Labels: Topic: WordPress, Type: Quick Fix

#9600 [SITE-4944] php 8.4 plugin module compatibility release note
  source/releasenotes/2025-07-24-pantheon-plugins-and-modules-now-php-84-compatible.md
Labels: Type: release-notes, Topic: Code Structure

#9628 Rewrite AGCDN guide and announce new SKU
  source/content/guides/agcdn/01-introduction.md
  source/content/guides/agcdn/02-agcdn-features.md
  source/content/guides/agcdn/02-features.md
  source/content/guides/agcdn/03-agcdn-wafio.md
  source/content/guides/wordpress-developer/07-wordpress-s3.md
  source/content/guides/wordpress-developer/08-wordpress-gcs.md
  source/content/guides/wordpress-pantheon/09-wp-security.md
  source/releasenotes/2025-07-24-security-starter-with-rate-limiting.md
  src/components/omniSidebarNav/all-written-paths.js
  src/components/omniSidebarNav/checkStatusCodes.js
  src/components/omniSidebarNav/testfixtures/allGuides.testfixture.js
Labels: Topic: CDN, Type: release-notes
