Repository pantheon-systems/documentation, pull requests merged in 2025-06, with the labels that each got.

#9566 adds a check for missing .md file extension
  .github/workflows/release-note-file.yml
Labels: Site - CI

#9580 Advise keeping ssh connections alive
  source/content/guides/mariadb-mysql/04-database-workflow-tool.md
  source/content/partials/ssh-ServerAliveInterval.md
  source/content/ssh-keys.md
Labels: Type: Quick Fix, Topic: Security, Topic: CLI

#9587 Update modules-known-issues.md
  source/content/modules-known-issues.md
Labels: Source: CSE, Topic: Drupal

#9482 [WIP] adds MonsterInsights to known issues list
  source/content/wordpress-known-issues.md
Labels: Type: New Content, Process: Needs SME, Topic: CDN, Topic: WordPress, Process: Hold for Release

#9592 GitHub action 0.6.1 release note
  source/images/github-action/push-to-pantheon-0.6.1-commit.png
  source/releasenotes/2025-06-25-push-to-pantheon-action-0-6-1.md
Labels: Type: release-notes
