Repository pantheon-systems/documentation, pull requests merged in 2025-05, with the labels that each got.

#9540 Fix broken images - plugins known issues
  source/content/wordpress-known-issues.md
Labels: Topic: WordPress, Type: Quick Fix

#9538 Release note for EDRT-7308, interstitial pages
  source/content/guides/account-mgmt/plans/07-site-plans.md
  source/content/partials/cms-dev.md
  source/images/interstitial-warning-message.png
  source/releasenotes/2025-05-01-interstitial-pages.md
Labels: Type: New Content, Type: release-notes, Topic: accounts/workspaces

#9548 interstitial page now applies to all sandboxes
  source/content/guides/account-mgmt/plans/07-site-plans.md
  source/releasenotes/2025-05-01-interstitial-pages.md
Labels: Type: Fix Content, Topic: accounts/workspaces

#9536 [Release Note] Site Traffic by Billing Cycle
  source/content/guides/account-mgmt/traffic/01-introduction.md
  source/images/dashboard/new-dashboard/2025/workspace-site-list-traffic.png
  source/releasenotes/2025-05-08-workspace-traffic-insights.md
Labels: Process: Hold for Release, Type: release-notes, Topic: accounts/workspaces

#9513 [SITE-1607] php runtime generation 2 beta draft
  source/content/php-runtime-generation-2.md
  src/components/omniSidebarNav/submenus/webInfrastructure.js
Labels: Type: New Content, Process: Hold for Release, topic: App Servers / Environments

#9515 Update Tika versions
  source/content/external-libraries.md
Labels: Type: Fix Content, Process: Needs SME, topic: App Servers / Environments

#9518 GitHub Action and Application documentation
  source/content/github-actions.md
  source/content/github-application.md
  source/content/guides/build-tools/01-introduction.md
  source/images/github-action/deployment-in-github-ui.png
  source/images/github-action/diagram--deploying-pr.png
  source/images/github-action/diagram--pushing-main.png
  source/images/github-action/parallel-and-serial-jobs.png
  source/images/github-app/diagram--deploying-main.png
  source/images/github-app/diagram--deploying-pr.png
  src/components/omniSidebarNav/submenus/workflows.js
Labels: Type: New Content, topic: CI, Topic: Git

#9528 [Site-4307] D7 Pantheon Apache Solr module (7.x-1.1)
  source/releasenotes/2025-05-14-drops-7-solr-update.md
Labels: Topic: Drupal, Process: Hold for Release, Type: release-notes, Topic: Search/Solr

#9543 GitHub app and action release notes
  source/content/github-application.md
  source/releasenotes/2025-05-15-github-application.md
  source/releasenotes/2025-05-16-github-action.md
Labels: Process: Hold for Release

#9533 DS-1245 Refactor TOC component and update styles to make it sticky
  src/components/toc/index.js
  src/components/toc/style.css
  src/styles/main.css
Labels: dependencies, Site: Design

#9559 [UpdateTool - Terminus Information] Update commands and releases to version 4.0.1.
  source/content/terminus/02-install.md
  source/data/commands.json
  source/data/terminusReleases.json
Labels: Type: Fix Content, Topic: Terminus

#9550 New launch checklist
  source/content/guides/launch/01-introduction.md
  src/components/omniSidebarNav/submenus/goLive.js
Labels: Type: Fix Content

#9565 Object Cache Pro docsumentation updates
  source/content/addons/object-cache/howto/wordpress.md
Labels: Type: Fix Content, Topic: Code Structure, Topic: Caching
