Repository pantheon-systems/documentation, pull requests merged in 2025-08, with the labels that each got.

#9641 Create 2025-08-13-block-access-config-files
  source/releasenotes/2025-08-06-block-access-config-files.md
Labels: Type: release-notes, topic: App Servers / Environments

#9633 [SITE-4854] Add doc for wkhtmltopdf
  source/content/external-libraries.md
  source/content/php-runtime-generation-2.md
Labels: Type: Fix Content, Process: Hold for Release, topic: App Servers / Environments

#9656 Release note: beta site dash rollout
  source/images/release-notes/full-context-commit-history.png
  source/images/release-notes/toggle-beta-dash-banner.png
  source/releasenotes/2025-08-20-site-dashboard-beta.md
Labels: Type: release-notes, Topic: Dashboard
