Repository pantheon-systems/documentation, pull requests merged in 2025-02, with the labels that each got.

#9399 Fix meta descriptions
  source/content/certification/study-guide-cms/00-intro.md
  source/content/certification/study-guide-cms/01-webops.md
  source/content/certification/study-guide-cms/02-platform.md
  source/content/certification/study-guide-cms/03-create.md
  source/content/certification/study-guide-cms/04-cdn.md
  source/content/certification/study-guide-cms/05-cms.md
  source/content/certification/study-guide-cms/06-deploy.md
  source/content/certification/study-guide-cms/07-people.md
  source/content/certification/study-guide-cms/08-extend.md
  source/content/certification/study-guide-cms/09-automate.md
  source/content/certification/study-guide-cms/10-custom-upstreams.md
  src/templates/certificationpage.js
  src/templates/releaseNotePage.js
Labels: Site: JavaScript, Site: Design

#9414 Updates the WP Multisite configuration page to simplify the installation instructions
  source/content/guides/multisite/03-config.md
Labels: Type: Fix Content, Topic: WordPress

#9415 Adds a section about the Pantheon MU Plugin compatibility layer
  source/content/guides/wordpress-configurations/02-plugins.md
  source/content/plugins-known-issues.md
  source/images/pantheon-mu-plugin-compatibility.png
Labels: Type: New Content, Topic: WordPress

#9101 8720 contributor links
  src/templates/contributor.js
Labels: Site: Site Structure

#9427 Incident Remediation - Update links
  source/content/guides/disaster-recovery/04-incident-remediation.md
Labels: Type: Quick Fix

#9419 Add release note for WordPress (Composer Managed) 1.32.4
  source/releasenotes/2025-02-10-wordpress-composer-managed-1-32-4.md
Labels: Type: release-notes

#9394 feature/DS-1182: Update PDS-Toolkit package to version 1.0.0 dev.217
  package-lock.json
  package.json
  src/components/HeroCTA/index.js
  src/components/releaseNotePopoverCategorySelector.js
  src/layout/footer/index.js
  src/layout/layout/index.js
  src/styles/main.css
  src/templates/landing.js
  src/templates/releaseNotesListing/index.js
Labels: dependencies, Site: Design

#9403 WIP - January 2025 npm updates
  .github/workflows/prettier.yml
  package-lock.json
  src/components/accordion/index.js
  src/components/buildTools.js
  src/components/card/index.js
  src/components/commands/index.js
  src/components/wistia/index.js
  src/layout/GuideLayout/index.js
  src/layout/SearchBar/index.js
  src/layout/StaticFooter/index.js
  src/layout/changelog-preview/index.js
  src/layout/changelog-preview/styles.css
  src/layout/footer/index.js
  src/layout/guide-item/index.js
  src/pages/index.js
  src/pds-middleware/ChangelogList/index.js
  src/templates/landing.js
  src/templates/terminuspage.js
Labels: dependencies

#9416 New offboarding guide
  source/content/guides/account-mgmt/workspace-sites-teams/07-teams.md
  source/content/guides/account-mgmt/workspace-sites-teams/08-offboarding.md
Labels: Type: New Content, Topic: accounts/workspaces

#9418 Restructure SSH keys documentation
  source/content/agency-tips.md
  source/content/certification/study-guide-cms/05-cms.md
  source/content/certification/study-guide-cms/06-deploy.md
  source/content/partials/auth.md
  source/content/ssh-keys.md
Labels: Type: Fix Content, Topic: Security, Topic: Dashboard

#9432 Add step to install module - Customize Solr Config
  source/content/guides/solr-drupal/03-custom-config.md
Labels: Topic: Drupal, Type: Quick Fix, Topic: Search/Solr

#9434 Release note for WordPress 6.7.2
  source/releasenotes/2025-02-11-wordpress-6-7-2.md
Labels: Topic: WordPress, Type: release-notes

#9421 Fix enablement styles
  src/components/enablement/index.js
Labels: Site: JavaScript, Site: Design

#9431 WordPress (Composer Managed) 1.32.5 upstream update
  source/releasenotes/2025-02-11-wordpress-composer-managed-1-32-5.md
Labels: Topic: WordPress, Type: release-notes, Topic: Code Structure

#9436 Release note - content publisher side by side
  source/releasenotes/2024-11-20-content-publisher-beta.md
  source/releasenotes/2025-02-13-pcc-side-by-side.md
  source/releasenotescategories/releaseNoteCategories.json
Labels: Type: release-notes

#9449 Release note and docs for public roadmap
  source/content/roadmap.md
  source/data/landings.yaml
  source/images/roadmap-buttons.png
  source/releasenotes/2025-02-19-product-roadmap.md
  src/components/omniSidebarNav/submenus/about.js
Labels: Type: release-notes

#9450 Update PDS to 1.0.0-dev.188
  package-lock.json
  package.json
  src/components/ReleaseNoteTeaser/index.js
  src/styles/main.css
  src/templates/releaseNotesListing/index.js
Labels: dependencies

#9456 Specify NR feature set
  source/content/guides/new-relic/01-introduction.md
  source/content/guides/new-relic/03-monitor-new-relic.md
Labels: Type: New Content, Topic: New Relic

#9460 Add release note for NR api key retirement
  source/images/release-notes/nr-api-key-example-no-keys.png
  source/images/release-notes/nr-api-key-example-with-keys.png
  source/releasenotes/2025-02-27-rest-api-v2.md
Labels: Type: release-notes, Topic: New Relic
