Repository pantheon-systems/documentation, pull requests merged in 2025-03, with the labels that each got.

#9472 adds release note for terminus 4.0.0-alpha1
  source/releasenotes/2025-03-07-terminus-4-0-0-alpha1.md
Labels: Type: release-notes

#9433 rework known issues pages
  source/content/agency-tips.md
  source/content/basic-troubleshooting.md
  source/content/caching-advanced-topics.md
  source/content/crisis-response-upstream.md
  source/content/guides/account-mgmt/traffic/05-remedy.md
  source/content/guides/autopilot/03-enable-autopilot.md
  source/content/guides/backups/06-faqs-backups.md
  source/content/guides/domains/10-troubleshooting.md
  source/content/guides/errors-and-server-responses/05-external-web-service-calls.md
  source/content/guides/getstarted/06-addsite.md
  source/content/guides/multisite/02-considerations.md
  source/content/guides/multisite/07-debug.md
  source/content/guides/platform-considerations/02-platform-site-info.md
  source/content/guides/professional-services/02-website-migration-service.md
  source/content/guides/wordpress-configurations/01-introduction.md
  source/content/guides/wordpress-configurations/02-plugins.md
  source/content/guides/wordpress-configurations/03-mu-plugin.md
  source/content/guides/wordpress-configurations/06-wordpress-custom-code.md
  source/content/guides/wordpress-developer/09-wordpress-broken-links.md
  source/content/guides/wordpress-pantheon/03-migrate-existing-wp-site.md
  source/content/guides/wordpress-pantheon/11-troubleshooting.md
  source/content/guides/wp-cli/04-install-wp-plugins-themes.md
  source/content/migrate-manual.md
  source/content/modules-plugins-known-issues.md
  source/content/partials/migrate/prepare.md
  source/content/partials/search-replace-domains.md
  source/content/plugins-known-issues.md
  source/content/server_name-and-server_port.md
  source/content/supported-wp.md
  source/content/symlinks-assumed-write-access.md
  source/content/terminus/06-plugins.md
  source/content/timeouts.md
  source/content/wordpress-known-issues.md
  source/data/landings.yaml
  source/releasenotes/2015-06-01-documentation.md
  source/releasenotes/2024-07-29-pantheon-mu-plugin-1-5-0.md
  source/releasenotes/2024-09-09-pantheon-mu-plugin-1-5-1.md
  src/components/omniSidebarNav/all-written-paths.js
  src/components/omniSidebarNav/checkStatusCodes.js
  src/components/omniSidebarNav/submenus/support.js
Labels: Site: Site Structure, Topic: WordPress, Topic: Drupal

#9461 Audit docs for account sign up
  source/content/guides/getstarted/03-signup.md
Labels: Type: Fix Content, Type: Quick Fix

#9474 [SITE-1031] papc solr_api_pantheon d11 compatible release note
  source/releasenotes/2025-03-11-drupal-module-d11-compatibility.md
Labels: Topic: Drupal, Type: release-notes

#9457 Don't protect public files path
  source/content/pantheon-yml.md
Labels: Type: Quick Fix, Topic: Code Structure

#9477 Pantheon MU Plugin 1.5.3 release note
  source/releasenotes/2025-03-12-pantheon-mu-plugin-1-5-3.md
Labels: Type: release-notes

#9453 SITE-1972: EoL PHP 5.3 & 5.5
  source/content/guides/php/01-introduction.md
  source/releasenotes/2025-03-12-php-eol-53-55.md
Labels: Process: Hold for Release, Type: release-notes

#9476 Updating email for SSO account
  source/content/guides/sso/03-sso-organizations.md
  source/content/personal-settings.md
Labels: Type: New Content, Topic: accounts/workspaces

#9488 Update horizontal-scalability.md
  source/content/horizontal-scalability.md
Labels: Source: CSE

#9481 fix composer require typo
  source/content/guides/secrets/07-local.md
Labels: Type: Fix Content, Type: Quick Fix, Topic: Secrets

#9412 add new page about TLS
  source/content/guides/global-cdn/05-https.md
  source/content/guides/platform-considerations/03-platform-security.md
  source/content/tls-compatibility.md
  source/scripts/tls-1-2-compatibility-scan.sh.txt
  src/components/omniSidebarNav/submenus/support.js
Labels: Type: New Content, Process: Blocked, Topic: Security

#9459 Fixes for drupal-commandline tutorial
  source/content/drupal-commandline.md
Labels: Topic: Terminus

#9455 Update PDS to dev.228
  gatsby-browser.js
  package-lock.json
  package.json
  src/components/HeroCTA/index.js
  src/components/commands/index.js
  src/components/github/style.css
  src/components/navButtons/index.js
  src/components/product/index.js
  src/components/releaseNotePopoverCategorySelector.js
  src/layout/GuideLayout/index.js
  src/layout/GuideLayout/style.css
  src/layout/SearchBar/index.js
  src/layout/footer/index.js
  src/layout/footer/style.css
  src/layout/header/index.js
  src/layout/layout/index.js
  src/layout/subtopic-group/index.js
  src/pages/glossary.js
  src/pds-middleware/DocsNavbar/DocsNavbar.jsx
  src/pds-middleware/DocsNavbar/docs-navbar.css
  src/pds-middleware/DocsSidebarLayout/DocsSidebarLayout.jsx
  src/pds-middleware/customPropTypes.js
  src/pds-middleware/pds-utils.js
  src/styles/codeBlocks.css
  src/styles/main.css
  src/styles/pds-additions.css
  src/styles/pds-grid-overrides.css
  src/templates/doc.js
  src/templates/landing.js
  src/templates/releaseNotesListing/index.js
  src/templates/releaseNotesListing/style.css
  src/templates/video.js
  src/vars/responsive.js
Labels: dependencies, Process: Hold for Release, Site: Design

#9402 WIP - Factual corrections on solr page
  source/content/guides/account-mgmt/plans/03-resources.md
  source/content/guides/wordpress-configurations/02-plugins.md
  source/content/guides/wordpress-developer/10-wordpress-solr.md
  source/content/solr.md
Labels: Type: Fix Content, Topic: Search/Solr, Process: SME Wanted

#9495 Add release note for new relic ip ranges
  source/releasenotes/2025-03-19-new-relic-ip-ranges.md
Labels: Type: release-notes, Topic: New Relic

#9492 SITE-3350 - adding drush 13
  source/content/guides/drush/02-drush-versions.md
  source/content/partials/drush-compatibility.md
Labels: Type: Fix Content, Topic: CLI
