Repository pantheon-systems/documentation, pull requests merged in 2025-04, with the labels that each got.

#9494 Debug broken anchor
  src/components/popover.js
Labels: Type: Quick Fix, Site: Design

#9498 Add Duplicator Pro as known issue (backup archives)
  source/content/wordpress-known-issues.md
Labels: Type: New Content, Topic: WordPress

#9510 [SITE-4178] Drush 5/7 upcoming EOL release note
  source/releasenotes/2025-04-08-drush-5-7-eol.md
Labels: Topic: Drupal, Type: release-notes

#9511 Update images for purchasing a site plan
  source/content/guides/getstarted/07-purchase.md
  source/images/dashboard/new-dashboard/2025/purchase-add-card-button.png
  source/images/dashboard/new-dashboard/2025/purchase-add-card-info.png
  source/images/dashboard/new-dashboard/2025/purchase-place-order.png
  source/images/dashboard/new-dashboard/2025/purchase-upgrade-plan-button.png
  source/images/dashboard/new-dashboard/2025/select-plan.png
  source/images/dashboard/select-plan.png
  source/images/purchase-add-card-button.png
  source/images/purchase-add-card-info.png
  source/images/purchase-place-order.png
  source/images/purchase-plan-size.png
  source/images/purchase-select-card.png
  source/images/purchase-upgrade-plan-button.png
Labels: Type: Fix Content, Topic: Dashboard

#9519 Remove stale link
  source/content/terminus/02-install.md
Labels: Topic: Terminus, Type: Quick Fix

#9521 WordPress 6.8 release
  source/releasenotes/2025-04-15-wordpress-6-8.md
Labels: Topic: WordPress, Type: release-notes

#9520 Add requirement for automated cert renewals
  source/content/partials/https-requirements.md
Labels: Topic: CDN, Type: Quick Fix, Topic: Security
