Repository pantheon-systems/documentation, pull requests merged in 2025-09, with the labels that each got.

#9643 Update Tin Canny Reporting issue
  source/content/wordpress-known-issues.md
Labels: Type: Fix Content, Topic: WordPress

#9671 New sites use PHP Runtime Generation 2 [Sept 10]
  source/content/php-runtime-generation-2.md
  source/releasenotes/2025-09-10-php-runtime-gen2-new-site-default.md
  src/components/omniSidebarNav/submenus/webInfrastructure.js
Labels: Type: release-notes, topic: App Servers / Environments

#9673 PHP runtime gen2 new dates
  source/content/php-runtime-generation-2.md
  source/releasenotes/2025-07-09-tls-10-11-eol.md
  source/releasenotes/2025-08-08-wkhtmltopdf-dompdf-with-php-runtime-gen-2.md
  source/releasenotes/2025-08-11-php-runtime-generation-2-rollout.md
  source/releasenotes/2025-09-05-php-runtime-gen2-new-sites.md
  source/releasenotes/2025-09-10-php-runtime-gen2-new-site-default.md
Labels: Type: release-notes, topic: App Servers / Environments

#9655 Update 06-wordpress-cron.md
  source/content/guides/wordpress-developer/06-wordpress-cron.md
Labels: Topic: WordPress, Type: Quick Fix

#9674 Autopilot troubleshooting page
  source/content/guides/autopilot/07-troubleshoot.md
Labels: Topic: autopilot, Type: Quick Fix

#9672 PHP Runtime Gen 2 rollout begins [September 24]
  source/releasenotes/2025-09-24-php-runtime-gen2-rollout-begins.md
Labels: Process: Hold for Release, Type: release-notes, topic: App Servers / Environments
